Repository researcherhojin/emelmujiro: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

deploy: cfe4cf1fd3e3c0ec657b68d4c49aadb7b9cdc360
  404.html
  asset-manifest.json
  index.html
  static/js/main.14c2b947.js
  static/js/main.14c2b947.js.map
  static/js/main.cc0f9177.js
  static/js/main.cc0f9177.js.LICENSE.txt
  static/js/main.cc0f9177.js.map
Due: none

fix: TypeScript 타입 경고 해결
  frontend/src/utils/performanceMonitoring.ts
Due: frontend

deploy: 87ad435606cd43f2af811ad605aa81ac306f907b
  404.html
  asset-manifest.json
  index.html
  static/js/main.308547b3.js
  static/js/main.308547b3.js.LICENSE.txt
  static/js/main.308547b3.js.map
  static/js/main.cc0f9177.js
  static/js/main.cc0f9177.js.map
Due: none

fix: djangorestframework-simplejwt 보안 취약점 수정 (CVE-2024-22513)
  backend/requirements.txt
Due: backend

docs: README.md 대규모 업데이트 - Phase 19 추가
  README.md
Due: none

feat: 의존성 업데이트 및 Web Vitals 모니터링 대시보드 구현
  backend/api/urls.py
  backend/config/urls.py
  frontend/DEPENDENCY_UPDATE_PLAN.md
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/common/NotificationPermission.tsx
  frontend/src/components/common/WebVitalsDashboard.tsx
  frontend/tsconfig.json
  package-lock.json
  package.json
Due: frontend, backend

fix: Web Vitals 5.x 호환성 수정 및 불필요한 폴더 제거
  frontend/src/components/common/WebVitalsDashboard.tsx
Due: frontend

fix: Web Vitals 5.x API 전체 마이그레이션
  frontend/src/reportWebVitals.ts
  frontend/src/utils/performanceMonitoring.ts
  frontend/src/utils/webVitals.ts
Due: frontend

fix: Python 환경 문제 해결 및 백엔드 테스트 추가
  backend/api/serializers.py
  backend/api/tests.py
  backend/api/urls.py
Due: backend

fix: 백엔드 테스트 타입 힌트 추가로 Pylance 경고 해결
  backend/api/tests.py
Due: backend

chore: Pylance/Pyright 설정 추가로 IDE 타입 체킹 개선
  backend/pyrightconfig.json
Due: backend

fix: CI/CD 백엔드 테스트 실패 수정 - URL 중복 정의 제거
  backend/api/urls.py
  backend/config/urls.py
Due: backend

fix: 백엔드 테스트 타입 체킹 개선 - response.data None 체크 추가
  backend/api/tests.py
Due: backend

fix: CI/CD 백엔드 테스트 301 리다이렉션 문제 해결
  backend/api/tests.py
  backend/config/settings.py
Due: backend

deploy: cba13333da1ec01173cdd347110c3b30589d9bc3
  404.html
  asset-manifest.json
  index.html
  static/css/main.d308202d.css
  static/css/main.d308202d.css.map
  static/css/main.ef2d6d75.css
  static/css/main.ef2d6d75.css.map
  static/js/main.308547b3.js
  static/js/main.308547b3.js.map
  static/js/main.dd024023.js
  static/js/main.dd024023.js.LICENSE.txt
  static/js/main.dd024023.js.map
Due: none

fix: 백엔드 테스트 파일 타입 체킹 경고 완전 해결
  backend/api/tests.py
Due: backend

docs: README.md 업데이트 - 테스트 현황 및 프로젝트 지표 갱신
  README.md
Due: none

feat: react-helmet-async TypeScript 타입 정의 추가
  frontend/src/@types/react-helmet-async.d.ts
Due: frontend

test: Playwright E2E 테스트 환경 구축
  frontend/e2e/blog.spec.ts
  frontend/e2e/contact.spec.ts
  frontend/e2e/homepage.spec.ts
  frontend/playwright.config.ts
Due: none

refactor: 중복 JavaScript E2E 테스트 파일 제거
  frontend/e2e/accessibility.spec.js
  frontend/e2e/auth.spec.js
  frontend/e2e/blog.spec.js
  frontend/e2e/contact.spec.js
  frontend/e2e/homepage.spec.js
  frontend/e2e/pwa.spec.js
Due: none

test: 테스트 유틸리티 및 Mock 설정 추가
  frontend/src/test-utils/mocks/handlers.ts
  frontend/src/test-utils/mocks/server.ts
  frontend/src/test-utils/polyfills.ts
  frontend/src/test-utils/test-utils.tsx
Due: none

test: Blog 컴포넌트 테스트 추가 및 개선
  frontend/src/components/blog/__tests__/BlogComments.test.tsx
  frontend/src/components/blog/__tests__/BlogListPage.test.tsx
  frontend/src/components/blog/__tests__/BlogSearch.test.tsx
Due: none

test: Common 컴포넌트 테스트 추가
  frontend/src/components/common/__tests__/AppUpdateNotification.test.tsx
  frontend/src/components/common/__tests__/NotFound.test.tsx
  frontend/src/components/common/__tests__/OfflineIndicator.test.tsx
  frontend/src/components/common/__tests__/PageLoading.test.tsx
  frontend/src/components/common/__tests__/ScrollToTop.test.tsx
Due: none

test: AboutPage 컴포넌트 테스트 추가
  frontend/src/components/pages/__tests__/AboutPage.test.tsx
Due: none

test: 루트 레벨 테스트 파일 추가 및 개선
  frontend/src/__tests__/index.test.tsx
  frontend/src/__tests__/reportWebVitals.test.ts
  frontend/src/__tests__/serviceWorkerRegistration.test.ts
Due: none

test: Logger 유틸리티 테스트 추가
  frontend/src/utils/__tests__/logger.test.ts
Due: none

fix: setupTests.ts classList mock 개선
  frontend/src/setupTests.ts
Due: none

chore: TypeScript 설정 업데이트
  frontend/tsconfig.json
Due: none

chore: package.json E2E 테스트 스크립트 추가
  frontend/package.json
Due: none

test: 유틸리티 함수 테스트 개선
  frontend/src/utils/__tests__/dateFormat.test.ts
  frontend/src/utils/__tests__/security.test.ts
Due: none

chore: package-lock.json 업데이트
  package-lock.json
Due: none

fix: CI/CD 파이프라인 테스트 실패 수정
  frontend/src/__tests__/index.test.tsx
  frontend/src/__tests__/serviceWorkerRegistration.test.ts
  frontend/src/components/blog/__tests__/BlogListPage.test.tsx
  frontend/src/components/blog/__tests__/BlogSearch.test.tsx
  frontend/src/components/pages/__tests__/AboutPage.test.tsx
Due: none

fix: Jest 테스트 스위트 오류 해결
  frontend/src/__tests__/serviceWorkerRegistration.test.ts
Due: none

fix: CI/CD pipeline errors and test failures
  frontend/src/components/chat/MessageList.tsx
  frontend/src/components/common/__tests__/DarkModeToggle.test.tsx
  frontend/src/components/common/__tests__/WebVitalsDashboard.test.tsx
  frontend/src/components/layout/__tests__/SEO.test.tsx
  frontend/src/setupTests.ts
Due: frontend

Updates
  asset-manifest.json
  index.html
  locales/en/about.json
  locales/en/blog.json
  locales/en/common.json
  locales/en/contact.json
  locales/en/home.json
  locales/en/navigation.json
  locales/en/profile.json
  locales/ko/about.json
  locales/ko/blog.json
  locales/ko/common.json
  locales/ko/contact.json
  locales/ko/home.json
  locales/ko/navigation.json
  manifest.json
  service-worker-enhanced.js
  sitemap.xml
  static/css/main.518ab90f.css
  static/css/main.5eed95a0.css
  static/js/517.a0756c0e.chunk.js
  static/js/517.ca76bb91.chunk.js
  static/js/517.ca76bb91.chunk.js.LICENSE.txt
  static/js/917.3bf7ccca.chunk.js
  static/js/917.c780fef5.chunk.js
  static/js/main.0ffdd30c.js
  static/js/main.459d5299.js
  static/js/main.459d5299.js.LICENSE.txt
Due: none

fix: Resolve remaining CI/CD pipeline errors
  frontend/public/sitemap.xml
  frontend/src/components/common/NotificationPrompt.tsx
  frontend/src/contexts/ChatContext.tsx
  frontend/src/services/websocket.ts
  frontend/src/test-utils/renderWithProviders.tsx
  frontend/src/utils/__tests__/seoConfig.test.ts
Due: frontend

fix: Final CI/CD pipeline fixes
  frontend/src/__tests__/serviceWorkerRegistration.test.ts
  frontend/src/test-utils/renderWithProviders.tsx
Due: none

test: Improve test stability and fix mocking issues
  frontend/src/App.test.tsx
  frontend/src/contexts/UIContext.tsx
  frontend/src/contexts/__tests__/UIContext.test.tsx
Due: frontend

Path conditions:
  frontend: any of: frontend/src, but not: **/__tests__/**, **/*.test.js, **/*.test.ts, **/*.test.tsx, **/*.spec.js, **/*.spec.ts, **/test-utils/**, **/mock/**, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts
  backend: any of: backend, but not: **/__tests__/**, **/*.test.js, **/*.test.ts, **/*.test.tsx, **/*.spec.js, **/*.spec.ts, **/test-utils/**, **/mock/**, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts
