Repository researcherhojin/emelmujiro: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

fix(ci): replace unreliable 404 E2E test with SPA fallback check
  frontend/e2e/error-states.spec.ts
Due: none

docs: update Django 5→6, sync uv.lock, update test counts to 1236
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  backend/uv.lock
Due: backend

refactor: move FAQ from standalone page to homepage section
  .gitignore
  CLAUDE.md
  README.md
  frontend/scripts/generate-sitemap.js
  frontend/src/App.tsx
  frontend/src/components/common/Footer.tsx
  frontend/src/components/common/__tests__/Footer.test.tsx
  frontend/src/components/sections/FAQSection.tsx
  frontend/src/components/sections/__tests__/FAQSection.test.tsx
Due: frontend

refactor: simplify FAQ, fix section backgrounds, improve content safety
  CLAUDE.md
  README.md
  frontend/src/components/sections/CTASection.tsx
  frontend/src/components/sections/FAQSection.tsx
  frontend/src/components/sections/__tests__/FAQSection.test.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

fix: exempt health check from rate limiting, fix ALLOWED_HOSTS and CORS defaults
  CLAUDE.md
  README.md
  backend/.env.example
  backend/api/middleware.py
  backend/api/tests.py
  backend/api/views.py
  backend/config/settings.py
  docker-compose.yml
  frontend/public/sitemap-index.xml
  frontend/src/utils/__tests__/webVitals.test.ts
Due: backend

fix: clean up rate limit cache in health check test to prevent test pollution
  backend/api/tests.py
Due: backend

fix: use DummyCache in tests to prevent middleware rate limit leaking between test classes
  backend/api/tests.py
  backend/config/settings.py
  frontend/public/sitemap-index.xml
Due: backend

refactor: fix config issues across root files, add WebSocket error test
  .prettierignore
  Makefile
  backend/api/tests.py
  docker-compose.dev.yml
  docker-compose.yml
  package.json
Due: backend

refactor: fix hardcoded i18n string, bookmark type mismatch, CI config cleanup
  .github/workflows/main-ci-cd.yml
  .github/workflows/pr-checks.yml
  docker-compose.dev.yml
  frontend/src/components/blog/BlogDetail.tsx
  frontend/src/components/blog/BlogInteractions.tsx
  frontend/src/components/blog/__tests__/BlogDetail.test.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

test: cover security_check.py lines 47, 64 (backend 100% coverage)
  backend/api/tests.py
Due: backend

refactor: harden security, docker-compose frontend integration, CI cleanup
  .github/dependabot.yml
  .github/workflows/pr-checks.yml
  CLAUDE.md
  README.md
  backend/api/constants.py
  backend/api/migrations/0010_add_ip_address_to_blogcomment.py
  backend/api/models.py
  backend/api/serializers.py
  backend/api/tests.py
  backend/api/views.py
  backend/config/settings.py
  docker-compose.yml
  frontend/index.html
  frontend/nginx.conf
  scripts/auto-deploy.sh
  scripts/pre-deploy-check.sh
Due: backend

style: fix Black formatting on views.py and tests.py
  backend/api/tests.py
  backend/api/views.py
Due: backend

ci: ignore lucide-react and typescript major updates in dependabot
  .github/dependabot.yml
Due: none

fix: update README badges (TS 6.0, Vitest 4.1), fix frontend health check IPv6
  README.md
  docker-compose.yml
Due: none

fix: exclude health check Wget from nginx access log
  frontend/nginx.conf
Due: none

fix: revert CSP SHA256 hashes back to unsafe-inline
  CLAUDE.md
  frontend/index.html
  frontend/nginx.conf
Due: none

chore: track shared config files, update README badge
  .gitignore
  README.md
  backend/uv.lock
  frontend/.env.production
  frontend/.gitignore
  frontend/.vscode/settings.json
Due: backend

refactor: comprehensive codebase hardening and quality improvements
  CLAUDE.md
  Makefile
  README.md
  backend/api/admin_views.py
  backend/api/constants.py
  backend/api/middleware.py
  backend/api/tests.py
  backend/api/views.py
  backend/config/settings.py
  codecov.yml
  frontend/Dockerfile.dev
  frontend/nginx.conf
  frontend/src/components/blog/BlogListPage.tsx
  frontend/src/components/blog/BlogSearch.tsx
  frontend/src/components/blog/EditorToolbar.tsx
  frontend/src/components/blog/SlashCommandMenu.tsx
  frontend/src/components/blog/__tests__/EditorToolbar.test.tsx
  frontend/src/components/blog/__tests__/TipTapEditor.test.tsx
  frontend/src/contexts/BlogContext.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
  frontend/src/main.tsx
  frontend/src/services/__tests__/api.test.ts
  scripts/auto-deploy.sh
  scripts/deploy-webhook.js
  scripts/ports.sh
  scripts/update-test-counts.sh
Due: frontend, backend

docs: refactor CLAUDE.md from 290 to 95 lines
  CLAUDE.md
Due: none

fix: security hardening for dev compose, API docs, and warning dedup
  backend/api/urls.py
  backend/config/settings.py
  docker-compose.dev.yml
Due: backend

refactor: CI pipeline optimization, security hardening, and script improvements
  .github/workflows/main-ci-cd.yml
  .github/workflows/pr-checks.yml
  .gitignore
  CLAUDE.md
  Makefile
  README.md
  frontend/scripts/prerender.js
  scripts/auto-deploy.sh
  scripts/pre-deploy-check.sh
  scripts/start-dev.sh
  scripts/update-test-counts.sh
Due: none

refactor(ci): optimize PR checks — merge bundle job, cache Playwright
  .github/workflows/pr-checks.yml
Due: none

fix: DB indexes, ValidationError bug, Dockerfile layers, gunicorn, nginx cache
  backend/Dockerfile
  backend/api/migrations/0011_bloglike_api_bloglik_ip_addr_5c4b15_idx_and_more.py
  backend/api/models.py
  backend/api/views.py
  frontend/Dockerfile
  frontend/nginx.conf
Due: backend

refactor: parallelize build, test, and pre-deploy checks
  Makefile
  frontend/package.json
  scripts/pre-deploy-check.sh
Due: none

fix: deploy lock orphan recovery, missing npm ci, and config cleanup
  .env.example
  CLAUDE.md
  README.md
  backend/.dockerignore
  frontend/.dockerignore
  scripts/auto-deploy.sh
  scripts/deploy-webhook.js
  scripts/update-test-counts.sh
Due: backend

docs: update CLAUDE.md architecture notes, README test count, and black format fix
  CLAUDE.md
  README.md
  backend/api/views.py
Due: backend

docs(readme): expand commands, architecture diagram, and feature details
  README.md
Due: none

docs(claude): add backend single test command, make targets, and E2E profiles
  CLAUDE.md
Due: none

test: achieve 100% coverage across all metrics (93.47% → 100% branches)
  CLAUDE.md
  README.md
  frontend/nginx.conf
  frontend/src/__tests__/App.test.tsx
  frontend/src/__tests__/i18n.test.ts
  frontend/src/components/blog/BlogSearch.tsx
  frontend/src/components/blog/__tests__/BlogCard.test.tsx
  frontend/src/components/blog/__tests__/BlogComments.test.tsx
  frontend/src/components/blog/__tests__/BlogDetail.test.tsx
  frontend/src/components/blog/__tests__/BlogEditor.test.tsx
  frontend/src/components/blog/__tests__/BlogInteractions.test.tsx
  frontend/src/components/blog/__tests__/BlogSearch.test.tsx
  frontend/src/components/blog/__tests__/EditorToolbar.test.tsx
  frontend/src/components/blog/__tests__/TipTapEditor.test.tsx
  frontend/src/components/common/__tests__/NotificationBell.test.tsx
  frontend/src/components/common/__tests__/SEOHelmet.test.tsx
  frontend/src/components/common/__tests__/SkipLink.test.tsx
  frontend/src/components/common/__tests__/StructuredData.test.tsx
  frontend/src/components/common/__tests__/UnifiedLoading.test.tsx
  frontend/src/components/common/__tests__/WebVitalsDashboard.test.tsx
  frontend/src/components/pages/SharePage.tsx
  frontend/src/components/sections/__tests__/FAQSection.test.tsx
  frontend/src/config/__tests__/env.test.ts
  frontend/src/constants/__tests__/partners.test.ts
  frontend/src/contexts/NotificationContext.tsx
  frontend/src/contexts/__tests__/AuthContext.test.tsx
  frontend/src/contexts/__tests__/BlogContext.test.tsx
  frontend/src/contexts/__tests__/NotificationContext.test.tsx
  frontend/src/contexts/__tests__/UIContext.test.tsx
  frontend/src/data/__tests__/blogPosts.test.ts
  frontend/src/hooks/__tests__/useToast.test.ts
  frontend/src/i18n.ts
  frontend/src/services/__tests__/websocket.test.ts
  frontend/src/services/websocket.ts
  frontend/src/utils/__tests__/accessibility.test.ts
  frontend/src/utils/__tests__/logger.test.ts
  frontend/src/utils/__tests__/urlPrefixLookup.test.ts
  frontend/src/utils/__tests__/webVitals.test.ts
  frontend/src/utils/urlPrefixLookup.ts
  frontend/vitest.config.ts
Due: frontend

chore: auto-generate sitemap/robots.txt at build time, remove from git
  .github/workflows/pr-checks.yml
  .gitignore
  frontend/public/robots.txt
  frontend/public/sitemap-index.xml
  frontend/public/sitemap.xml
Due: none

test: backend 100% coverage + fix comment spam ValidationError + deps update
  backend/api/tests.py
  backend/api/views.py
  frontend/package.json
  package-lock.json
Due: backend

docs(readme): update version badges and add coverage/test count badges
  README.md
Due: none

chore: update package-lock.json from npm audit fix
  package-lock.json
Due: none

chore: update root configs — codecov 100% target, fix Makefile, sync deps
  .npmrc
  Makefile
  codecov.yml
  package-lock.json
  package.json
Due: none

refactor: remove WebSocket, Channels, Daphne, and Redis
  .env.example
  CLAUDE.md
  README.md
  backend/.env.example
  backend/api/consumers.py
  backend/api/routing.py
  backend/api/tests.py
  backend/api/views.py
  backend/config/asgi.py
  backend/config/settings.py
  backend/pyproject.toml
  backend/uv.lock
  docker-compose.dev.yml
  docker-compose.yml
  frontend/.env.example
  frontend/nginx.conf
  frontend/src/components/common/__tests__/NotificationBell.test.tsx
  frontend/src/config/__tests__/env.test.ts
  frontend/src/config/env.ts
  frontend/src/contexts/NotificationContext.tsx
  frontend/src/contexts/__tests__/NotificationContext.test.tsx
  frontend/src/services/__tests__/api.test.ts
  frontend/src/services/__tests__/websocket.test.ts
  frontend/src/services/websocket.ts
  frontend/src/utils/__tests__/logger.test.ts
  frontend/src/utils/__tests__/sentry.test.ts
Due: frontend, backend

docs(readme): add Axios, DOMPurify, SimpleJWT, Gunicorn badges
  README.md
Due: none

docs: remove redundant badges and hardcoded test counts
  CLAUDE.md
  README.md
Due: none

docs(readme): add light/dark mode homepage screenshots
  README.md
  docs/screenshots/home-dark.png
  docs/screenshots/home-light.png
  docs/screenshots/home-mobile.png
Due: none

docs(readme): simplify project description
  README.md
Due: none

fix(security): harden auth, rate limiting, and privilege escalation
  .gitignore
  backend/api/admin_views.py
  backend/api/auth.py
  backend/api/tests.py
  backend/config/settings.py
  frontend/nginx.conf
Due: backend

Path conditions:
  frontend: any of: frontend/src, but not: **/__tests__/**, **/*.test.js, **/*.test.ts, **/*.test.tsx, **/*.spec.js, **/*.spec.ts, **/test-utils/**, **/mock/**, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts
  backend: any of: backend, but not: **/__tests__/**, **/*.test.js, **/*.test.ts, **/*.test.tsx, **/*.spec.js, **/*.spec.ts, **/test-utils/**, **/mock/**, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts
