Repository researcherhojin/emelmujiro: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: 60%
        threshold: 5%
        base: auto
        flags:
          - frontend
          - backend
        paths:
          - frontend/src
          - backend
        
    patch:
      default:
        target: 60%
        threshold: 5%
        base: auto
        
comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false
  
flags:
  frontend:
    paths:
      - frontend/src
    carryforward: true
    
  backend:
    paths:
      - backend
    carryforward: true

ignore:
  - "**/__tests__/**"
  - "**/*.test.js"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.js"
  - "**/*.spec.ts"
  - "**/test-utils/**"
  - "**/mock/**"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"

ci: enforce CLAUDE.md ↔ README.md mirror sync via byte-level diff
  .github/workflows/pr-checks.yml
Due: none

docs: document the mirror sync CI gate in README drift gates entry
  CLAUDE.md
  README.md
Due: none

refactor: harden i18n, mock API, nginx security, and CI consistency
  .github/workflows/pr-checks.yml
  backend/api/admin_views.py
  frontend/nginx.conf
  frontend/src/components/blog/BlogEditor.tsx
  frontend/src/components/blog/__tests__/BlogEditor.test.tsx
  frontend/src/components/pages/ProfilePage.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
  frontend/src/services/__tests__/api.additional.test.ts
  frontend/src/services/__tests__/api.integration.test.ts
  frontend/src/services/api.ts
  scripts/check-i18n-keys.sh
Due: frontend, backend

refactor(docs): replace verbose README Development section with concise summary
  .github/workflows/pr-checks.yml
  CLAUDE.md
  README.md
Due: none

docs: rewrite CONTRIBUTING.md in English
  CONTRIBUTING.md
Due: none

fix(ci): remove duplicate test counts from README Development section
  README.md
Due: none

refactor(i18n): update LikeLion teaching history title to reflect actual curriculum
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

fix(ops): route setup-cron logs into backend/logs
  Makefile
Due: none

ci(cron): gate Makefile cron log paths to backend/logs/
  .github/workflows/pr-checks.yml
  CLAUDE.md
Due: none

refactor(scripts): de-duplicate i18n unused-key check
  .github/workflows/pr-checks.yml
  scripts/check-i18n-keys.sh
Due: none

fix(backend): isolate test runs from production log files
  .github/workflows/main-ci-cd.yml
  backend/config/settings.py
Due: backend

fix(ops): hardcode absolute docker path in setup-cron
  Makefile
Due: none

ci: remove GitHub Pages deploy + residual artifacts
  .github/TODO.md
  .github/workflows/main-ci-cd.yml
  .github/workflows/pr-checks.yml
  frontend/public/.nojekyll
  scripts/pre-deploy-check.sh
Due: none

refactor(config): fix Makefile clean + prune frontend/.env.production
  Makefile
  frontend/.env.production
Due: none

chore: prune confirmed-dead config + orphan scripts
  .github/.npmrc
  NOTES.md
  backend/scripts/deploy.sh
  frontend/.env.production
Due: backend

deps: patch CVEs in axios 1.14.0, Django 6.0.3, pygments 2.19.2
  backend/pyproject.toml
  backend/uv.lock
  frontend/package.json
  package-lock.json
Due: backend

fix(security): stop trusting X-Forwarded-For in get_client_ip
  backend/api/tests.py
  backend/api/utils.py
Due: backend

test+refactor: real DOMPurify XSS coverage + NotificationContext cursor ref
  README.md
  frontend/src/components/blog/__tests__/BlogDetail.sanitize.test.ts
  frontend/src/contexts/NotificationContext.tsx
Due: frontend

refactor(security): strip style attr via shared sanitizeBlogHtml helper
  README.md
  frontend/src/components/blog/BlogDetail.tsx
  frontend/src/components/blog/BlogEditor.tsx
  frontend/src/components/blog/__tests__/BlogDetail.sanitize.test.ts
  frontend/src/utils/__tests__/sanitizeBlogHtml.test.ts
  frontend/src/utils/sanitizeBlogHtml.ts
Due: frontend

ci(vitest): use forks pool in CI to avoid jsdom worker-init race
  frontend/vitest.config.ts
Due: none

perf+test: memoize BlogComments list items + middleware false-positive guards
  README.md
  backend/api/tests.py
  frontend/src/components/blog/BlogComments.tsx
Due: frontend, backend

test+refactor: tier B/C audit follow-ups (JWT fallback, skeleton asserts, auth inline, chunk budget)
  README.md
  frontend/src/components/common/__tests__/SkeletonLoader.test.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/services/__tests__/api.integration.test.ts
  frontend/vite.config.ts
Due: frontend

refactor(frontend): remove 3/5 exhaustive-deps suppressions + data-slug click delegation
  .gitignore
  NOTES.md
  frontend/src/components/blog/BlogDetail.tsx
  frontend/src/components/blog/BlogListPage.tsx
  frontend/src/components/common/NotificationBell.tsx
  frontend/src/components/pages/LoginPage.tsx
  frontend/src/components/pages/ProfilePage.tsx
  frontend/src/components/sections/ServicesSection.tsx
Due: frontend

perf+a11y: Phase 4 Lighthouse fixes (CLS 0.528→0.000, perf 0.58→0.80)
  frontend/index.html
  frontend/src/App.tsx
  frontend/src/__tests__/App.test.tsx
  frontend/src/components/blog/BlogListPage.tsx
  frontend/src/components/common/Footer.tsx
  frontend/src/components/common/Navbar.tsx
  frontend/src/components/common/UnifiedLoading.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
  frontend/vite.config.ts
Due: frontend

test(navbar): update language toggle test to match switchLanguageTo key
  frontend/src/components/common/__tests__/Navbar.test.tsx
Due: none

a11y: Lighthouse accessibility 0.96 → 1.00 (all 4 URLs)
  frontend/index.html
  frontend/src/components/blog/BlogDetail.tsx
  frontend/src/components/blog/BlogListPage.tsx
  frontend/src/components/pages/ProfilePage.tsx
  frontend/src/components/sections/HeroSection.tsx
  frontend/src/components/sections/ServicesSection.tsx
  frontend/src/components/sections/TestimonialsSection.tsx
Due: frontend

perf: defer gtag.js, lazy-load iframes/logos, resize oversized logos
  frontend/src/assets/logos/hyundaiLogo.webp
  frontend/src/assets/logos/ktLogo.webp
  frontend/src/assets/logos/nanoLogo.jpg
  frontend/src/assets/logos/snuLogo.webp
  frontend/src/components/pages/ContactPage.tsx
  frontend/src/components/sections/LogosSection.tsx
  frontend/src/components/sections/__tests__/LogosSection.test.tsx
  frontend/src/main.tsx
  frontend/src/utils/__tests__/analytics.test.ts
  frontend/src/utils/analytics.ts
Due: frontend

docs(sentry): document lazy-import bundle-size experiment
  frontend/src/utils/sentry.ts
Due: frontend

perf(fonts): switch Pretendard static → variable (3.8 MB → 2 MB)
  frontend/index.html
  frontend/src/index.css
Due: frontend

docs(todo): rigorous backlog definition with acceptance criteria
  .github/TODO.md
Due: none

docs: fix README badge drift (axios/Django) + document RouteFallback
  CLAUDE.md
  README.md
Due: none

test: cover RouteFallback + AuthContext cancelled branches (coverage → 100%)
  README.md
  frontend/src/components/common/__tests__/UnifiedLoading.test.tsx
  frontend/src/contexts/__tests__/AuthContext.test.tsx
Due: none

perf(dom-size): carousel copies 3x/5x → 2x (homepage 934 → 582 nodes)
  CLAUDE.md
  frontend/src/components/sections/LogosSection.tsx
  frontend/src/components/sections/TestimonialsSection.tsx
  frontend/src/components/sections/__tests__/LogosSection.test.tsx
  frontend/src/components/sections/__tests__/TestimonialsSection.test.tsx
  frontend/tailwind.config.js
Due: frontend

test(coverage): restore 100% on AuthContext + analytics (99.78% → 100%)
  README.md
  frontend/src/contexts/AuthContext.tsx
  frontend/src/utils/__tests__/analytics.test.ts
Due: frontend

perf(images): shrink oversized partner logos (ablearn 932→400px, uos 407→256px)
  frontend/src/assets/logos/ablearnLogo.webp
  frontend/src/assets/logos/uosLogo.webp
Due: frontend

perf(images): fix moduLogo pixel waste (90%→8%) + nanoLogo JPEG→WebP
  frontend/src/assets/logos/moduLogo.webp
  frontend/src/assets/logos/nanoLogo.jpg
  frontend/src/assets/logos/nanoLogo.webp
  frontend/src/constants/partners.ts
Due: frontend

refactor(sentry): named imports + document chunk-size dead-ends
  frontend/src/utils/__tests__/analytics.test.ts
  frontend/src/utils/sentry.ts
Due: frontend

docs(todo): close §1.1 (dom-size) + §1.4 (moduLogo), add §1.3 Sentry shim
  .github/TODO.md
Due: none

chore(docker): security hardening + dev/prod parity
  backend/Dockerfile
  backend/Dockerfile.dev
  docker-compose.dev.yml
  docker-compose.yml
Due: backend

ci(deps): drop dead pip dependabot config (backend uses uv)
  .github/dependabot.yml
Due: none
