Repository researcherhojin/emelmujiro: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: 60%
        threshold: 5%
        base: auto
        flags:
          - frontend
          - backend
        paths:
          - frontend/src
          - backend
        
    patch:
      default:
        target: 60%
        threshold: 5%
        base: auto
        
comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false
  
flags:
  frontend:
    paths:
      - frontend/src
    carryforward: true
    
  backend:
    paths:
      - backend
    carryforward: true

ignore:
  - "**/__tests__/**"
  - "**/*.test.js"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.js"
  - "**/*.spec.ts"
  - "**/test-utils/**"
  - "**/mock/**"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"

fix(profile): add MOEL KDT prefix to two LikeLion org labels
  CHANGELOG.md
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

docs: collapse the Make shortcuts block to a make-help pointer
  CLAUDE.md
Due: none

fix(blog): type TipTapEditor drop/paste handlers broken by tiptap 3.30.2
  CHANGELOG.md
  frontend/src/components/blog/TipTapEditor.tsx
Due: frontend

ci: run type-check in Frontend Lint so tsc regressions fail PRs
  .github/workflows/pr-checks.yml
Due: none

ci: pin third-party actions to commit SHAs and uv image to 0.12.5
  .github/actions/setup-uv/action.yml
  .github/workflows/main-ci-cd.yml
  .github/workflows/pr-checks.yml
  CHANGELOG.md
  backend/Dockerfile
Due: backend

ci: normalize the Django dep name so the uv dependabot ecosystem resolves
  .github/dependabot.yml
  CHANGELOG.md
  CLAUDE.md
  backend/pyproject.toml
Due: backend

deps: align all @tiptap packages to ^3.30.5 for the mergeAttributes fix
  CHANGELOG.md
  CLAUDE.md
  README.md
  frontend/package.json
  package-lock.json
  package.json
Due: none

fix(ci): deploy the CI-tested commit instead of main HEAD at pull time
  .github/workflows/main-ci-cd.yml
  CHANGELOG.md
  CLAUDE.md
  scripts/auto-deploy.sh
  scripts/deploy-webhook.js
Due: none

docs: correct four figures falsified after they were written
  CHANGELOG.md
  CLAUDE.md
Due: none

fix: bound the API retry loops and stop shipping dead preload tags
  CHANGELOG.md
  CLAUDE.md
  README.md
  frontend/scripts/prerender.js
  frontend/src/services/__tests__/api.integration.test.ts
  frontend/src/services/api.ts
Due: frontend

ci(spell): ignore tsbuildinfo output and add the eabi token
  CHANGELOG.md
  cspell.json
Due: none

feat(profile): add SNU career week vibe-coding workshop to teaching history
  CHANGELOG.md
  README.md
  frontend/src/components/pages/ProfilePage.tsx
  frontend/src/data/profileData.ts
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

deps-dev: align @typescript-eslint plugin and parser to 8.70.0
  CHANGELOG.md
  frontend/package.json
  package-lock.json
Due: none

deps: align all @tiptap/* packages and core overrides to 3.31.3
  CHANGELOG.md
  frontend/package.json
  package-lock.json
  package.json
Due: none

deps-dev: upgrade vitest, @vitest/coverage-v8 and @vitest/ui to 5.0.0
  CHANGELOG.md
  frontend/package.json
  frontend/src/setupTests.ts
  frontend/src/utils/__tests__/webVitals.test.ts
  frontend/tsconfig.json
  package-lock.json
Due: none

deps-dev: bump autoprefixer to 10.5.5 and re-measure Gotcha #6
  CHANGELOG.md
  CLAUDE.md
  cspell.json
  frontend/package.json
  package-lock.json
Due: none

fix(api): validate and truncate Referer before storing SiteVisit.referer
  .claude/rules/backend.md
  CHANGELOG.md
  backend/api/tests.py
  backend/api/utils.py
  backend/api/views.py
Due: backend

fix(profile): rename entry 44 operator and use the official title for entry 46
  CHANGELOG.md
  cspell.json
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

ci: dispatch the pipeline when Auto-Merge Dependabot lands a patch
  .github/workflows/pr-checks.yml
  CHANGELOG.md
  CLAUDE.md
Due: none

ci(dependabot): run the pipeline on patch auto-merges and alarm when it does not
  .github/workflows/pipeline-watchdog.yml
  .github/workflows/pr-checks.yml
Due: none

ci: alarm when main HEAD has no successful pipeline run
  .github/workflows/pipeline-watchdog.yml
  CHANGELOG.md
Due: none

docs: record the watchdog, its failing-path run, and the six merged bumps
  CHANGELOG.md
  CLAUDE.md
  README.md
Due: none

fix(spell): scan the .claude/rules files the gate never reached
  CHANGELOG.md
  CLAUDE.md
  cspell.json
  package.json
Due: none

docs(changelog): record the post-merge lockfile and behavior verification
  CHANGELOG.md
Due: none

fix(setup): Chromium is a build dependency, not an E2E-only one
  CHANGELOG.md
  CLAUDE.md
  scripts/setup-dev-machine.sh
Due: none

feat(make): verify-setup checks that Chromium actually launches
  Makefile
Due: none

docs(claude): correct three stale claims and list the two runnable gates
  CHANGELOG.md
  CLAUDE.md
Due: none

docs(claude): record that production md5 comparison and cron times both lie
  CHANGELOG.md
  CLAUDE.md
  cspell.json
Due: none

fix(seo): serve the pristine shell, not the homepage snapshot, as the SPA fallback
  CHANGELOG.md
  CLAUDE.md
  frontend/e2e/error-states.spec.ts
  frontend/e2e/seo.spec.ts
  frontend/nginx.conf
  frontend/package.json
  frontend/scripts/e2e-server.mjs
  frontend/scripts/prerender.js
  frontend/vite.config.ts
  scripts/auto-deploy.sh
Due: none

fix(seo): serve the pristine shell, not the homepage snapshot, as the SPA fallback (#514)
  CHANGELOG.md
  CLAUDE.md
  frontend/e2e/error-states.spec.ts
  frontend/e2e/seo.spec.ts
  frontend/nginx.conf
  frontend/package.json
  frontend/scripts/e2e-server.mjs
  frontend/scripts/prerender.js
  frontend/vite.config.ts
  scripts/auto-deploy.sh
Due: none

ci(routes): check:routes now covers the nginx SPA-fallback regex and its mirror
  CHANGELOG.md
  CLAUDE.md
  frontend/scripts/check-route-lists.js
Due: none

ci(routes): check:routes now covers the nginx SPA-fallback regex and its mirror (#515)
  CHANGELOG.md
  CLAUDE.md
  frontend/scripts/check-route-lists.js
Due: none

fix(deps): regenerate the lockfile so vitest re-hoists to the root
  README.md
  package-lock.json
Due: none

deps: land the four in-range bumps main's lockfile already resolved
  README.md
  frontend/package.json
  package-lock.json
  package.json
Due: none

ci(dependabot): delete the /frontend npm ecosystem, which only ever filed broken PRs
  .github/dependabot.yml
  CHANGELOG.md
Due: none

docs(claude): Gotcha #8 no longer names a group that exists
  CLAUDE.md
Due: none

docs(claude): both alarm lags were wrong, and the watchdog's by three hours
  CHANGELOG.md
  CLAUDE.md
Due: none

fix(sentry): pin a minimizing dataCollection policy after the v11 default flip
  CHANGELOG.md
  frontend/src/utils/__tests__/sentry.test.ts
  frontend/src/utils/sentry.ts
Due: frontend

ci(types): type-check the build configs, which nothing checked before
  CHANGELOG.md
  frontend/package.json
  frontend/tsconfig.node.json
Due: none

ci(commit-msg): reject an unescaped CI-skip marker anywhere in the message
  .github/workflows/pr-checks.yml
  CHANGELOG.md
  CLAUDE.md
  scripts/check-commit-msg.sh
Due: none
