Repository researcherhojin/emelmujiro: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: 60%
        threshold: 5%
        base: auto
        flags:
          - frontend
          - backend
        paths:
          - frontend/src
          - backend
        
    patch:
      default:
        target: 60%
        threshold: 5%
        base: auto
        
comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false
  
flags:
  frontend:
    paths:
      - frontend/src
    carryforward: true
    
  backend:
    paths:
      - backend
    carryforward: true

ignore:
  - "**/__tests__/**"
  - "**/*.test.js"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.js"
  - "**/*.spec.ts"
  - "**/test-utils/**"
  - "**/mock/**"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"

fix: SkeletonLoader 테스트 container.querySelector 부분 제거
  frontend/src/components/common/SkeletonLoader.tsx
  frontend/src/components/common/__tests__/SkeletonLoader.test.tsx
Due: frontend

fix: SkeletonLoader 테스트 모든 container.querySelector 제거 완료
  frontend/src/components/common/__tests__/SkeletonLoader.test.tsx
Due: none

fix: ESLint 경고 완전 해결
  frontend/src/components/common/__tests__/SkeletonLoader.test.tsx
  frontend/src/components/common/__tests__/SkipLink.test.tsx
Due: none

fix: UnifiedLoading 테스트 ESLint 경고 완전 해결
  frontend/src/components/common/UnifiedLoading.tsx
  frontend/src/components/common/__tests__/SkipLink.test.tsx
  frontend/src/components/common/__tests__/UnifiedLoading.test.tsx
Due: frontend

fix: WebVitalsDashboard 테스트 ESLint 경고 해결
  frontend/src/components/common/WebVitalsDashboard.tsx
  frontend/src/components/common/__tests__/WebVitalsDashboard.test.tsx
Due: frontend

fix: SEO.test.tsx ESLint 경고 해결
  frontend/src/components/common/Button.tsx
  frontend/src/components/common/DarkModeToggle.tsx
  frontend/src/components/common/Footer.tsx
  frontend/src/components/common/LanguageSwitcher.tsx
  frontend/src/components/common/OfflineIndicator.tsx
  frontend/src/components/common/SkeletonScreen.tsx
  frontend/src/components/layout/__tests__/SEO.test.tsx
  frontend/src/components/pages/SharePage.tsx
Due: frontend

fix: SEO.test.tsx TypeScript 오류 완전 해결
  frontend/src/components/layout/__tests__/SEO.test.tsx
Due: none

fix: 테스트 경고 및 오류 해결
  frontend/src/components/sections/__tests__/HeroSection.test.tsx
  frontend/src/utils/__tests__/backgroundSync.test.ts
  frontend/src/utils/__tests__/performanceMonitoring.test.ts
Due: none

fix: TypeScript 컴파일 오류 해결
  frontend/src/components/sections/__tests__/HeroSection.test.tsx
  frontend/src/utils/__tests__/performanceMonitoring.test.ts
Due: none

fix: ESLint any 타입 경고 제거
  frontend/src/utils/__tests__/performanceMonitoring.test.ts
  frontend/src/utils/__tests__/seoConfig.test.ts
Due: none

fix: CI/CD 파이프라인 테스트 오류 해결
  frontend/src/components/blog/__tests__/BlogListPage.test.tsx
  frontend/src/utils/__tests__/webVitals.test.ts
Due: none

fix: ESLint 경고 및 CI/CD 오류 완전 해결
  frontend/src/utils/__tests__/webVitals.test.ts
  frontend/src/utils/webVitals.ts
Due: frontend

fix: CI/CD 테스트 환경 오류 완전 해결
  frontend/public/sitemap.xml
  frontend/src/App.tsx
  frontend/src/setupTests.ts
  frontend/src/utils/pwaUtils.ts
Due: frontend

fix: 테스트 오류 수정
  frontend/src/components/common/__tests__/Footer.test.tsx
  frontend/src/components/common/__tests__/SkeletonLoader.test.tsx
Due: none

fix: CI/CD 테스트 오류 수정
  frontend/src/components/common/__tests__/Footer.test.tsx
  frontend/src/components/common/__tests__/Navbar.test.tsx
  frontend/src/components/common/__tests__/SkeletonLoader.test.tsx
Due: none

fix: Navbar 테스트 logo 링크 확인 로직 수정
  frontend/src/components/common/__tests__/Navbar.test.tsx
Due: none

fix: 테스트 및 코드 품질 개선
  frontend/src/components/common/__tests__/Footer.test.tsx
  frontend/src/components/common/__tests__/NotificationPermission.test.tsx
  frontend/src/i18n/locales/en/about.json
  frontend/src/i18n/locales/en/blog.json
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/en/contact.json
  frontend/src/i18n/locales/en/home.json
  frontend/src/i18n/locales/en/navigation.json
  frontend/src/i18n/locales/ko/about.json
  frontend/src/i18n/locales/ko/blog.json
  frontend/src/i18n/locales/ko/common.json
  frontend/src/i18n/locales/ko/contact.json
  frontend/src/i18n/locales/ko/home.json
  frontend/src/i18n/locales/ko/profile.json
  frontend/src/utils/__tests__/performanceMonitoring.test.ts
  frontend/src/utils/__tests__/pushNotifications.test.ts
  frontend/src/utils/__tests__/seoConfig.test.ts
  frontend/src/utils/accessibility.ts
  frontend/src/utils/i18nFormatters.ts
  frontend/src/utils/seoConfig.ts
Due: frontend

fix: Navbar 테스트 i18n 모킹 및 ESLint 경고 해결
  frontend/src/components/common/__tests__/Navbar.test.tsx
Due: none

docs: CI/CD 상태 문서 추가
  frontend/CI_STATUS.md
Due: none

fix: CI/CD 테스트 오류 수정
  frontend/src/components/common/__tests__/Footer.test.tsx
  frontend/src/components/common/__tests__/Navbar.test.tsx
  frontend/src/components/common/__tests__/OptimizedImage.test.tsx
  frontend/src/utils/__tests__/pushNotifications.test.ts
  frontend/src/utils/__tests__/webVitals.test.ts
Due: none

fix: ChatWidget 테스트 및 기타 테스트 오류 수정
  frontend/src/components/chat/__tests__/ChatWidget.test.tsx
  frontend/src/test-utils/renderWithProviders.tsx
Due: none

fix: ChatWidget 테스트 임시 스킵 및 타이머 문제 해결 시도
  frontend/src/components/chat/__tests__/ChatWidget.test.tsx
Due: none

fix: ESLint 경고 제거 - container 직접 접근 코드 정리
  frontend/src/components/chat/__tests__/ChatWidget.test.tsx
Due: none

fix: 나머지 테스트 오류 수정
  frontend/src/components/common/__tests__/Footer.test.tsx
  frontend/src/components/common/__tests__/NotificationContainer.test.tsx
  frontend/src/utils/__tests__/accessibility.test.ts
Due: none

fix: 남은 테스트 오류 해결
  frontend/src/test-utils/renderWithProviders.tsx
  frontend/src/utils/__tests__/webVitals.test.ts
Due: none

fix: SkipLink scrollIntoView 오류 수정
  frontend/src/components/common/SkipLink.tsx
  frontend/src/components/common/__tests__/SkipLink.test.tsx
Due: frontend

chore: CI/CD 안정화를 위한 불안정한 테스트 임시 스킵
  frontend/src/components/common/__tests__/NotificationPermission.test.tsx
  frontend/src/components/common/__tests__/WebVitalsDashboard.test.tsx
Due: none

fix: SEO 컴포넌트 테스트 오류 수정 (HelmetProvider 모킹 추가)
  frontend/src/components/layout/__tests__/SEO.test.tsx
  frontend/src/index.css
  frontend/src/test-utils/renderWithProviders.tsx
Due: frontend

feat: CI/CD 테스트 안정화 및 스타일 개선
  frontend/src/index.css
Due: frontend

fix: 나머지 CI/CD 테스트 오류 7개 해결
  frontend/public/sitemap.xml
  frontend/src/components/common/OptimizedImage.tsx
  frontend/src/components/common/__tests__/OptimizedImage.test.tsx
  frontend/src/components/layout/SEO.tsx
  frontend/src/components/layout/__tests__/SEO.test.tsx
  frontend/src/utils/__tests__/accessibility.test.ts
Due: frontend

fix: Docker 이미지 버전 안정화
  frontend/Dockerfile
Due: none

docs: 프로젝트 문서 업데이트 및 Docker 버전 수정
  .gitlab-ci.yml
  CLAUDE.md
  README.md
  frontend/Dockerfile
Due: none

fix: Docker 빌드 에러 수정 - nginx 사용자 중복 생성 문제 해결
  README.md
  frontend/Dockerfile
Due: none

feat: 프로필 페이지 UX/UI 대폭 개선
  frontend/src/components/pages/ProfilePage.tsx
Due: frontend

style: 전체 페이지 디자인 일관성 개선
  frontend/src/components/pages/AboutPage.tsx
  frontend/src/components/pages/ContactPage.tsx
  frontend/src/components/sections/CTASection.tsx
  frontend/src/components/sections/HeroSection.tsx
  frontend/src/components/sections/LogosSection.tsx
  frontend/src/components/sections/QuickIntroSection.tsx
  frontend/src/components/sections/ServicesSection.tsx
Due: frontend

refactor: UI 컴포넌트 코드 정리 및 최적화
  frontend/src/components/blog/BlogListPage.tsx
  frontend/src/components/common/DarkModeToggle.tsx
  frontend/src/components/common/Footer.tsx
  frontend/src/components/common/Navbar.tsx
Due: frontend

chore: 시스템 설정 및 유틸리티 개선
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/contexts/ChatContext.tsx
  frontend/src/index.css
  frontend/src/utils/cacheOptimization.ts
  frontend/src/utils/logger.ts
  frontend/tailwind.config.js
Due: frontend

docs: README 업데이트 및 백엔드 설정 추가
  README.md
  UV_GUIDE.md
  backend/pyproject.toml
  backend/uv.lock
Due: backend

fix: 컴포넌트 변경에 따른 테스트 업데이트
  frontend/src/components/blog/__tests__/BlogListPage.test.tsx
  frontend/src/components/sections/__tests__/HeroSection.test.tsx
Due: none
