Repository researcherhojin/emelmujiro: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: 60%
        threshold: 5%
        base: auto
        flags:
          - frontend
          - backend
        paths:
          - frontend/src
          - backend
        
    patch:
      default:
        target: 60%
        threshold: 5%
        base: auto
        
comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false
  
flags:
  frontend:
    paths:
      - frontend/src
    carryforward: true
    
  backend:
    paths:
      - backend
    carryforward: true

ignore:
  - "**/__tests__/**"
  - "**/*.test.js"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.js"
  - "**/*.spec.ts"
  - "**/test-utils/**"
  - "**/mock/**"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"

refactor: 13th audit — CI actions v4, Lighthouse preview port, Dependabot groups, Codecov split
  .github/dependabot.yml
  .github/workflows/main-ci-cd.yml
  .github/workflows/pr-checks.yml
  CLAUDE.md
  README.md
  backend/config/settings.py
  codecov.yml
  frontend/lighthouserc.js
Due: backend

fix(ci): correct GitHub Actions to latest stable versions (checkout@v6, setup-node@v6, cache@v5, artifact@v6)
  .github/workflows/main-ci-cd.yml
  .github/workflows/pr-checks.yml
  CLAUDE.md
  README.md
Due: none

refactor: 14th audit — timezone fix, atomic increment, message validation, clipboard safety
  .github/dependabot.yml
  README.md
  backend/Dockerfile.dev
  backend/api/consumers.py
  backend/api/views.py
  backend/config/settings.py
  frontend/src/components/blog/BlogInteractions.tsx
  frontend/tsconfig.ci.json
Due: frontend, backend

refactor: 15th audit — XSS hardening, CSP reCAPTCHA, pagination limit, SiteVisit cleanup
  CLAUDE.md
  README.md
  backend/api/management/commands/cleanup_sitevisits.py
  backend/api/middleware.py
  backend/api/pagination.py
  backend/config/settings.py
  frontend/.prettierrc
  frontend/src/components/chat/MessageList.tsx
Due: frontend, backend

docs: fix CLAUDE.md date references (2026-03-11 → 2026-03-10)
  CLAUDE.md
Due: none

docs: restructure README — remove duplication, fix dates, add B9 to diagram
  README.md
Due: none

refactor: remove dead code and consolidate duplicate API tests (16th audit)
  CLAUDE.md
  README.md
  backend/api/consumers.py
  backend/api/management/commands/cleanup_sitevisits.py
  backend/api/swagger.py
  frontend/src/services/__tests__/api.additional.test.ts
  frontend/src/services/__tests__/api.comprehensive.test.ts
  frontend/src/services/__tests__/api.integration.test.ts
  frontend/src/utils/__tests__/constants.test.ts
  frontend/src/utils/__tests__/sentry.test.ts
  frontend/src/utils/constants.ts
  frontend/src/utils/sentry.ts
Due: frontend, backend

docs: update README/CLAUDE.md with 16th audit record
  CLAUDE.md
  README.md
Due: none

fix: KakaoTalk Android blank page — immediate redirect to external browser
  frontend/index.html
  frontend/src/main.tsx
  frontend/src/types/global.d.ts
Due: frontend

docs: update CLAUDE.md/README.md with 17th audit record (KakaoTalk fix)
  CLAUDE.md
  README.md
Due: none

docs: fix audit count 16차 → 17차 in README.md
  README.md
Due: none

docs: clarify deploy-pages@v4 workflow, update audit count in README
  CLAUDE.md
  README.md
Due: none

docs: update README v0.9.8 changelog with KakaoTalk fix, Prettier, deploy cleanup
  README.md
Due: none

fix: 18th audit — KakaoTalk in-app rendering, SEO, backend fixes
  CLAUDE.md
  README.md
  backend/api/views.py
  docker-compose.yml
  frontend/index.html
  frontend/public/index.html
  frontend/public/og-image.png
  frontend/src/components/common/SEOHelmet.tsx
  frontend/src/components/common/StructuredData.tsx
  frontend/src/components/layout/Layout.tsx
  frontend/src/main.tsx
  frontend/src/utils/constants.ts
Due: frontend, backend

fix: KakaoTalk iOS-only banner, Android error visibility with intent:// fallback
  CLAUDE.md
  README.md
  frontend/index.html
  frontend/src/components/layout/Layout.tsx
Due: frontend

fix: Android KakaoTalk white screen — redirect to external browser before React loads
  frontend/index.html
  frontend/public/sitemap-index.xml
  frontend/src/App.tsx
Due: frontend

fix: replace document.write with static HTML for KakaoTalk Android redirect
  frontend/index.html
  frontend/src/types/global.d.ts
Due: frontend

fix: use kakaotalk://web/openExternal scheme for external browser button
  frontend/index.html
Due: none

fix: let React load in KakaoTalk WebView, show debug info on failure
  frontend/index.html
Due: none

refactor: clean up unused KakaoTalk redirect code and update docs
  CLAUDE.md
  frontend/index.html
  frontend/src/types/global.d.ts
Due: frontend

docs: add 19차 audit entry — AppLoaded root cause fix, update changelog
  CLAUDE.md
  README.md
Due: none

fix(deps): upgrade black and pyjwt for CVE-2026-32274 and CVE-2026-32597
  backend/pyproject.toml
  backend/uv.lock
Due: backend

chore: upgrade Node.js 22 → 24 LTS and update docs
  .github/workflows/main-ci-cd.yml
  .github/workflows/pr-checks.yml
  CLAUDE.md
  README.md
  frontend/Dockerfile
  frontend/Dockerfile.dev
  package.json
Due: none

feat: upgrade to Vite 8, update dependencies, add Lighthouse CI
  .github/workflows/pr-checks.yml
  CLAUDE.md
  frontend/lighthouserc.js
  frontend/package.json
  frontend/vite.config.ts
  frontend/vitest.config.ts
  package-lock.json
Due: none

docs: update README changelog with Vite 8, LHCI, Node 24 and regenerate sitemap
  README.md
  frontend/public/sitemap-index.xml
Due: none

docs: update README status table and CLAUDE.md pr-checks description
  CLAUDE.md
  README.md
Due: none

refactor: remove dead code, unused model field, and outdated dependabot rules
  .github/dependabot.yml
  CLAUDE.md
  README.md
  backend/api/admin.py
  backend/api/migrations/0005_remove_blogpost_link_field.py
  backend/api/models.py
  backend/api/serializers.py
  backend/create_blog_posts.py
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend, backend

feat: switch to SQLite + Mac Mini deployment setup
  README.md
  backend/.env.example
  backend/Dockerfile
  backend/config/settings.py
  docker-compose.dev.yml
  docker-compose.yml
Due: backend

fix: pass placeholder SECRET_KEY during Docker collectstatic build step
  backend/Dockerfile
Due: backend

feat: connect frontend to real backend API via Cloudflare Tunnel
  CLAUDE.md
  frontend/src/services/api.ts
Due: frontend

feat: activate blog routes and update docs for Mac Mini deployment
  CLAUDE.md
  README.md
  frontend/public/sitemap.xml
  frontend/scripts/generate-sitemap.js
  frontend/src/App.tsx
Due: frontend

deps-dev: bump @typescript-eslint/parser from 8.57.0 to 8.57.1
  frontend/package.json
  package-lock.json
Due: none

fix: add api.emelmujiro.com to CSP connect-src directive
  frontend/index.html
Due: none

fix: correct VITE_API_URL in CI and clean up unused imports
  .github/workflows/main-ci-cd.yml
  .github/workflows/pr-checks.yml
  frontend/src/App.tsx
Due: frontend

feat: migrate to custom domain emelmujiro.com and remove keyboard shortcuts
  backend/.env.example
  backend/config/settings.py
  frontend/.env.example
  frontend/index.html
  frontend/lighthouserc.js
  frontend/package.json
  frontend/public/CNAME
  frontend/public/index.html
  frontend/public/manifest.json
  frontend/scripts/generate-sitemap.js
  frontend/src/components/layout/Layout.tsx
  frontend/src/components/layout/__tests__/Layout.test.tsx
  frontend/src/config/__tests__/env.test.ts
  frontend/src/config/env.ts
  frontend/src/hooks/__tests__/useKeyboardNavigation.test.ts
  frontend/src/hooks/useKeyboardNavigation.ts
  frontend/src/utils/__tests__/sentry.test.ts
  frontend/src/utils/constants.ts
  frontend/vite.config.ts
Due: frontend, backend

feat: switch from HashRouter to BrowserRouter with clean URLs
  CLAUDE.md
  README.md
  frontend/e2e/accessibility.spec.ts
  frontend/e2e/blog.spec.ts
  frontend/e2e/contact.spec.ts
  frontend/e2e/homepage.spec.ts
  frontend/e2e/profile.spec.ts
  frontend/index.html
  frontend/lighthouserc.js
  frontend/package.json
  frontend/public/robots.txt
  frontend/public/sitemap-index.xml
  frontend/public/sitemap.xml
  frontend/scripts/generate-sitemap.js
  frontend/src/App.tsx
  frontend/src/__tests__/index.test.tsx
  frontend/src/components/blog/BlogListPage.tsx
  frontend/src/components/blog/__tests__/BlogInteractions.test.tsx
  frontend/src/components/common/NotFound.tsx
  frontend/src/components/common/StructuredData.tsx
  frontend/src/components/pages/AboutPage.tsx
  frontend/src/components/pages/ContactPage.tsx
  frontend/src/components/pages/ProfilePage.tsx
Due: frontend

docs: update README and CLAUDE.md for Mac Mini frontend deployment
  CLAUDE.md
  README.md
Due: none

ci: opt into Node.js 24 for GitHub Actions
  .github/workflows/main-ci-cd.yml
  .github/workflows/pr-checks.yml
Due: none

fix: add dark mode support to all blog components
  frontend/src/components/blog/BlogCard.tsx
  frontend/src/components/blog/BlogComments.tsx
  frontend/src/components/blog/BlogDetail.tsx
  frontend/src/components/blog/BlogInteractions.tsx
  frontend/src/components/blog/BlogSearch.tsx
Due: frontend
