Repository researcherhojin/emelmujiro: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: 60%
        threshold: 5%
        base: auto
        flags:
          - frontend
          - backend
        paths:
          - frontend/src
          - backend
        
    patch:
      default:
        target: 60%
        threshold: 5%
        base: auto
        
comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false
  
flags:
  frontend:
    paths:
      - frontend/src
    carryforward: true
    
  backend:
    paths:
      - backend
    carryforward: true

ignore:
  - "**/__tests__/**"
  - "**/*.test.js"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.js"
  - "**/*.spec.ts"
  - "**/test-utils/**"
  - "**/mock/**"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"

fix: apply CI skip pattern to ScrollToTop.test.tsx
  frontend/src/components/common/__tests__/ScrollToTop.test.tsx
Due: none

fix: apply CI skip pattern to TypingIndicator.test.tsx
  frontend/src/components/chat/__tests__/TypingIndicator.test.tsx
Due: none

fix: apply CI skip pattern to QuickIntroSection.test.tsx
  frontend/src/components/sections/__tests__/QuickIntroSection.test.tsx
Due: none

fix: resolve CI failures in DarkModeToggle tests and improve PWAInstallButton error handling
  frontend/src/components/common/PWAInstallButton.tsx
  frontend/src/components/common/__tests__/DarkModeToggle.test.tsx
Due: frontend

fix: apply CI skip pattern to ServicesSection.test.tsx
  frontend/src/components/sections/__tests__/ServicesSection.test.tsx
Due: none

fix: apply CI skip pattern to LazyImage.test.tsx
  frontend/src/components/common/__tests__/LazyImage.test.tsx
Due: none

fix: apply CI skip pattern to OfflineIndicator.test.tsx
  frontend/src/components/common/__tests__/OfflineIndicator.test.tsx
Due: none

fix: apply CI skip pattern to HeroSection.test.tsx
  frontend/src/components/sections/__tests__/HeroSection.test.tsx
Due: none

fix: apply CI skip pattern to BlogCard.test.tsx
  frontend/src/components/blog/__tests__/BlogCard.test.tsx
Due: none

fix: apply CI skip pattern to ErrorMessage.test.tsx
  frontend/src/components/common/__tests__/ErrorMessage.test.tsx
Due: none

fix: apply CI skip pattern to BlogListPage tests
  frontend/src/components/blog/__tests__/BlogListPage.test.tsx
Due: none

fix: apply CI skip pattern to PageLoading tests
  frontend/src/components/common/__tests__/PageLoading.test.tsx
Due: none

fix: apply CI skip pattern to LoadingSpinner tests
  frontend/src/components/common/__tests__/LoadingSpinner.test.tsx
Due: none

fix: apply CI skip pattern to Section tests
  frontend/src/components/common/__tests__/Section.test.tsx
Due: none

fix: remove console warnings and update README
  README.md
  frontend/src/components/chat/__tests__/EmojiPicker.test.tsx
  frontend/src/components/common/PWAInstallButton.tsx
Due: frontend

chore: update dependencies and fix security vulnerabilities
  .DS_Store
  frontend/package.json
  frontend/src/components/common/__tests__/ScrollProgress.test.tsx
  package-lock.json
  package.json
Due: none

chore: remove unused scripts and config files
  frontend/.cssrc.json
  frontend/.lighthouserc.js
  frontend/.stylelintrc.json
  frontend/SEO_AUDIT_REPORT.md
  frontend/package.json
  frontend/scripts/optimize-images.js
  package-lock.json
Due: none

docs: update README.md with latest project status
  CLAUDE.md
  README.md
Due: none

chore: fix security vulnerabilities and update dependencies
  CLAUDE.md
  README.md
  frontend/package.json
  frontend/public/sitemap-index.xml
  frontend/public/sitemap.xml
  package-lock.json
  package.json
Due: none

chore: migrate backend from conda/pip to uv
  .github/workflows/main-ci-cd.yml
  .github/workflows/pr-checks.yml
  CLAUDE.md
  Makefile
  backend/.gitignore
  backend/.python-version
  backend/Dockerfile
  backend/Dockerfile.dev
  backend/pyproject.toml
  backend/requirements.txt
  backend/uv.lock
  package.json
Due: backend

chore: update sitemap timestamps
  frontend/public/sitemap-index.xml
  frontend/public/sitemap.xml
Due: none

chore: update dependencies, fix CI versions, and clean up project
  .github/workflows/main-ci-cd.yml
  .github/workflows/pr-checks.yml
  .gitlab-ci.yml
  CI-CD-README.md
  CLAUDE.md
  Jenkinsfile
  UV_GUIDE.md
  backend/uv.lock
  deploy/kubernetes/deployment.yaml
  deploy/terraform/main.tf
  docker-compose.dev.yml
  frontend/public/sitemap.xml
  package-lock.json
  scripts/check-ports.sh
  scripts/kill-ports.sh
Due: backend

docs: update README.md and CLAUDE.md to reflect current project state
  CLAUDE.md
  README.md
Due: none

chore: clean up project files, fix CI reliability, and improve backend config
  .env.example
  .github/workflows/main-ci-cd.yml
  .github/workflows/pr-checks.yml
  CLAUDE.md
  backend/config/settings.py
  backend/create_blog_posts.py
  frontend/.eslintrc.json
  frontend/bundle-analysis.json
  frontend/env_example.txt
  frontend/logo192.png
  frontend/logo512.png
  frontend/package.json
  frontend/public/sitemap.xml
  frontend/sitemap-generator.js
  frontend/src/@types/global.d.ts
  frontend/src/utils/__tests__/performanceMonitoring.test.ts
  frontend/src/utils/performanceMonitoring.ts
  frontend/tsconfig.json
  frontend/yarn.lock
Due: frontend, backend

fix: correct INSTALLED_APPS order to fix backend CI test failure
  backend/config/settings.py
Due: backend

fix: add makemigrations step to CI backend tests
  .github/workflows/main-ci-cd.yml
  .github/workflows/pr-checks.yml
Due: none

fix: add api migrations to fix backend CI tests
  backend/.gitignore
  backend/api/migrations/0001_initial.py
  backend/api/migrations/__init__.py
Due: backend

feat: replace contact form with under-construction page
  frontend/src/components/pages/ContactPage.tsx
  frontend/src/components/pages/__tests__/ContactPage.test.tsx
Due: frontend

fix: remove "백엔드 시스템 구축 중" text from contact and blog pages
  frontend/src/components/blog/BlogListPage.tsx
  frontend/src/components/blog/__tests__/BlogListPage.test.tsx
  frontend/src/components/pages/ContactPage.tsx
  frontend/src/components/pages/__tests__/ContactPage.test.tsx
Due: frontend

refactor: restructure profile projects with enriched descriptions
  frontend/src/components/pages/__tests__/ProfilePage.test.tsx
  frontend/src/data/profileData.ts
Due: frontend

refactor: reorder projects and update career descriptions
  frontend/src/data/profileData.ts
Due: frontend

fix: update stats across all pages (98% → 4.8+, 4년 → 5년)
  frontend/src/components/pages/AboutPage.tsx
  frontend/src/components/pages/__tests__/AboutPage.test.tsx
  frontend/src/components/sections/CareerSection.tsx
  frontend/src/components/sections/CareerSummarySection.tsx
  frontend/src/components/sections/HeroSection.tsx
  frontend/src/components/sections/__tests__/CareerSection.test.tsx
  frontend/src/components/sections/__tests__/CareerSummarySection.test.tsx
  frontend/src/i18n/locales/en/about.json
  frontend/src/i18n/locales/ko/about.json
Due: frontend

refactor: update services section and CTA to match actual expertise
  frontend/src/components/sections/CTASection.tsx
  frontend/src/components/sections/ServicesSection.tsx
  frontend/src/components/sections/__tests__/ServicesSection.test.tsx
Due: frontend

fix: shorten service descriptions and clean up CTA layout
  frontend/src/components/sections/CTASection.tsx
  frontend/src/components/sections/ServicesSection.tsx
  frontend/src/components/sections/__tests__/ServicesSection.test.tsx
Due: frontend

fix: update footer services list and remove CTA duplicate email
  frontend/src/components/common/Footer.tsx
  frontend/src/components/common/__tests__/Footer.test.tsx
  frontend/src/components/sections/CTASection.tsx
Due: frontend

ci: optimize CI cache strategy and remove unused Docker build
  .github/workflows/main-ci-cd.yml
  .github/workflows/pr-checks.yml
Due: none

refactor: align footer service modals with homepage services
  CLAUDE.md
  README.md
  frontend/src/components/common/Footer.tsx
  frontend/src/components/common/__tests__/Footer.test.tsx
  frontend/src/data/footerData.ts
Due: frontend

feat: apply i18n to all major components with full English translations
  frontend/src/components/common/ErrorMessage.tsx
  frontend/src/components/common/Footer.tsx
  frontend/src/components/common/PageLoading.tsx
  frontend/src/components/common/__tests__/ErrorMessage.test.tsx
  frontend/src/components/common/__tests__/Footer.test.tsx
  frontend/src/components/common/__tests__/PageLoading.test.tsx
  frontend/src/components/pages/AboutPage.tsx
  frontend/src/components/pages/__tests__/AboutPage.test.tsx
  frontend/src/components/sections/CTASection.tsx
  frontend/src/components/sections/EducationSection.tsx
  frontend/src/components/sections/HeroSection.tsx
  frontend/src/components/sections/ServicesSection.tsx
  frontend/src/components/sections/__tests__/EducationSection.test.tsx
  frontend/src/components/sections/__tests__/HeroSection.test.tsx
  frontend/src/components/sections/__tests__/ServicesSection.test.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

fix: improve accessibility and fix TypeScript errors in section components
  frontend/src/components/common/Footer.tsx
  frontend/src/components/pages/AboutPage.tsx
  frontend/src/components/sections/CTASection.tsx
  frontend/src/components/sections/CareerSection.tsx
  frontend/src/components/sections/EducationSection.tsx
  frontend/src/components/sections/HeroSection.tsx
  frontend/src/components/sections/ServicesSection.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend
