Repository researcherhojin/emelmujiro: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: 60%
        threshold: 5%
        base: auto
        flags:
          - frontend
          - backend
        paths:
          - frontend/src
          - backend
        
    patch:
      default:
        target: 60%
        threshold: 5%
        base: auto
        
comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false
  
flags:
  frontend:
    paths:
      - frontend/src
    carryforward: true
    
  backend:
    paths:
      - backend
    carryforward: true

ignore:
  - "**/__tests__/**"
  - "**/*.test.js"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.js"
  - "**/*.spec.ts"
  - "**/test-utils/**"
  - "**/mock/**"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"

docs: update CLAUDE.md SEO section with entry point and dedup rules
  CLAUDE.md
Due: none

feat: add blog admin UI — publish toggle, delete post, delete comment, API categories
  frontend/src/components/blog/BlogComments.tsx
  frontend/src/components/blog/BlogDetail.tsx
  frontend/src/components/blog/BlogEditor.tsx
  frontend/src/components/blog/__tests__/BlogComments.test.tsx
  frontend/src/components/blog/__tests__/BlogDetail.test.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

docs: mark blog admin UI as complete in roadmap
  README.md
Due: none

fix: update stale comments, remove duplicate JSON-LD, fix CSP policy
  CLAUDE.md
  frontend/index.html
  frontend/src/components/blog/BlogDetail.tsx
  frontend/src/services/api.ts
Due: frontend

docs: update roadmap — remove completed blog admin UI, add login page
  README.md
Due: none

docs: update README key features to reflect blog admin UI
  README.md
Due: none

feat: add login page at /login with i18n support
  frontend/src/App.tsx
  frontend/src/components/pages/LoginPage.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

docs: mark login page as complete in roadmap
  README.md
Due: none

fix: render login page without navbar/footer, center vertically
  frontend/src/App.tsx
  frontend/src/components/pages/LoginPage.tsx
Due: frontend

fix: set window.__appLoaded in LoginPage to prevent 5s timeout
  frontend/src/components/pages/LoginPage.tsx
Due: frontend

ci: switch backend tests from PostgreSQL to SQLite for faster CI
  .github/workflows/main-ci-cd.yml
Due: none

fix: change login field from email to username for admin access
  frontend/src/components/pages/LoginPage.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

fix: correct unread_count URL to unread-count (DRF hyphenated actions)
  frontend/src/services/api.ts
Due: frontend

fix: skip token refresh on auth endpoints to prevent 401 retry loop
  frontend/src/services/api.ts
Due: frontend

fix: revert unread-count URL to unread_count (DRF uses underscores)
  frontend/src/services/api.ts
Due: frontend

fix: add cdn.jsdelivr.net and static.cloudflareinsights.com to nginx CSP
  frontend/nginx.conf
Due: none

fix: skip WebSocket reconnect when server doesn't support WS
  frontend/src/contexts/NotificationContext.tsx
Due: frontend

docs: update CLAUDE.md and README.md with login page, admin UI, WS fallback
  CLAUDE.md
  README.md
Due: none

docs: update CLAUDE.md accuracy and README roadmap/badges
  CLAUDE.md
  README.md
Due: none

chore: remove unused deps, fix lint/type errors, update docs
  CLAUDE.md
  README.md
  backend/api/admin.py
  backend/api/admin_views.py
  backend/api/auth.py
  backend/api/models.py
  backend/api/serializers.py
  backend/api/tests.py
  backend/api/views.py
  backend/config/settings.py
  backend/pyproject.toml
  backend/uv.lock
  frontend/package.json
  frontend/public/sitemap-index.xml
  frontend/src/components/blog/__tests__/EditorToolbar.test.tsx
  package-lock.json
Due: backend

chore: clean up stale config files and remove outdated docs
  .env.example
  .gitignore
  .npmrc
  codecov.yml
  frontend/docs/COMPONENT_DOCS.md
  frontend/docs/next-js-migration-analysis.md
Due: none

fix: resolve failing PR checks (security scan, lighthouse) and update docs
  .github/workflows/main-ci-cd.yml
  .github/workflows/pr-checks.yml
  CLAUDE.md
  README.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/lighthouserc.js
Due: backend

refactor: optimize test performance and update docs
  .github/workflows/pr-checks.yml
  CLAUDE.md
  README.md
  backend/api/tests.py
  frontend/src/setupTests.ts
  frontend/vitest.config.ts
Due: backend

perf: use MD5 password hasher in tests and convert more setUp to setUpTestData
  backend/api/tests.py
  backend/config/settings.py
Due: backend

chore: add E2E to PR checks, optimize CI cache, update CONTRIBUTING.md
  .github/workflows/main-ci-cd.yml
  .github/workflows/pr-checks.yml
  CLAUDE.md
  CONTRIBUTING.md
  frontend/src/setupTests.ts
Due: none

docs: update CLAUDE.md and README.md with E2E PR checks
  CLAUDE.md
  README.md
Due: none

ci: add Codecov integration, dependabot auto-merge, and parallel backend tests
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/main-ci-cd.yml
  .github/workflows/pr-checks.yml
  backend/pyproject.toml
  backend/uv.lock
Due: backend

ci: merge dependabot-auto-merge into pr-checks workflow
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/pr-checks.yml
Due: none

docs: add Codecov badge and update CI/CD descriptions
  CLAUDE.md
  README.md
Due: none

fix: use vi.hoisted + importOriginal in HeroSection test for coverage compatibility
  frontend/src/components/sections/__tests__/HeroSection.test.tsx
Due: none

refactor: comprehensive config and infrastructure cleanup
  .dockerignore
  .env.example
  .github/SECRETS-TEMPLATE.md
  .github/workflows/main-ci-cd.yml
  .gitignore
  .npmrc
  .prettierrc
  CLAUDE.md
  CONTRIBUTING.md
  LICENSE
  Makefile
  NOTICE
  README.md
  backend/.env.example
  backend/scripts/deploy.sh
  codecov.yml
  docker-compose.dev.yml
  docker-compose.yml
  frontend/.dockerignore
  frontend/.env.example
  frontend/.prettierignore
  frontend/.prettierrc
  frontend/package.json
  frontend/tsconfig.ci.json
  package-lock.json
  package.json
  scripts/check-ports.sh
  scripts/cleanup-sitevisits.sh
  scripts/docker-build.sh
  scripts/kill-ports.sh
  scripts/pre-deploy-check.sh
  scripts/start-dev.sh
Due: backend

ci: move CODECOV_TOKEN to job-level env to resolve IDE warnings
  .github/workflows/main-ci-cd.yml
Due: none

ci: move CODECOV_TOKEN to workflow-level env to suppress IDE warnings
  .github/workflows/main-ci-cd.yml
Due: none

ci: pass CODECOV_TOKEN via step env instead of with token
  .github/workflows/main-ci-cd.yml
Due: none

docs: remove PR checks badge from README
  README.md
Due: none

fix(ci): restore CODECOV_TOKEN to with: token parameter
  .github/workflows/main-ci-cd.yml
Due: none

feat: add 98 tests, optimize bundle splitting, fix formatting
  CLAUDE.md
  README.md
  backend/api/tests.py
  frontend/src/components/blog/__tests__/BlogDetail.test.tsx
  frontend/src/contexts/__tests__/BlogContext.test.tsx
  frontend/src/contexts/__tests__/UIContext.test.tsx
  frontend/src/services/__tests__/api.additional.test.ts
  frontend/src/services/__tests__/api.integration.test.ts
  frontend/src/services/__tests__/api.nonmock.test.ts
  frontend/vite.config.ts
Due: backend

feat: add 63 blog tests, fix i18n hardcoded strings
  CLAUDE.md
  README.md
  frontend/src/components/blog/BlogInteractions.tsx
  frontend/src/components/blog/SlashCommandMenu.tsx
  frontend/src/components/blog/TipTapEditor.tsx
  frontend/src/components/blog/__tests__/BlogComments.test.tsx
  frontend/src/components/blog/__tests__/BlogInteractions.test.tsx
  frontend/src/components/blog/__tests__/EditorToolbar.test.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

test: add 65 backend tests, coverage 85% → 91%
  CLAUDE.md
  README.md
  backend/api/tests.py
  backend/api/tests_urls.py
Due: backend

fix: correct Codecov backend paths and ignore patterns
  codecov.yml
Due: none
