Repository researcherhojin/emelmujiro: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

feat(profile): attribute MOEL KDT entries to LikeLion and group them
  frontend/src/data/profileData.ts
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

docs: sync README badge and test counts, record changes in CHANGELOG
  CHANGELOG.md
  README.md
Due: none

feat: service modal gesture navigation + MOEL KDT attribution (#381)
  CHANGELOG.md
  README.md
  cspell.json
  frontend/e2e/homepage.spec.ts
  frontend/src/components/common/ServiceModal.tsx
  frontend/src/components/common/__tests__/ServiceModal.test.tsx
  frontend/src/data/profileData.ts
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

test(e2e): make nav specs viewport-aware and touch swipe cross-engine
  frontend/e2e/accessibility.spec.ts
  frontend/e2e/helpers.ts
  frontend/e2e/homepage.spec.ts
  frontend/e2e/navigation.spec.ts
Due: none

docs: record E2E viewport and cross-engine touch fixes in CHANGELOG
  CHANGELOG.md
Due: none

test(e2e): make nav specs viewport-aware and touch swipe cross-engine (#383)
  CHANGELOG.md
  frontend/e2e/accessibility.spec.ts
  frontend/e2e/helpers.ts
  frontend/e2e/homepage.spec.ts
  frontend/e2e/navigation.spec.ts
Due: none

test(e2e): pin local workers to match dev server capacity, fix format drift
  CHANGELOG.md
  frontend/e2e/error-states.spec.ts
  frontend/e2e/profile.spec.ts
  frontend/playwright.config.ts
Due: none

test(e2e): pin local workers to match dev server capacity, fix format drift (#386)
  CHANGELOG.md
  frontend/e2e/error-states.spec.ts
  frontend/e2e/profile.spec.ts
  frontend/playwright.config.ts
Due: none

fix(seo): drop prerendered head tags that React supersedes
  CHANGELOG.md
  frontend/e2e/seo.spec.ts
  frontend/scripts/prerender.js
  frontend/src/components/common/SEOHelmet.tsx
  frontend/src/components/common/__tests__/SEOHelmet.test.tsx
Due: frontend

fix(seo): drop prerendered head tags that React supersedes (#387)
  CHANGELOG.md
  frontend/e2e/seo.spec.ts
  frontend/scripts/prerender.js
  frontend/src/components/common/SEOHelmet.tsx
  frontend/src/components/common/__tests__/SEOHelmet.test.tsx
Due: frontend

test(e2e): run against the production build via an nginx-equivalent server
  CHANGELOG.md
  frontend/e2e/error-states.spec.ts
  frontend/e2e/navigation.spec.ts
  frontend/package.json
  frontend/playwright.config.ts
  frontend/scripts/e2e-server.mjs
Due: none

test(e2e): run against the production build via an nginx-equivalent server (#388)
  CHANGELOG.md
  frontend/e2e/error-states.spec.ts
  frontend/e2e/navigation.spec.ts
  frontend/package.json
  frontend/playwright.config.ts
  frontend/scripts/e2e-server.mjs
Due: none

fix(e2e): stop E2E builds from calling the live production API
  CHANGELOG.md
  frontend/package.json
  frontend/playwright.config.ts
Due: none

fix(e2e): stop E2E builds from calling the live production API (#389)
  CHANGELOG.md
  frontend/package.json
  frontend/playwright.config.ts
Due: none

docs: sync CLAUDE.md with the E2E infrastructure change
  .claude/rules/frontend.md
  CLAUDE.md
Due: none

docs: sync CLAUDE.md with the E2E infrastructure change (#390)
  .claude/rules/frontend.md
  CLAUDE.md
Due: none

chore: resolve the three knip findings by their actual causes
  CHANGELOG.md
  frontend/package.json
  frontend/src/constants/partners.ts
  knip.config.ts
  package-lock.json
Due: frontend

chore: resolve the three knip findings by their actual causes (#392)
  CHANGELOG.md
  frontend/package.json
  frontend/src/constants/partners.ts
  knip.config.ts
  package-lock.json
Due: frontend

fix(deps): sync lockfile with jest-dom 7 so npm ci works again
  package-lock.json
Due: none

fix(deps): sync lockfile with jest-dom 7 so npm ci works again (#393)
  package-lock.json
Due: none

fix(deploy): build to a staging dir so deploys stop 404ing prerendered routes
  .gitignore
  CHANGELOG.md
  frontend/package.json
  frontend/scripts/prerender.js
  frontend/vite.config.ts
  scripts/auto-deploy.sh
Due: none

fix(deploy): build to a staging dir so deploys stop 404ing prerendered routes (#394)
  .gitignore
  CHANGELOG.md
  frontend/package.json
  frontend/scripts/prerender.js
  frontend/vite.config.ts
  scripts/auto-deploy.sh
Due: none

chore: add three cSpell words and make manage.py executable
  backend/manage.py
  cspell.json
Due: backend

chore: add three cSpell words and make manage.py executable (#395)
  backend/manage.py
  cspell.json
Due: backend

docs: correct two measured drifts and bump concurrently to clear 2 high
  CHANGELOG.md
  CLAUDE.md
  README.md
  package-lock.json
  package.json
Due: none

docs: correct two measured drifts and bump concurrently to clear 2 high (#396)
  CHANGELOG.md
  CLAUDE.md
  README.md
  package-lock.json
  package.json
Due: none

docs: record the staticRoutes coupling that ships a hard 404 when missed
  CLAUDE.md
Due: none

docs: record the staticRoutes coupling that ships a hard 404 when missed (#397)
  CLAUDE.md
Due: none

fix(deps): override brace-expansion to clear the last reachable high
  CHANGELOG.md
  CLAUDE.md
  package-lock.json
  package.json
Due: none

fix(deps): override brace-expansion to clear the last reachable high (#398)
  CHANGELOG.md
  CLAUDE.md
  package-lock.json
  package.json
Due: none

docs: align the CLAUDE.md size note with published guidance, and record a rejected split
  CHANGELOG.md
  CLAUDE.md
Due: none

docs: align the CLAUDE.md size note with published guidance, and record a rejected split (#399)
  CHANGELOG.md
  CLAUDE.md
Due: none

ci: stop cosmetic checks from skipping the entire test suite
  .github/workflows/pr-checks.yml
  CHANGELOG.md
  CLAUDE.md
  cspell.json
Due: none

ci: stop cosmetic checks from skipping the entire test suite (#400)
  .github/workflows/pr-checks.yml
  CHANGELOG.md
  CLAUDE.md
  cspell.json
Due: none

deps: align all @tiptap/* to 3.29.2
  README.md
  frontend/package.json
  package-lock.json
  package.json
Due: none

deps: bump web-vitals from 5.3.0 to 6.0.1
  frontend/package.json
  package-lock.json
Due: none

deps: bump jsdom to 30.0.1 and postcss-selector-parser to 7.1.4
  frontend/package.json
  package-lock.json
Due: none

deps: resolve the four dependabot bumps that needed manual handling (#410)
  README.md
  frontend/package.json
  package-lock.json
  package.json
Due: none

Path conditions:
  frontend: any of: frontend/src, but not: **/__tests__/**, **/*.test.js, **/*.test.ts, **/*.test.tsx, **/*.spec.js, **/*.spec.ts, **/test-utils/**, **/mock/**, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts
  backend: any of: backend, but not: **/__tests__/**, **/*.test.js, **/*.test.ts, **/*.test.tsx, **/*.spec.js, **/*.spec.ts, **/test-utils/**, **/mock/**, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts
