Repository researcherhojin/emelmujiro: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: 60%
        threshold: 5%
        base: auto
        flags:
          - frontend
          - backend
        paths:
          - frontend/src
          - backend
        
    patch:
      default:
        target: 60%
        threshold: 5%
        base: auto
        
comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false
  
flags:
  frontend:
    paths:
      - frontend/src
    carryforward: true
    
  backend:
    paths:
      - backend
    carryforward: true

ignore:
  - "**/__tests__/**"
  - "**/*.test.js"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.js"
  - "**/*.spec.ts"
  - "**/test-utils/**"
  - "**/mock/**"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"

chore(frontend): remove remaining PWA dead code and references
  frontend/.env.example
  frontend/docs/COMPONENT_DOCS.md
  frontend/eslint.config.mjs
  frontend/public/cache-cleanup.js
  frontend/public/index.html
  frontend/public/manifest.json
  frontend/src/App.test.tsx
  frontend/src/__tests__/i18n.test.ts
  frontend/src/components/layout/SEO.tsx
  frontend/src/components/seo/SEOHead.tsx
  frontend/src/components/seo/__tests__/SEOHead.test.tsx
  frontend/src/contexts/UIContext.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
  frontend/src/setupTests.ts
  frontend/src/types/api.types.ts
  frontend/src/types/global.d.ts
  frontend/src/utils/__tests__/blogCache.test.ts
  frontend/src/utils/blogCache.ts
  frontend/src/utils/sentry.ts
Due: frontend

chore: remove orphaned i18n subdirectories and stale PWA env vars
  .env.example
  CLAUDE.md
  README.md
  frontend/src/i18n/locales/en/about.json
  frontend/src/i18n/locales/en/blog.json
  frontend/src/i18n/locales/en/common.json
  frontend/src/i18n/locales/en/contact.json
  frontend/src/i18n/locales/en/home.json
  frontend/src/i18n/locales/en/index.ts
  frontend/src/i18n/locales/en/navigation.json
  frontend/src/i18n/locales/en/profile.json
  frontend/src/i18n/locales/ko/about.json
  frontend/src/i18n/locales/ko/blog.json
  frontend/src/i18n/locales/ko/common.json
  frontend/src/i18n/locales/ko/contact.json
  frontend/src/i18n/locales/ko/home.json
  frontend/src/i18n/locales/ko/index.ts
  frontend/src/i18n/locales/ko/navigation.json
  frontend/src/i18n/locales/ko/profile.json
  frontend/src/utils/blogCache.ts
Due: frontend

docs: update CLAUDE.md and README.md for post-PWA cleanup
  CLAUDE.md
  README.md
Due: none

refactor(frontend): deep codebase audit — remove dead code, fix stale refs
  CLAUDE.md
  frontend/public/index.html
  frontend/src/components/admin/AdminDashboard.tsx
  frontend/src/components/blog/BlogDetail.tsx
  frontend/src/components/common/ErrorMessage.tsx
  frontend/src/components/common/LazyImage.tsx
  frontend/src/components/common/Loading.tsx
  frontend/src/components/common/PageLoading.tsx
  frontend/src/components/common/ScrollProgress.tsx
  frontend/src/components/common/ScrollToTop.tsx
  frontend/src/components/common/Section.tsx
  frontend/src/components/common/__tests__/ErrorMessage.test.tsx
  frontend/src/components/common/__tests__/LazyImage.test.tsx
  frontend/src/components/common/__tests__/Loading.test.tsx
  frontend/src/components/common/__tests__/PageLoading.test.tsx
  frontend/src/components/common/__tests__/ScrollProgress.test.tsx
  frontend/src/components/common/__tests__/ScrollToTop.test.tsx
  frontend/src/components/common/__tests__/Section.test.tsx
  frontend/src/components/common/index.ts
  frontend/src/components/layout/SEO.tsx
  frontend/src/components/layout/__tests__/SEO.test.tsx
  frontend/src/components/seo/SEOHead.tsx
  frontend/src/components/seo/__tests__/SEOHead.test.tsx
  frontend/src/index.css
  frontend/src/services/__tests__/api.test.ts
  frontend/src/services/api.ts
  frontend/src/test-utils/mocks/handlers.ts
  frontend/src/types/api.types.ts
  frontend/src/utils/__tests__/i18nFormatters.test.ts
  frontend/src/utils/i18nFormatters.ts
  frontend/src/utils/logger.ts
  frontend/src/utils/performanceMonitor.ts
Due: frontend

docs: update CLAUDE.md and README.md — test counts, changelog, audit summary
  CLAUDE.md
  README.md
Due: none

refactor: resolve remaining backlog C3/H6/L1/L2
  README.md
  frontend/src/components/admin/AdminDashboard.tsx
  frontend/src/components/admin/__tests__/AdminDashboard.test.tsx
  frontend/src/components/blog/BlogSearch.tsx
  frontend/src/components/common/__tests__/Navbar.test.tsx
  frontend/src/test-utils/renderWithProviders.tsx
Due: frontend

refactor: split large components AdminPanel, MessageList, BlogEditor (L3)
  README.md
  frontend/src/components/blog/BlogEditor.tsx
  frontend/src/components/blog/EditorForm.tsx
  frontend/src/components/blog/EditorPreview.tsx
  frontend/src/components/chat/AdminCannedTab.tsx
  frontend/src/components/chat/AdminPanel.tsx
  frontend/src/components/chat/AdminSettingsTab.tsx
  frontend/src/components/chat/AdminStatsTab.tsx
  frontend/src/components/chat/AdminUsersTab.tsx
  frontend/src/components/chat/MessageBubble.tsx
  frontend/src/components/chat/MessageContent.tsx
  frontend/src/components/chat/MessageList.tsx
Due: frontend

refactor: complete 3rd codebase audit — C/H/M/L priority cleanup
  CLAUDE.md
  README.md
  backend/api/admin.py
  backend/api/auth.py
  backend/api/consumers.py
  backend/api/management/commands/security_check.py
  backend/api/middleware.py
  backend/api/migrations/0003_add_blogpost_indexes.py
  backend/api/models.py
  backend/api/swagger.py
  backend/api/tests.py
  backend/api/views.py
  backend/config/settings.py
  backend/uv.lock
  frontend/src/components/admin/AdminDashboard.tsx
  frontend/src/components/blog/BlogEditor.tsx
  frontend/src/components/blog/__tests__/BlogEditor.test.tsx
  frontend/src/components/chat/MessageContent.tsx
  frontend/src/components/chat/MessageList.tsx
  frontend/src/components/pages/SharePage.tsx
  frontend/src/components/pages/__tests__/SharePage.test.tsx
  frontend/src/contexts/BlogContext.tsx
  frontend/src/contexts/ChatContext.tsx
  frontend/src/contexts/FormContext.tsx
  frontend/src/contexts/chatHelpers.ts
  frontend/src/contexts/useChatConnection.ts
  frontend/src/services/__tests__/api.integration.test.ts
  frontend/src/services/api.ts
  frontend/src/setupTests.ts
  frontend/src/test-utils/index.ts
  frontend/src/test-utils/test-utils.tsx
  frontend/src/utils/__tests__/logger.test.ts
  frontend/src/utils/__tests__/sentry.test.ts
  frontend/src/utils/logger.ts
  frontend/src/utils/sentry.ts
Due: frontend, backend

fix: resolve TS type mismatches from ChatContext split
  frontend/src/components/chat/AdminCannedTab.tsx
  frontend/src/components/chat/AdminSettingsTab.tsx
  frontend/src/contexts/useChatConnection.ts
Due: frontend

fix: 4th audit H1-H4 + M2 — password validation, env consistency, dead import
  backend/api/auth.py
  backend/api/middleware.py
  backend/api/tests.py
  backend/api/views.py
  frontend/src/components/common/WebVitalsDashboard.tsx
  frontend/src/components/common/__tests__/WebVitalsDashboard.test.tsx
  frontend/src/utils/webVitals.ts
Due: frontend, backend

test(backend): expand test coverage from 14 to 67 tests
  backend/api/tests.py
Due: backend

docs: update CLAUDE.md and README.md — test counts, 4th audit completion
  CLAUDE.md
  README.md
  frontend/public/sitemap-index.xml
Due: none

refactor: complete 4th audit M4-M6 + L1-L4 — queue bounds, scroll hook, constants
  README.md
  backend/api/middleware.py
  backend/api/models.py
  backend/api/serializers.py
  backend/api/views.py
  frontend/src/components/admin/AdminDashboard.tsx
  frontend/src/components/chat/ChatWindow.tsx
  frontend/src/components/common/Footer.tsx
  frontend/src/components/common/Navbar.tsx
  frontend/src/contexts/chatHelpers.ts
  frontend/src/hooks/useScrollToSection.ts
  frontend/src/services/websocket.ts
Due: frontend, backend

fix(backend): enable token blacklist and fix newsletter resubscription
  CLAUDE.md
  README.md
  backend/api/serializers.py
  backend/api/tests.py
  backend/config/settings.py
Due: backend

refactor(frontend): resolve remaining audit items M3, L2, L3, L7
  CLAUDE.md
  README.md
  frontend/e2e/accessibility.spec.ts
  frontend/src/components/admin/AdminDashboard.tsx
  frontend/src/components/blog/BlogComments.tsx
  frontend/src/components/blog/BlogDetail.tsx
  frontend/src/components/blog/BlogSearch.tsx
  frontend/src/components/blog/EditorPreview.tsx
  frontend/src/components/chat/AdminCannedTab.tsx
  frontend/src/components/chat/MessageBubble.tsx
  frontend/src/components/chat/TypingIndicator.tsx
  frontend/src/components/common/ServiceModal.tsx
  frontend/src/components/common/SkeletonLoader.tsx
  frontend/src/components/common/UnifiedLoading.tsx
  frontend/src/components/pages/AboutPage.tsx
  frontend/src/components/pages/profile/CareerTab.tsx
  frontend/src/components/pages/profile/EducationTab.tsx
  frontend/src/components/pages/profile/ProjectsTab.tsx
  frontend/src/components/sections/ServicesSection.tsx
Due: frontend

docs: 5th audit — all code quality items resolved, define remaining work
  CLAUDE.md
  README.md
Due: none

fix(frontend): BlogComments a11y — i18n aria-labels + fix t() type signature
  README.md
  frontend/src/components/blog/BlogComments.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

docs: update README — mark BlogComments a11y complete, fix VSCode settings
  CLAUDE.md
  README.md
Due: none

refactor: 7th+8th audit — SEO bot detection, ESLint zero warnings, code quality fixes
  CLAUDE.md
  README.md
  backend/api/migrations/0004_contact_user_agent_max_length_and_slug_retry.py
  backend/api/models.py
  backend/api/views.py
  frontend/Dockerfile.dev
  frontend/index.html
  frontend/public/sitemap-index.xml
  frontend/src/__tests__/integration/BlogFlow.test.tsx
  frontend/src/components/admin/AdminDashboard.tsx
  frontend/src/components/blog/BlogComments.tsx
  frontend/src/components/blog/BlogDetail.tsx
  frontend/src/components/blog/BlogSearch.tsx
  frontend/src/components/blog/EditorPreview.tsx
  frontend/src/components/blog/__tests__/BlogInteractions.test.tsx
  frontend/src/components/blog/__tests__/BlogSearch.test.tsx
  frontend/src/components/chat/MessageBubble.tsx
  frontend/src/components/common/SEOHelmet.tsx
  frontend/src/components/common/StructuredData.tsx
  frontend/src/components/common/__tests__/WebVitalsDashboard.test.tsx
  frontend/src/components/layout/Layout.tsx
  frontend/src/components/layout/__tests__/Layout.test.tsx
  frontend/src/components/pages/ContactPage.tsx
  frontend/src/components/pages/SharePage.tsx
  frontend/src/components/pages/profile/CareerTab.tsx
  frontend/src/components/pages/profile/EducationTab.tsx
  frontend/src/components/pages/profile/ProjectsTab.tsx
  frontend/src/config/env.ts
  frontend/src/contexts/ChatContext.tsx
  frontend/src/contexts/FormContext.tsx
  frontend/src/contexts/__tests__/FormContext.test.tsx
  frontend/src/contexts/chatHelpers.ts
  frontend/src/i18n.ts
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
  frontend/src/test-utils/cleanup.ts
  frontend/src/test-utils/test-helpers.tsx
  package-lock.json
  package.json
Due: frontend, backend

docs: refactor README — architecture diagram, Mermaid flowcharts, collapsible audit history
  README.md
Due: none

docs: condense 0.9.8 changelog — deduplicate audit details
  README.md
Due: none

feat(frontend): replace Contact form with Google Form embed + local backend integration fixes
  CLAUDE.md
  README.md
  frontend/index.html
  frontend/src/App.tsx
  frontend/src/components/blog/BlogListPage.tsx
  frontend/src/components/contact/ContactInfo.tsx
  frontend/src/components/contact/__tests__/ContactInfo.test.tsx
  frontend/src/components/layout/Layout.tsx
  frontend/src/components/pages/ContactPage.tsx
  frontend/src/components/pages/__tests__/ContactPage.test.tsx
  frontend/src/contexts/FormContext.tsx
  frontend/src/contexts/__tests__/FormContext.test.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

docs: add backend deployment guide + restore blog UnderConstruction for GitHub Pages
  README.md
  frontend/src/App.tsx
Due: frontend

fix(frontend): KakaoTalk in-app browser white page on Android Galaxy
  frontend/index.html
Due: none

fix(frontend): KakaoTalk in-app browser — remove redirect, show banner instead
  frontend/index.html
  frontend/src/components/layout/Layout.tsx
  frontend/src/types/global.d.ts
Due: frontend

fix(frontend): add legacy browser support for KakaoTalk in-app browser
  frontend/package.json
  frontend/vite.config.ts
  package-lock.json
Due: none

refactor: 9th audit — CSP localhost strip, sitemap/Lighthouse contact, dead code cleanup
  CLAUDE.md
  README.md
  frontend/e2e/contact.spec.ts
  frontend/lighthouserc.js
  frontend/public/sitemap-index.xml
  frontend/public/sitemap.xml
  frontend/scripts/generate-sitemap.js
  frontend/src/components/common/UnderConstruction.tsx
  frontend/src/components/common/__tests__/UnderConstruction.test.tsx
  frontend/vite.config.ts
Due: frontend

docs: update README audit count to 9th
  README.md
Due: none

fix(frontend): KakaoTalk in-app browser white page — multi-layer legacy fallback
  CLAUDE.md
  README.md
  frontend/index.html
  frontend/public/sitemap-index.xml
  frontend/src/components/layout/Layout.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
  frontend/src/main.tsx
  frontend/src/types/global.d.ts
  frontend/vite.config.ts
Due: frontend

fix(ci): backend lint/test missing dev deps, update Trivy action
  .github/workflows/main-ci-cd.yml
  .github/workflows/pr-checks.yml
Due: none

fix(backend): format with black, fix flake8 errors, bump Django 5.2.12
  backend/api/management/commands/security_check.py
  backend/api/swagger.py
  backend/api/tests.py
  backend/api/validators.py
  backend/api/views.py
  backend/config/asgi.py
  backend/config/settings.py
  backend/create_blog_posts.py
  backend/manage.py
  backend/pyproject.toml
  backend/uv.lock
Due: backend

fix(ci): add SECRET_KEY and DEBUG env vars to PR backend tests
  .github/workflows/pr-checks.yml
Due: none

chore(frontend): remove deprecated @types/react-helmet-async
  frontend/package.json
  frontend/src/@types/react-helmet-async.d.ts
  package-lock.json
Due: frontend

fix(frontend): revert tailwindcss 4.x → 3.x, fix dependabot group bypass
  .github/dependabot.yml
  CLAUDE.md
  README.md
  frontend/package.json
  package-lock.json
Due: none

fix(frontend): move __appLoaded flag to useEffect after render
  frontend/index.html
  frontend/src/App.tsx
  frontend/src/main.tsx
Due: frontend

fix(seo): translate JSON-LD structured data to Korean
  frontend/index.html
Due: none

refactor: 12th audit — SEO i18n, ESLint 10, global.d.ts, uv.lock sync
  CLAUDE.md
  README.md
  backend/uv.lock
  frontend/src/components/common/SEOHelmet.tsx
  frontend/src/components/common/StructuredData.tsx
  frontend/src/components/common/__tests__/StructuredData.test.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
  frontend/src/types/global.d.ts
  package.json
Due: frontend, backend

refactor: 13th audit — dead imports, Docker Node LTS, query optimization
  backend/api/admin.py
  backend/api/tests.py
  backend/api/views.py
  frontend/Dockerfile
  frontend/Dockerfile.dev
Due: backend
