Repository researcherhojin/emelmujiro: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

docs: update test count to 1212 frontend tests
  CLAUDE.md
  README.md
Due: none

refactor(test): deduplicate react-i18next mock across 35 test files
  frontend/src/components/blog/__tests__/BlogCard.test.tsx
  frontend/src/components/blog/__tests__/BlogComments.test.tsx
  frontend/src/components/blog/__tests__/BlogDetail.test.tsx
  frontend/src/components/blog/__tests__/BlogEditor.test.tsx
  frontend/src/components/blog/__tests__/BlogInteractions.test.tsx
  frontend/src/components/blog/__tests__/BlogListPage.test.tsx
  frontend/src/components/blog/__tests__/BlogSearch.test.tsx
  frontend/src/components/blog/__tests__/EditorToolbar.test.tsx
  frontend/src/components/blog/__tests__/TipTapEditor.test.tsx
  frontend/src/components/common/__tests__/DarkModeToggle.test.tsx
  frontend/src/components/common/__tests__/ErrorBoundary.test.tsx
  frontend/src/components/common/__tests__/Footer.test.tsx
  frontend/src/components/common/__tests__/Navbar.test.tsx
  frontend/src/components/common/__tests__/NotFound.test.tsx
  frontend/src/components/common/__tests__/NotificationBell.test.tsx
  frontend/src/components/common/__tests__/SEOHelmet.test.tsx
  frontend/src/components/common/__tests__/ServiceModal.test.tsx
  frontend/src/components/common/__tests__/SkipLink.test.tsx
  frontend/src/components/common/__tests__/StructuredData.test.tsx
  frontend/src/components/contact/__tests__/ContactInfo.test.tsx
  frontend/src/components/layout/__tests__/Layout.test.tsx
  frontend/src/components/pages/__tests__/AboutPage.test.tsx
  frontend/src/components/pages/__tests__/ContactPage.test.tsx
  frontend/src/components/pages/__tests__/ProfilePage.test.tsx
  frontend/src/components/pages/__tests__/SharePage.test.tsx
  frontend/src/components/pages/profile/__tests__/CareerTab.test.tsx
  frontend/src/components/pages/profile/__tests__/EducationTab.test.tsx
  frontend/src/components/pages/profile/__tests__/ProfileHero.test.tsx
  frontend/src/components/pages/profile/__tests__/ProjectsTab.test.tsx
  frontend/src/components/pages/profile/__tests__/StatsSection.test.tsx
  frontend/src/components/sections/__tests__/CTASection.test.tsx
  frontend/src/components/sections/__tests__/HeroSection.test.tsx
  frontend/src/components/sections/__tests__/LogosSection.test.tsx
  frontend/src/components/sections/__tests__/ServicesSection.test.tsx
  frontend/src/contexts/__tests__/NotificationContext.test.tsx
  frontend/src/setupTests.ts
Due: none

refactor: extract useToast hook from BlogDetail and BlogEditor
  frontend/src/components/blog/BlogDetail.tsx
  frontend/src/components/blog/BlogEditor.tsx
  frontend/src/hooks/useToast.ts
Due: frontend

refactor(i18n): remove 9 unused translation key groups
  frontend/src/__tests__/i18n.test.ts
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

docs: update test count to 1208 frontend tests
  CLAUDE.md
  README.md
Due: none

refactor(i18n): remove 59 unused keys from translation files
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

refactor: remove unused export from WebSocketMessage interface
  frontend/src/services/websocket.ts
Due: frontend

test: cover App.tsx line 111 and ServicesSection.tsx line 49
  frontend/src/App.test.tsx
  frontend/src/components/sections/__tests__/ServicesSection.test.tsx
Due: none

docs: update test count to 1209 frontend tests
  CLAUDE.md
  README.md
Due: none

ci: ignore constants/ in Codecov and refresh views.py coverage
  backend/api/views.py
  codecov.yml
Due: backend

ci: include env.ts, i18n.ts, blogPosts.ts in Codecov coverage
  codecov.yml
Due: none

test: improve webVitals.ts coverage and include in Codecov
  codecov.yml
  frontend/src/utils/__tests__/webVitals.test.ts
Due: none

docs: update test count to 1213 frontend tests
  CLAUDE.md
  README.md
Due: none

ci: clean up codecov.yml ignore list
  codecov.yml
Due: none

deps: update all dependencies to latest compatible versions
  package-lock.json
Due: none

deps(backend): update channels 4.3.1→4.3.2, psycopg2-binary 2.9.10→2.9.11
  backend/pyproject.toml
  backend/uv.lock
Due: backend

feat: improve dark mode system detection and add blog category filter
  frontend/src/components/blog/BlogListPage.tsx
  frontend/src/contexts/UIContext.tsx
  frontend/src/contexts/__tests__/UIContext.test.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

fix: resolve blog category filter edge cases
  frontend/src/components/blog/BlogListPage.tsx
  frontend/src/components/blog/__tests__/BlogListPage.test.tsx
Due: frontend

test: add category filter tests and fix Navbar TS error
  frontend/src/components/blog/__tests__/BlogListPage.test.tsx
  frontend/src/components/common/__tests__/Navbar.test.tsx
Due: none

docs: update test count to 1218 frontend tests
  CLAUDE.md
  README.md
Due: none

docs: update README badge versions to match installed packages
  README.md
Due: none

fix: restore deleted i18n keys and update services for 2026
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

refactor(i18n): update services with 2026 AI industry keywords
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

style(i18n): shorten service detail texts for card UI balance
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

fix(i18n): rewrite About timeline with actual career milestones
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

refactor: restructure services — AI Agent + Computer Vision
  frontend/src/components/sections/ServicesSection.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

style(i18n): update service descriptions for clarity
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

fix(i18n): sync footerServices.computerVision with services
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

refactor: update services, SEO, and site-wide copy for 2026
  README.md
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

refactor: timeline, SEO, mentoring + BlogListPage 100% coverage
  frontend/src/components/blog/__tests__/BlogListPage.test.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

docs: update test count to 1219 frontend tests
  CLAUDE.md
  README.md
Due: none

fix(ci): show deploy webhook error details instead of silent exit code 22
  .github/workflows/main-ci-cd.yml
Due: none

refactor: codebase cleanup — legacy removal, test coverage, script hardening
  .github/workflows/pr-checks.yml
  .gitignore
  CLAUDE.md
  CONTRIBUTING.md
  Makefile
  README.md
  backend/api/views.py
  docker-compose.yml
  frontend/eslint.config.mjs
  frontend/public/locales/en/about.json
  frontend/public/locales/en/blog.json
  frontend/public/locales/en/common.json
  frontend/public/locales/en/contact.json
  frontend/public/locales/en/home.json
  frontend/public/locales/en/navigation.json
  frontend/public/locales/en/profile.json
  frontend/public/locales/ko/about.json
  frontend/public/locales/ko/blog.json
  frontend/public/locales/ko/common.json
  frontend/public/locales/ko/contact.json
  frontend/public/locales/ko/home.json
  frontend/public/locales/ko/navigation.json
  frontend/public/locales/ko/profile.json
  frontend/scripts/generate-sitemap.js
  frontend/scripts/prerender.js
  frontend/src/components/blog/BlogEditor.tsx
  frontend/src/components/blog/__tests__/TipTapEditor.test.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
  scripts/auto-deploy.sh
  scripts/pre-deploy-check.sh
  scripts/start-dev.sh
  scripts/update-test-counts.sh
Due: frontend, backend

refactor: simplify env.ts and webVitals.ts, remove dead code
  CLAUDE.md
  README.md
  frontend/src/config/env.ts
  frontend/src/utils/__tests__/webVitals.test.ts
  frontend/src/utils/webVitals.ts
Due: frontend

fix(ci): resolve lint, format, and security issues blocking Dependabot PRs
  backend/api/tests.py
  backend/pyproject.toml
  backend/uv.lock
  frontend/src/__tests__/i18n.test.ts
  frontend/src/components/blog/__tests__/TipTapEditor.test.tsx
  frontend/src/utils/__tests__/webVitals.test.ts
Due: backend

feat: add FAQ page, fix CI pipeline, optimize images
  .github/workflows/pr-checks.yml
  .lintstagedrc.js
  backend/.flake8
  frontend/e2e/accessibility.spec.ts
  frontend/e2e/seo.spec.ts
  frontend/lighthouserc.js
  frontend/scripts/generate-sitemap.js
  frontend/src/App.tsx
  frontend/src/assets/logos/ablearnLogo.png
  frontend/src/assets/logos/ablearnLogo.webp
  frontend/src/assets/logos/hyundaiLogo.png
  frontend/src/assets/logos/hyundaiLogo.webp
  frontend/src/assets/logos/moduLogo.png
  frontend/src/assets/logos/moduLogo.webp
  frontend/src/assets/logos/naverLogo.png
  frontend/src/assets/logos/naverLogo.webp
  frontend/src/assets/logos/nipaLogo.png
  frontend/src/assets/logos/nipaLogo.webp
  frontend/src/assets/logos/scienceFoundationLogo.png
  frontend/src/assets/logos/scienceFoundationLogo.webp
  frontend/src/assets/logos/snuLogo.png
  frontend/src/assets/logos/snuLogo.webp
  frontend/src/assets/logos/uosLogo.gif
  frontend/src/assets/logos/uosLogo.webp
  frontend/src/components/blog/TipTapEditor.css
  frontend/src/components/pages/FAQPage.tsx
  frontend/src/components/pages/__tests__/FAQPage.test.tsx
  frontend/src/constants/partners.ts
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
  frontend/src/index.css
Due: frontend, backend

fix(ci): resolve E2E strict mode violations, relax CLS, add FAQ to footer
  frontend/e2e/accessibility.spec.ts
  frontend/lighthouserc.js
  frontend/src/components/common/Footer.tsx
Due: frontend

fix(ci): resolve remaining E2E and Lighthouse failures
  frontend/e2e/error-states.spec.ts
  frontend/e2e/homepage.spec.ts
  frontend/lighthouserc.js
Due: none

fix(ci): fix last 2 E2E failures — 404 timeout and mobile menu visibility
  frontend/e2e/error-states.spec.ts
  frontend/e2e/homepage.spec.ts
Due: none

fix(ci): fix E2E mobile menu, 404, and SEO title tests
  frontend/e2e/error-states.spec.ts
  frontend/e2e/homepage.spec.ts
  frontend/e2e/seo.spec.ts
Due: none

Path conditions:
  frontend: any of: frontend/src, but not: **/__tests__/**, **/*.test.js, **/*.test.ts, **/*.test.tsx, **/*.spec.js, **/*.spec.ts, **/test-utils/**, **/mock/**, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts
  backend: any of: backend, but not: **/__tests__/**, **/*.test.js, **/*.test.ts, **/*.test.tsx, **/*.spec.js, **/*.spec.ts, **/test-utils/**, **/mock/**, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts
