Repository researcherhojin/emelmujiro: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

docs: restore badge style for tech stack section
  README.md
Due: none

fix(security): remove hardcoded secrets from auto-deploy script
  frontend/.gitignore
  scripts/auto-deploy.sh
Due: none

feat(monitoring): enhance Sentry user context and GA event tracking
  frontend/src/components/blog/BlogDetail.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/contexts/UIContext.tsx
  frontend/src/i18n.ts
  frontend/src/utils/analytics.ts
  frontend/src/utils/sentry.ts
Due: frontend

feat(notifications): add notification UI with WebSocket real-time support
  frontend/src/App.tsx
  frontend/src/components/common/Navbar.tsx
  frontend/src/components/common/NotificationBell.tsx
  frontend/src/contexts/NotificationContext.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
  frontend/src/services/api.ts
  frontend/src/types/index.ts
Due: frontend

perf: add API preconnect, chunk splitting, and Lighthouse improvements
  frontend/index.html
  frontend/lighthouserc.js
  frontend/src/components/sections/LogosSection.tsx
  frontend/vite.config.ts
Due: frontend

feat(admin): enhance dashboard with messages, analytics, users, settings tabs
  backend/api/urls.py
  backend/api/views.py
  frontend/src/components/admin/AdminDashboard.tsx
  frontend/src/components/admin/__tests__/AdminDashboard.test.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
  frontend/src/services/api.ts
Due: frontend, backend

test(e2e): add about, navigation, SEO, error-states, and share E2E specs
  frontend/e2e/about.spec.ts
  frontend/e2e/error-states.spec.ts
  frontend/e2e/navigation.spec.ts
  frontend/e2e/seo.spec.ts
  frontend/e2e/share.spec.ts
Due: none

fix(lint): add E203 to flake8 ignore list for black compatibility
  backend/.flake8
Due: backend

feat: integrate NotificationBell in admin, add notification tests, fix E2E
  CLAUDE.md
  frontend/e2e/navigation.spec.ts
  frontend/src/components/admin/AdminDashboard.tsx
  frontend/src/components/admin/__tests__/AdminDashboard.test.tsx
  frontend/src/components/common/__tests__/NotificationBell.test.tsx
  frontend/src/contexts/__tests__/NotificationContext.test.tsx
Due: frontend

fix(test): use vi.hoisted for mock fns in NotificationContext tests
  frontend/src/contexts/__tests__/NotificationContext.test.tsx
Due: none

docs: update README with Phase 1-4 features, update CLAUDE.md test counts
  CLAUDE.md
  README.md
  frontend/public/sitemap-index.xml
Due: none

docs: add categorized roadmap to README
  README.md
Due: none

fix(test): add missing test coverage, fix stripLangPrefix bug, install coverage dep
  frontend/package.json
  frontend/src/components/admin/__tests__/AdminDashboard.test.tsx
  frontend/src/components/common/__tests__/NotificationBell.test.tsx
  frontend/src/components/common/__tests__/ServiceModal.test.tsx
  frontend/src/hooks/__tests__/useLocalizedPath.test.ts
  frontend/src/hooks/__tests__/useScrollToSection.test.ts
  frontend/src/hooks/useLocalizedPath.ts
  frontend/src/test-utils/mocks/handlers.ts
  frontend/src/test-utils/renderWithProviders.tsx
  package-lock.json
Due: frontend

deps: update @sentry/react 10.43→10.44, msw 2.12.12→2.12.13
  package-lock.json
Due: none

test: add profile sub-component and blog editor tests
  frontend/src/components/blog/__tests__/EditorForm.test.tsx
  frontend/src/components/blog/__tests__/EditorPreview.test.tsx
  frontend/src/components/pages/profile/__tests__/CareerTab.test.tsx
  frontend/src/components/pages/profile/__tests__/EducationTab.test.tsx
  frontend/src/components/pages/profile/__tests__/ProfileHero.test.tsx
  frontend/src/components/pages/profile/__tests__/ProjectsTab.test.tsx
  frontend/src/components/pages/profile/__tests__/StatsSection.test.tsx
Due: none

fix(security): harden nginx CSP, admin endpoints, CORS, and Docker ports
  README.md
  backend/api/views.py
  backend/config/settings.py
  docker-compose.dev.yml
  frontend/nginx.conf
Due: backend

docs: streamline CLAUDE.md (430→207 lines), update README test counts
  CLAUDE.md
  README.md
Due: none

docs: clean up README roadmap — remove completed items, reorganize by domain
  README.md
Due: none

feat(admin): add user management CRUD with search, filters, and pagination
  backend/api/admin_views.py
  backend/api/serializers.py
  backend/api/urls.py
  frontend/src/components/admin/AdminUsersTab.tsx
  frontend/src/components/admin/DeleteConfirmModal.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
  frontend/src/services/api.ts
  frontend/src/types/index.ts
Due: frontend, backend

feat(admin): add real-time analytics dashboard with recharts visit trends
  frontend/package.json
  frontend/src/components/admin/AdminAnalyticsTab.tsx
  frontend/vite.config.ts
  package-lock.json
Due: frontend

feat(notifications): add type-specific icons, preferences, and email delivery
  backend/api/admin.py
  backend/api/consumers.py
  backend/api/migrations/0007_notificationpreference.py
  backend/api/models.py
  backend/api/views.py
  frontend/src/components/admin/AdminSettingsTab.tsx
  frontend/src/components/common/NotificationBell.tsx
  frontend/src/contexts/NotificationContext.tsx
Due: frontend, backend

ci: parallelize PR checks, add uv/Trivy cache, share build artifacts
  .github/workflows/main-ci-cd.yml
  .github/workflows/pr-checks.yml
Due: none

refactor: split AdminDashboard into separate files, add edge case tests
  backend/api/tests.py
  frontend/src/components/admin/AdminContentTab.tsx
  frontend/src/components/admin/AdminDashboard.tsx
  frontend/src/components/admin/AdminMessagesTab.tsx
  frontend/src/components/admin/AdminOverviewTab.tsx
  frontend/src/components/admin/AdminSidebar.tsx
  frontend/src/components/admin/__tests__/AdminDashboard.test.tsx
  frontend/src/components/admin/types.ts
  frontend/src/components/common/__tests__/NotificationBell.test.tsx
Due: frontend, backend

docs: update CLAUDE.md and README for completed roadmap items
  CLAUDE.md
  README.md
Due: none

refactor: remove React admin dashboard, use Django Admin instead
  CLAUDE.md
  README.md
  frontend/e2e/error-states.spec.ts
  frontend/index.html
  frontend/nginx.conf
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/admin/AdminAnalyticsTab.tsx
  frontend/src/components/admin/AdminContentTab.tsx
  frontend/src/components/admin/AdminDashboard.tsx
  frontend/src/components/admin/AdminMessagesTab.tsx
  frontend/src/components/admin/AdminOverviewTab.tsx
  frontend/src/components/admin/AdminSettingsTab.tsx
  frontend/src/components/admin/AdminSidebar.tsx
  frontend/src/components/admin/AdminUsersTab.tsx
  frontend/src/components/admin/DeleteConfirmModal.tsx
  frontend/src/components/admin/__tests__/AdminDashboard.test.tsx
  frontend/src/components/admin/types.ts
  frontend/src/components/blog/BlogListPage.tsx
  frontend/src/components/common/ProtectedRoute.tsx
  frontend/src/components/common/__tests__/ProtectedRoute.test.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
  frontend/src/services/api.ts
  frontend/src/test-utils/mocks/handlers.ts
  frontend/src/types/index.ts
  frontend/vite.config.ts
  package-lock.json
Due: frontend

fix(test): remove stale admin key from i18n top-level keys test
  frontend/src/__tests__/i18n.test.ts
Due: none

refactor: remove dead code and unused dependencies
  frontend/package.json
  frontend/src/services/__tests__/api.additional.test.ts
  frontend/src/services/api.ts
  frontend/src/test-utils/mocks/handlers.ts
  frontend/src/utils/analytics.ts
  package-lock.json
Due: frontend

refactor: remove orphaned FormContext and ContactForm
  CLAUDE.md
  frontend/src/App.tsx
  frontend/src/components/contact/ContactForm.tsx
  frontend/src/components/contact/__tests__/ContactForm.test.tsx
  frontend/src/contexts/FormContext.tsx
  frontend/src/contexts/__tests__/FormContext.test.tsx
  frontend/src/test-utils/renderWithProviders.tsx
Due: frontend

fix: update BlogFlow test to use api instead of removed blogService
  CLAUDE.md
  frontend/src/__tests__/integration/BlogFlow.test.tsx
Due: none

docs: update test counts in README.md and CLAUDE.md
  CLAUDE.md
  README.md
Due: none

docs: define phased roadmap with precise task scopes
  CLAUDE.md
  README.md
Due: none

feat: add blog CRUD API and TipTap rich text editor
  backend/api/migrations/0008_add_content_html_to_blogpost.py
  backend/api/models.py
  backend/api/serializers.py
  backend/api/tests.py
  backend/api/urls.py
  backend/api/views.py
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/blog/BlogDetail.tsx
  frontend/src/components/blog/BlogEditor.tsx
  frontend/src/components/blog/EditorForm.tsx
  frontend/src/components/blog/EditorPreview.tsx
  frontend/src/components/blog/EditorToolbar.tsx
  frontend/src/components/blog/SlashCommandMenu.tsx
  frontend/src/components/blog/TipTapEditor.css
  frontend/src/components/blog/TipTapEditor.tsx
  frontend/src/components/blog/__tests__/BlogEditor.test.tsx
  frontend/src/components/blog/__tests__/EditorForm.test.tsx
  frontend/src/components/blog/__tests__/EditorPreview.test.tsx
  frontend/src/components/blog/__tests__/EditorToolbar.test.tsx
  frontend/src/components/blog/__tests__/TipTapEditor.test.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
  frontend/vite.config.ts
  package-lock.json
Due: frontend, backend

feat: add Like and Comment APIs with frontend integration
  backend/api/admin.py
  backend/api/migrations/0009_add_blog_like_comment_models.py
  backend/api/models.py
  backend/api/serializers.py
  backend/api/tests.py
  backend/api/urls.py
  backend/api/views.py
  frontend/src/components/blog/BlogComments.tsx
  frontend/src/components/blog/BlogInteractions.tsx
  frontend/src/components/blog/__tests__/BlogComments.test.tsx
  frontend/src/components/blog/__tests__/BlogInteractions.test.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
Due: frontend, backend

docs: update README roadmap and fix blog editor i18n keys
  CLAUDE.md
  README.md
  backend/api/admin.py
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend, backend

refactor: remove dead code, fix bugs, and optimize SEO
  CLAUDE.md
  README.md
  backend/api/admin_views.py
  backend/api/middleware.py
  backend/api/serializers.py
  backend/api/tests.py
  frontend/src/App.tsx
  frontend/src/components/blog/EditorToolbar.tsx
  frontend/src/components/blog/__tests__/EditorToolbar.test.tsx
  frontend/src/components/common/Button.tsx
  frontend/src/components/common/Card.tsx
  frontend/src/components/common/UnderConstruction.tsx
  frontend/src/components/common/__tests__/Button.test.tsx
  frontend/src/components/common/__tests__/Card.test.tsx
  frontend/src/components/common/__tests__/UnderConstruction.test.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
  frontend/src/services/api.ts
  frontend/src/types/global.d.ts
  frontend/src/utils/__tests__/constants.test.ts
  frontend/src/utils/__tests__/logger.test.ts
  frontend/src/utils/constants.ts
  frontend/src/utils/logger.ts
  frontend/vitest.config.ts
Due: frontend, backend

fix(seo): align index.html meta tags with actual business description
  frontend/public/index.html
  frontend/public/sitemap-index.xml
Due: none

docs: clarify api.ts section comments and add blog admin UI to roadmap
  README.md
  frontend/src/services/api.ts
Due: frontend

docs: fix TipTap badge version and align all badges to actual package versions
  CLAUDE.md
  README.md
Due: none

fix(seo): remove duplicate title/description tags from prerendered HTML
  frontend/index.html
  frontend/public/index.html
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

fix(seo): eliminate all duplicate meta tags in prerendered HTML
  frontend/index.html
  frontend/scripts/prerender.js
  frontend/src/components/pages/ContactPage.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

Path conditions:
  frontend: any of: frontend/src, but not: **/__tests__/**, **/*.test.js, **/*.test.ts, **/*.test.tsx, **/*.spec.js, **/*.spec.ts, **/test-utils/**, **/mock/**, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts
  backend: any of: backend, but not: **/__tests__/**, **/*.test.js, **/*.test.ts, **/*.test.tsx, **/*.spec.js, **/*.spec.ts, **/test-utils/**, **/mock/**, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts
