Repository researcherhojin/emelmujiro: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: 60%
        threshold: 5%
        base: auto
        flags:
          - frontend
          - backend
        paths:
          - frontend/src
          - backend
        
    patch:
      default:
        target: 60%
        threshold: 5%
        base: auto
        
comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false
  
flags:
  frontend:
    paths:
      - frontend/src
    carryforward: true
    
  backend:
    paths:
      - backend
    carryforward: true

ignore:
  - "**/__tests__/**"
  - "**/*.test.js"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.js"
  - "**/*.spec.ts"
  - "**/test-utils/**"
  - "**/mock/**"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"

docs: expand TODO with discovered items from today's session
  .github/TODO.md
Due: none

fix(ci): add lcov reporter for Codecov frontend coverage upload
  frontend/vitest.config.ts
Due: none

fix: resolve all 5 TypeScript errors, remove stale common.about key
  frontend/src/components/blog/__tests__/BlogCard.test.tsx
  frontend/src/components/blog/__tests__/BlogDetail.test.tsx
  frontend/src/contexts/__tests__/NotificationContext.test.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
  frontend/src/setupTests.ts
Due: frontend

docs: update TODO — mark tech debt items as resolved
  .github/TODO.md
Due: none

docs: add dead i18n keys cleanup to TODO
  .github/TODO.md
Due: none

refactor: remove dead i18n keys (achievements, profileData, profilePage unused)
  .github/TODO.md
  frontend/src/__tests__/i18n.test.ts
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

refactor: mobile responsive overhaul, blog→insights branding, en.json optimization
  CLAUDE.md
  README.md
  frontend/src/components/blog/BlogListPage.tsx
  frontend/src/components/pages/ContactPage.tsx
  frontend/src/components/pages/ProfilePage.tsx
  frontend/src/components/sections/CTASection.tsx
  frontend/src/components/sections/HeroSection.tsx
  frontend/src/components/sections/LogosSection.tsx
  frontend/src/components/sections/ServicesSection.tsx
  frontend/src/components/sections/TestimonialsSection.tsx
  frontend/src/components/sections/__tests__/CTASection.test.tsx
  frontend/src/data/profileData.ts
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
  frontend/src/index.css
Due: frontend

docs: update README badge versions, clean up TODO
  README.md
Due: none

refactor: dead code cleanup, dedup utilities, en.json mobile optimization
  .github/assets/home-dark.png
  .github/assets/home-light.png
  README.md
  backend/api/constants.py
  backend/api/middleware.py
  backend/api/serializers.py
  backend/api/views.py
  backend/pyproject.toml
  backend/uv.lock
  frontend/src/App.tsx
  frontend/src/components/blog/BlogCard.tsx
  frontend/src/components/blog/BlogDetail.tsx
  frontend/src/components/blog/BlogListPage.tsx
  frontend/src/components/common/Footer.tsx
  frontend/src/components/common/NotificationBell.tsx
  frontend/src/components/common/ServiceModal.tsx
  frontend/src/components/common/__tests__/Navbar.test.tsx
  frontend/src/components/pages/ProfilePage.tsx
  frontend/src/hooks/__tests__/useLocalizedPath.test.ts
  frontend/src/hooks/useLocalizedPath.ts
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
  frontend/src/services/api.ts
  frontend/src/utils/dateFormat.ts
  frontend/src/utils/imageUtils.ts
Due: frontend, backend

refactor: delete FAQSection, extract CI composite action, fix config inconsistencies
  .env.example
  .github/TODO.md
  .github/actions/setup-node/action.yml
  .github/workflows/main-ci-cd.yml
  .github/workflows/pr-checks.yml
  CLAUDE.md
  README.md
  backend/Dockerfile.dev
  docker-compose.dev.yml
  frontend/eslint.config.mjs
  frontend/package.json
  frontend/src/components/sections/FAQSection.tsx
  frontend/src/components/sections/HeroSection.tsx
  frontend/src/components/sections/__tests__/FAQSection.test.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
  package-lock.json
  package.json
  scripts/start-dev.sh
Due: frontend, backend

refactor: unify BlogPost fields to snake_case, remove camelCase aliases
  backend/api/serializers.py
  frontend/src/__tests__/integration/BlogFlow.test.tsx
  frontend/src/components/blog/BlogCard.tsx
  frontend/src/components/blog/BlogDetail.tsx
  frontend/src/components/blog/BlogEditor.tsx
  frontend/src/components/blog/BlogInteractions.tsx
  frontend/src/components/blog/BlogSearch.tsx
  frontend/src/components/blog/__tests__/BlogCard.test.tsx
  frontend/src/components/blog/__tests__/BlogDetail.test.tsx
  frontend/src/components/blog/__tests__/BlogEditor.test.tsx
  frontend/src/components/blog/__tests__/BlogInteractions.test.tsx
  frontend/src/components/blog/__tests__/BlogListPage.test.tsx
  frontend/src/components/blog/__tests__/BlogSearch.test.tsx
  frontend/src/contexts/__tests__/BlogContext.test.tsx
  frontend/src/data/__tests__/blogPosts.test.ts
  frontend/src/data/blogPosts.ts
  frontend/src/services/__tests__/api.additional.test.ts
  frontend/src/services/__tests__/mockData.test.ts
  frontend/src/services/api.ts
  frontend/src/services/mockData.ts
  frontend/src/types/__tests__/types.test.ts
  frontend/src/types/index.ts
Due: frontend, backend

fix: rename remaining publishedAt in test description
  frontend/src/services/__tests__/mockData.test.ts
Due: none

docs: remove completed serializer field unification from TODO
  .github/TODO.md
Due: none

docs: update CLAUDE.md and README for snake_case unification, FAQ removal, CI action
  CLAUDE.md
  README.md
Due: none

ci: upgrade upload-artifact v7 → v8 to resolve Node.js 20 deprecation warning
  .github/workflows/main-ci-cd.yml
  .github/workflows/pr-checks.yml
Due: none

fix(ci): revert upload-artifact to v7 — v8 does not exist yet
  .github/workflows/main-ci-cd.yml
  .github/workflows/pr-checks.yml
Due: none

ci: skip prerender in CI build to eliminate Playwright dependency (~20s faster)
  .github/workflows/main-ci-cd.yml
Due: none

fix(ci): fix frontend coverage paths for Codecov — prefix src/ with frontend/
  .github/workflows/main-ci-cd.yml
Due: none

test: add ServiceModal nav/focus-trap + ProfilePage CTA coverage tests
  README.md
  frontend/src/components/common/__tests__/ServiceModal.test.tsx
  frontend/src/components/pages/__tests__/ProfilePage.test.tsx
Due: none

fix(seo): add blog OG image, LoginPage noindex, ContactPage structured data
  frontend/src/components/blog/BlogDetail.tsx
  frontend/src/components/common/SEOHelmet.tsx
  frontend/src/components/pages/ContactPage.tsx
  frontend/src/components/pages/LoginPage.tsx
Due: frontend

fix: achieve 100% branch coverage — add v8 ignore for defensive branches
  frontend/src/components/common/Footer.tsx
  frontend/src/components/common/ServiceModal.tsx
  frontend/src/components/pages/ProfilePage.tsx
  frontend/src/components/sections/ServicesSection.tsx
Due: frontend

fix: guard django_extensions import with try/except for Docker compatibility
  .github/TODO.md
  backend/config/settings.py
Due: backend

chore: change license from Apache 2.0 to AGPL-3.0
  LICENSE
  NOTICE
  README.md
Due: none

style: reorder README badges by role — runtime first, tools grouped
  README.md
Due: none

fix(i18n): translation quality fixes + update teaching history #3
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

fix(i18n): unify teaching #3 separator to & (match other entries)
  frontend/src/i18n/locales/ko.json
Due: frontend

fix: add production domains to ALLOWED_HOSTS in .env.example
  .env.example
Due: none

docs: update TODO — mark i18n review as completed
  .github/TODO.md
Due: none

fix: resolve Docker healthcheck, IPv6 validation, nginx headers, and settings parsing bugs
  Makefile
  backend/api/auth.py
  backend/api/views.py
  backend/config/settings.py
  backend/config/urls.py
  docker-compose.yml
  frontend/nginx.conf
Due: backend

fix: resolve JWT refresh race condition and env var name mismatches
  .env.example
  CLAUDE.md
  frontend/.env.production
  frontend/src/services/api.ts
Due: frontend

fix(api): use Axios params for query parameter encoding
  frontend/src/services/__tests__/api.nonmock.test.ts
  frontend/src/services/api.ts
Due: frontend

style: improve mobile responsive layout for sub-640px viewports
  CLAUDE.md
  README.md
  frontend/src/components/blog/BlogListPage.tsx
  frontend/src/components/pages/ContactPage.tsx
  frontend/src/components/pages/ProfilePage.tsx
  frontend/src/components/sections/HeroSection.tsx
Due: frontend

chore: consolidate config files and add GA tracking ID
  .dockerignore
  .env.example
  .gitignore
  backend/.gitignore
  frontend/.env.production
  frontend/.gitignore
  frontend/.prettierignore
Due: backend

fix: correct Pyright Python version and add temp file cleanup trap
  .github/TODO.md
  backend/pyrightconfig.json
  scripts/pre-deploy-check.sh
Due: backend

refactor: separate env files, extract backend utils, clean up configs
  .env.example
  CLAUDE.md
  CONTRIBUTING.md
  Makefile
  backend/.dockerignore
  backend/.env.example
  backend/Dockerfile
  backend/api/admin_views.py
  backend/api/constants.py
  backend/api/middleware.py
  backend/api/tests.py
  backend/api/utils.py
  backend/api/views.py
  backend/pyproject.toml
  backend/pyrightconfig.json
  backend/uv.lock
  docker-compose.dev.yml
  docker-compose.yml
  frontend/Dockerfile
  frontend/eslint.config.mjs
  frontend/index.html
  frontend/nginx.conf
  frontend/playwright.config.ts
  frontend/tsconfig.node.json
  package.json
  scripts/start-dev.sh
Due: backend

style: apply black formatting and fix flake8 E501 in seed data
  backend/.flake8
  backend/api/auth.py
  backend/api/management/commands/create_blog_posts.py
  backend/config/settings.py
Due: backend

fix: correct React Router DOM badge name and TipTap version in README
  README.md
Due: none

fix(i18n): update teaching history titles and correct TipTap badge version
  README.md
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

fix(api): correct BlogCategory type, mock data, and auth URL consistency
  frontend/src/components/blog/BlogEditor.tsx
  frontend/src/components/blog/BlogListPage.tsx
  frontend/src/components/blog/__tests__/BlogEditor.test.tsx
  frontend/src/services/__tests__/api.additional.test.ts
  frontend/src/services/__tests__/api.nonmock.test.ts
  frontend/src/services/api.ts
  frontend/src/services/mockData.ts
  frontend/src/types/index.ts
Due: frontend

test(api): achieve 100% coverage on api.ts interceptors
  README.md
  frontend/src/services/__tests__/api.integration.test.ts
  frontend/src/services/api.ts
Due: frontend
