Repository researcherhojin/emelmujiro: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

fix: CI/CD 테스트 오류 해결 - 컴포넌트 변경사항에 맞춰 테스트 업데이트
  frontend/src/components/common/__tests__/Footer.test.tsx
  frontend/src/components/common/__tests__/Navbar.test.tsx
  frontend/src/components/pages/__tests__/AboutPage.test.tsx
  frontend/src/components/pages/__tests__/ContactPage.test.tsx
  frontend/src/components/pages/__tests__/ProfilePage.test.tsx
  frontend/src/components/sections/__tests__/ServicesSection.test.tsx
Due: none

fix: GitHub Actions deprecated set-output 경고 해결
  .github/workflows/main-ci-cd.yml
Due: none

fix: GitHub Actions workflow 문법 오류 수정
  .github/workflows/main-ci-cd.yml
Due: none

feat: 프로필 페이지 프로젝트 섹션 카테고리별 필터링 기능 추가
  frontend/src/components/pages/ProfilePage.tsx
Due: frontend

fix: 산업전문인력 AI역량강화 교육 프로젝트 상태 업데이트
  frontend/src/components/pages/ProfilePage.tsx
Due: frontend

feat: 프로필 페이지 정보 전면 업데이트 및 최적화
  README.md
  frontend/src/components/pages/ProfilePage.tsx
  frontend/src/components/pages/__tests__/ProfilePage.test.tsx
Due: frontend

docs: README.md 종합 업데이트 및 누락된 기능 문서화
  README.md
  frontend/public/sitemap.xml
Due: none

fix: 모바일 반응형 개선 및 CORS 설정 업데이트
  backend/config/settings.py
  frontend/src/components/sections/HeroSection.tsx
Due: frontend, backend

test: 스킵된 테스트 활성화 및 환경변수 설정 개선
  .env.example
  frontend/src/components/chat/__tests__/ChatWidget.test.tsx
  frontend/src/components/common/__tests__/NotificationPermission.test.tsx
  frontend/src/components/common/__tests__/WebVitalsDashboard.test.tsx
  frontend/src/components/layout/__tests__/SEO.test.tsx
Due: none

fix: ChatWidget 테스트 타이밍 문제 임시 해결
  frontend/src/components/chat/__tests__/ChatWidget.test.tsx
Due: none

fix: CI/CD 파이프라인 테스트 실패 수정
  frontend/src/components/common/__tests__/NotificationPermission.test.tsx
  frontend/src/components/common/__tests__/WebVitalsDashboard.test.tsx
  frontend/src/components/layout/__tests__/SEO.test.tsx
Due: none

feat: E2E 테스트 확장 및 프로필 페이지 테스트 추가
  frontend/e2e/profile.spec.ts
Due: none

test: 테스트 커버리지 개선 - Chat 및 Pages 컴포넌트 테스트 추가
  frontend/src/components/chat/__tests__/QuickReplies.test.tsx
  frontend/src/components/chat/__tests__/TypingIndicator.test.tsx
  frontend/src/components/pages/__tests__/SharePage.test.tsx
Due: none

fix: SharePage 테스트 안정성 개선
  frontend/src/components/pages/__tests__/SharePage.test.tsx
Due: none

test: FileUpload 컴포넌트 테스트 추가 및 커버리지 개선
  frontend/src/components/chat/__tests__/FileUpload.test.tsx
Due: none

test: useApiError hook 및 EmojiPicker 컴포넌트 테스트 추가
  frontend/src/components/chat/__tests__/EmojiPicker.test.tsx
  frontend/src/hooks/__tests__/useApiError.test.ts
Due: none

fix: CI/CD 파이프라인 테스트 오류 수정 및 커버리지 개선
  frontend/src/components/chat/__tests__/EmojiPicker.test.tsx
  frontend/src/hooks/__tests__/useApiError.test.ts
  frontend/src/services/__tests__/api.additional.test.ts
Due: none

fix: TypeScript 타입 오류 수정 및 테스트 안정성 개선
  frontend/src/services/__tests__/api.additional.test.ts
Due: none

fix: TypeScript 타입 에러 수정 및 테스트 커버리지 개선
  frontend/src/components/chat/__tests__/ChatWindow.test.tsx
  frontend/src/components/chat/__tests__/MessageList.test.tsx
  frontend/src/components/pages/ProfilePage.tsx
  frontend/src/data/__tests__/blogPosts.test.ts
  frontend/src/hooks/__tests__/useApiError.test.ts
  frontend/src/services/__tests__/api.additional.test.ts
  frontend/src/utils/__tests__/blogCache.test.ts
Due: frontend

fix: 테스트 파일 TypeScript 타입 오류 및 실패 수정
  frontend/src/components/chat/__tests__/ChatWindow.test.tsx
  frontend/src/components/chat/__tests__/MessageList.test.tsx
  frontend/src/services/__tests__/api.additional.test.ts
  frontend/src/utils/blogCache.ts
Due: frontend

fix: ChatWindow 테스트 모킹 오류 수정 및 코드 품질 개선
  frontend/src/components/chat/__tests__/ChatWindow.test.tsx
  frontend/src/components/chat/__tests__/EmojiPicker.test.tsx
Due: none

refactor: 콘솔 경고 및 로그 최적화
  frontend/public/manifest.json
  frontend/src/App.tsx
  frontend/src/components/common/WebVitalsDashboard.tsx
  frontend/src/utils/webVitals.ts
Due: frontend

fix: CI/CD 파이프라인 오류 수정
  frontend/src/App.tsx
  frontend/src/components/chat/__tests__/ChatWindow.test.tsx
Due: frontend

fix: 테스트 안정성 개선 및 모킹 오류 수정
  frontend/src/components/chat/__tests__/ChatWindow.test.tsx
  frontend/src/components/chat/__tests__/EmojiPicker.test.tsx
Due: none

refactor: 블로그 캐시 초기화 개선 및 로그 노이즈 감소
  frontend/src/utils/blogCache.ts
  frontend/src/utils/webVitals.ts
Due: frontend

fix: TypeScript any 타입 경고 제거 및 ChatWindow 테스트 import 오류 수정
  frontend/src/components/chat/__tests__/ChatWindow.test.tsx
  frontend/src/components/chat/__tests__/FileUpload.test.tsx
Due: none

fix: Testing Library best practice 적용 및 DOM 직접 접근 제거
  frontend/src/components/chat/FileUpload.tsx
  frontend/src/components/chat/__tests__/FileUpload.test.tsx
Due: frontend

fix: ChatWindow 테스트 기대값을 실제 컴포넌트 구조에 맞게 수정
  frontend/src/components/chat/__tests__/ChatWindow.test.tsx
Due: none

fix: ChatWindow 테스트 오류 수정 및 mock 완성도 개선
  frontend/src/components/chat/__tests__/ChatWindow.test.tsx
Due: none

fix: 테스트 TypeScript 타입 개선 및 조건부 expect 제거
  frontend/src/components/chat/__tests__/ChatWindow.test.tsx
  frontend/src/components/chat/__tests__/QuickReplies.test.tsx
Due: none

fix: ChatWindow 테스트에서 emoji button title 수정
  frontend/src/components/chat/__tests__/ChatWindow.test.tsx
Due: none

fix: ChatWindow 테스트 EmojiPicker mock 수정 및 개선
  frontend/src/components/chat/__tests__/ChatWindow.test.tsx
Due: none

test: 테스트 커버리지 개선 및 스킵된 테스트 활성화
  README.md
  frontend/src/components/chat/EmojiPicker.tsx
  frontend/src/components/chat/__tests__/ChatWidget.test.tsx
  frontend/src/components/chat/__tests__/EmojiPicker.test.tsx
  frontend/src/components/chat/__tests__/MessageList.test.tsx
  frontend/src/components/chat/__tests__/QuickReplies.test.tsx
  frontend/src/utils/cacheOptimization.ts
Due: frontend

test: CI/CD 파이프라인 경고 수정 및 테스트 커버리지 개선
  frontend/src/components/chat/__tests__/ChatWidget.test.tsx
  frontend/src/components/chat/__tests__/MessageList.test.tsx
  frontend/src/components/chat/__tests__/TypingIndicator.test.tsx
  frontend/src/utils/__tests__/cacheOptimization.test.ts
  frontend/src/utils/__tests__/logger.test.ts
Due: none

test: 테스트 커버리지 확대 및 CI/CD 오류 수정
  frontend/src/components/chat/__tests__/MessageList.test.tsx
  frontend/src/components/common/__tests__/WebVitalsDashboard.test.tsx
  frontend/src/components/pages/__tests__/SharePage.test.tsx
  frontend/src/utils/__tests__/cacheOptimization.test.ts
  frontend/src/utils/__tests__/logger.test.ts
Due: none

test: CI/CD 파이프라인 테스트 실패 수정
  frontend/src/data/__tests__/blogPosts.test.ts
  frontend/src/hooks/__tests__/useApiError.test.ts
  frontend/src/utils/__tests__/cacheOptimization.test.ts
  frontend/src/utils/__tests__/logger.test.ts
Due: none

test: 나머지 CI/CD 테스트 실패 및 경고 수정
  frontend/src/data/__tests__/blogPosts.test.ts
  frontend/src/services/__tests__/api.additional.test.ts
  frontend/src/utils/__tests__/logger.test.ts
Due: none

test: CI/CD 경고 및 테스트 실패 최종 수정
  frontend/src/data/__tests__/blogPosts.test.ts
  frontend/src/services/__tests__/api.additional.test.ts
  frontend/src/utils/__tests__/cacheOptimization.test.ts
  frontend/src/utils/__tests__/logger.test.ts
  frontend/src/utils/cacheOptimization.ts
  frontend/src/utils/webVitals.ts
Due: frontend

fix: Logger 메소드 바인딩 및 ESLint 경고 해결
  frontend/src/utils/__tests__/logger.test.ts
  frontend/src/utils/logger.ts
  frontend/src/utils/webVitals.ts
Due: frontend

Path conditions:
  frontend: any of: frontend/src, but not: **/__tests__/**, **/*.test.js, **/*.test.ts, **/*.test.tsx, **/*.spec.js, **/*.spec.ts, **/test-utils/**, **/mock/**, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts
  backend: any of: backend, but not: **/__tests__/**, **/*.test.js, **/*.test.ts, **/*.test.tsx, **/*.spec.js, **/*.spec.ts, **/test-utils/**, **/mock/**, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts
