Repository researcherhojin/emelmujiro: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: 60%
        threshold: 5%
        base: auto
        flags:
          - frontend
          - backend
        paths:
          - frontend/src
          - backend
        
    patch:
      default:
        target: 60%
        threshold: 5%
        base: auto
        
comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false
  
flags:
  frontend:
    paths:
      - frontend/src
    carryforward: true
    
  backend:
    paths:
      - backend
    carryforward: true

ignore:
  - "**/__tests__/**"
  - "**/*.test.js"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.js"
  - "**/*.spec.ts"
  - "**/test-utils/**"
  - "**/mock/**"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"

test: skip WebVitalsDashboard async tests causing CI timeouts
  frontend/src/components/common/__tests__/WebVitalsDashboard.test.tsx
Due: none

test: skip serviceWorkerRegistration async tests causing CI timeouts
  frontend/src/__tests__/serviceWorkerRegistration.test.ts
Due: none

test: comprehensive fix for CI/CD timeout issues
  frontend/scripts/skip-problematic-tests.sh
  frontend/src/__tests__/integration/BlogFlow.test.tsx
  frontend/src/components/chat/__tests__/ChatWidget.test.tsx
  frontend/src/components/common/__tests__/SkeletonScreen.test.tsx
  frontend/src/components/pages/__tests__/ContactPage.improved.test.tsx
  frontend/src/components/pages/__tests__/ContactPage.test.tsx
  frontend/src/utils/__tests__/accessibility.test.ts
Due: none

fix: remove incorrect .skip from wsService.emit calls
  frontend/src/services/__tests__/websocket.test.ts
Due: none

fix: add explicit type annotations for array methods in useAppStore
  frontend/src/store/useAppStore.ts
Due: frontend

fix: correct Docker build directory path from dist to build
  frontend/Dockerfile
Due: none

docs: update README.md for v4.0.0 - CI/CD stabilization milestone
  README.md
Due: none

docs: update CLAUDE.md with v4.0.0 achievements and CI/CD debugging guide
  CLAUDE.md
  README.md
Due: none

docs: improve CLAUDE.md structure and add missing details
  CLAUDE.md
Due: none

docs: streamline CLAUDE.md and update README.md to v4.0.2
  CLAUDE.md
  README.md
Due: none

fix: remove console logs from production build and add prettierignore
  .prettierignore
  CLAUDE.md
  frontend/package.json
  frontend/public/sitemap-index.xml
  frontend/public/sitemap.xml
  frontend/vite.config.ts
  package-lock.json
Due: none

fix: resolve console warnings and missing translations
  frontend/index.html
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

chore: reduce console logging in development
  frontend/public/sitemap-index.xml
  frontend/public/sitemap.xml
  frontend/src/i18n.ts
  frontend/src/utils/logger.ts
Due: frontend

fix: remove conflicting service worker files causing 404 errors
  frontend/index.html
  frontend/public/service-worker-enhanced.js
  frontend/public/service-worker.js
  frontend/public/sitemap.xml
  frontend/vite.config.ts
Due: none

Updates
  assets/AboutPage-B2rgS8HM.js
  assets/AboutPage-Qr0PNjYy.js
  assets/AdminDashboard-BDWXN5Qo.js
  assets/AdminDashboard-CkqmajHK.js
  assets/BlogDetail-D3ODeyqN.js
  assets/BlogDetail-DAA_siYF.js
  assets/BlogEditor-BD-R9cry.js
  assets/BlogEditor-ojwpJ8Yz.js
  assets/BlogListPage-DSUup32p.js
  assets/BlogListPage-Zy0v64jx.js
  assets/ChatWidget-CKvgEHJE.js
  assets/ChatWidget-DJs7QQ07.js
  assets/ContactPage-DYN4WY43.js
  assets/ContactPage-QFvxOTX4.js
  assets/InstallPrompt-C1NKptjM.js
  assets/InstallPrompt-CS-ZSZge.js
  assets/NotFound-BZbG9OjC.js
  assets/NotFound-DTzgLqfB.js
  assets/NotificationPrompt-DaTPAVEV.js
  assets/NotificationPrompt-Dl9FzSYe.js
  assets/ProfilePage-BoEIPzn0.js
  assets/ProfilePage-CwCaRc1_.js
  assets/SEOHelmet-5OdxZtm0.js
  assets/SEOHelmet-DFvD7COY.js
  assets/StructuredData-Dkij_tdz.js
  assets/StructuredData-YSVhyAQB.js
  assets/WebVitalsDashboard-BtVpixS9.js
  assets/WebVitalsDashboard-CSfyEmDi.js
  assets/index-BM4l87xM.js
  assets/index-BP7P1ltd.js
  index.html
  service-worker-enhanced.js
  service-worker.js
  sw.js
  workbox-36add6e1.js
  workbox-65536ff9.js
Due: none

fix: configure Prettier XML plugin for sitemap formatting
  .prettierignore
  frontend/.prettierrc
  frontend/public/sitemap.xml
Due: none

fix: apply black formatting for Python code
  backend/api/admin.py
  backend/api/auth.py
  backend/api/consumers.py
  backend/api/management/commands/security_check.py
  backend/api/middleware.py
  backend/api/models.py
  backend/api/routing.py
  backend/api/serializers.py
  backend/api/swagger.py
  backend/api/tests.py
  backend/api/views.py
  backend/config/asgi.py
  backend/config/settings.py
  backend/create_blog_posts.py
Due: backend

Updates
  cache-cleanup.js
  index.html
  sw.js
Due: none

Updates
  index.html
  sw.js
Due: none

Updates
  index.html
  registerSW.js
  sw.js
  workbox-65536ff9.js
  workbox-fcaa153e.js
Due: none

Updates
  index.html
  sitemap-index.xml
  sw.js
Due: none

Updates
  sitemap-index.xml
  sitemap.xml
Due: none

fix: resolve Tailwind CSS 4.x compatibility issues and optimize dependencies
  .prettierignore
  CLAUDE.md
  README.md
  frontend/package.json
  frontend/postcss.config.js
  frontend/public/cache-cleanup.js
  frontend/public/sitemap-index.xml
  frontend/public/sitemap.xml
  frontend/scripts/skip-all-async-tests.sh
  frontend/scripts/skip-problematic-tests.sh
  frontend/src/config/env.ts
  frontend/vite.config.ts
  package-lock.json
Due: frontend

fix: remove references to uninstalled Jest and XML plugins from configs
  frontend/.prettierrc
  frontend/eslint.config.mjs
Due: none

fix: remove Jest type references and unused Jest CI setup file
  frontend/src/setupTestsCI.js
  frontend/src/types/api.types.ts
Due: frontend

fix: remove 'jest' from TypeScript type definitions in tsconfig.json
  frontend/tsconfig.json
Due: none

docs: update README and CLAUDE.md with current project state
  CLAUDE.md
  README.md
Due: none

fix: resolve prettier configuration issues and disable chat widget
  .prettierignore
  .prettierrc
  CLAUDE.md
  README.md
  frontend/public/sitemap-index.xml
  frontend/public/sitemap.xml
  frontend/src/App.tsx
  frontend/src/services/__tests__/api.additional.test.ts
Due: frontend

test: enable all 20 skipped tests in api.additional.test.ts
  frontend/src/services/__tests__/api.additional.test.ts
Due: none

test: enable 17 more skipped tests in blog components
  frontend/src/components/blog/__tests__/BlogComments.test.tsx
  frontend/src/components/blog/__tests__/BlogListPage.test.tsx
  frontend/src/components/blog/__tests__/BlogSearch.test.tsx
Due: none

test: enable 21 tests in BlogInteractions + format sitemap.xml
  frontend/public/sitemap.xml
  frontend/src/components/blog/__tests__/BlogInteractions.test.tsx
Due: none

test: enable 27 more skipped tests in blog components
  frontend/src/components/blog/__tests__/BlogCard.test.tsx
  frontend/src/components/blog/__tests__/BlogDetail.test.tsx
  frontend/src/components/blog/__tests__/BlogEditor.test.tsx
Due: none

test: enable 13 tests in ContactPage component
  frontend/src/components/pages/__tests__/ContactPage.test.tsx
Due: none
