Repository researcherhojin/emelmujiro: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

docs: add LLM harness engineering rules and clarify CLAUDE.md
  .claude/rules/strategy.md
  .gitignore
  CLAUDE.md
Due: none

fix(seo): auto-compute canonical URL from location.pathname
  CLAUDE.md
  frontend/src/App.tsx
  frontend/src/components/blog/BlogDetail.tsx
  frontend/src/components/blog/BlogListPage.tsx
  frontend/src/components/common/NotFound.tsx
  frontend/src/components/common/SEOHelmet.tsx
  frontend/src/components/pages/ContactPage.tsx
  frontend/src/components/pages/LoginPage.tsx
  frontend/src/components/pages/ProfilePage.tsx
  frontend/src/components/pages/SharePage.tsx
Due: frontend

chore: add knip dead code detection and remove unused packages
  NOTES.md
  frontend/package.json
  frontend/src/hooks/useToast.ts
  knip.config.ts
  package-lock.json
  package.json
Due: frontend

fix(scripts): align update-test-counts.sh with current README format
  scripts/update-test-counts.sh
Due: none

refactor: remove /share page and add nginx 301 redirect
  frontend/nginx.conf
  frontend/scripts/generate-sitemap.js
  frontend/src/App.tsx
  frontend/src/__tests__/App.test.tsx
  frontend/src/__tests__/i18n.test.ts
  frontend/src/components/pages/SharePage.tsx
  frontend/src/components/pages/__tests__/SharePage.test.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

docs: update CLAUDE.md for share page removal, fix README test count
  CLAUDE.md
  README.md
Due: none

fix(router): reject unsupported language prefixes as 404
  frontend/src/App.tsx
Due: frontend

fix(router): wrap invalid-lang 404 in Layout and set __appLoaded
  frontend/src/App.tsx
Due: frontend

fix(router): replace /:lang with explicit /en route
  frontend/src/App.tsx
Due: frontend

fix(deploy): use build:no-prerender in auto-deploy script
  scripts/auto-deploy.sh
Due: none

docs: remove SSG Prerendering from Key Features
  CLAUDE.md
  README.md
Due: none

fix(style): slow carousel instead of stopping on Windows reduced-motion
  frontend/src/components/sections/LogosSection.tsx
  frontend/src/components/sections/TestimonialsSection.tsx
  frontend/src/index.css
Due: frontend

fix(style): increase reduced-motion carousel speed from 90s to 60s
  frontend/src/index.css
Due: frontend

fix(style): use original carousel speed for reduced-motion users
  frontend/src/index.css
Due: frontend

fix(docker): set timezone to Asia/Seoul for backend and frontend
  docker-compose.yml
Due: none

style(carousel): increase testimonial scroll speed to 16s
  frontend/src/index.css
  frontend/tailwind.config.js
Due: frontend

docs: update CLAUDE.md carousel speed and reduced-motion guidance
  CLAUDE.md
Due: none

fix(carousel): add w-max for seamless infinite scroll
  frontend/src/components/sections/LogosSection.tsx
  frontend/src/components/sections/TestimonialsSection.tsx
Due: frontend

fix(carousel): equalize testimonial row speeds
  frontend/src/index.css
  frontend/tailwind.config.js
Due: frontend

feat(testimonials): add 4 enterprise reviews for equal row speed
  frontend/src/components/sections/TestimonialsSection.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
  frontend/src/index.css
  frontend/tailwind.config.js
Due: frontend

style(carousel): slow down logos and testimonials ~25%
  frontend/src/index.css
  frontend/tailwind.config.js
Due: frontend

style(carousel): slow down logos and testimonials ~10% more
  frontend/src/index.css
  frontend/tailwind.config.js
Due: frontend

style(carousel): unify all carousel speeds to 32s
  frontend/src/index.css
  frontend/tailwind.config.js
Due: frontend

docs: update CLAUDE.md carousel docs (w-max, 32s unified, 8+8 items)
  CLAUDE.md
Due: none

fix(i18n): detect language from pathname instead of route params
  frontend/src/__tests__/App.test.tsx
  frontend/src/hooks/__tests__/useLocalizedPath.test.ts
  frontend/src/hooks/useLocalizedPath.ts
  frontend/src/test-utils/mocks/handlers.ts
Due: frontend

chore: fix script permissions and action description
  .github/actions/setup-node/action.yml
  scripts/ports.sh
  scripts/update-test-counts.sh
Due: none

fix(seo): remove duplicate company name from page titles
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

refactor: remove plugin-legacy and unsafe-eval from CSP
  CLAUDE.md
  frontend/index.html
  frontend/lighthouserc.js
  frontend/nginx.conf
  frontend/package.json
  frontend/vite.config.ts
  package-lock.json
Due: none

fix(kakao): add WebView fallback for share and Android intent scheme
  frontend/src/components/blog/BlogInteractions.tsx
  frontend/src/components/layout/Layout.tsx
Due: frontend

ci: use setup-uv built-in cache instead of actions/cache
  .github/workflows/main-ci-cd.yml
  .github/workflows/pr-checks.yml
Due: none

fix(carousel): add touch pause/resume and unify mobile speed to 32s
  CLAUDE.md
  frontend/src/components/sections/LogosSection.tsx
  frontend/src/components/sections/TestimonialsSection.tsx
  frontend/src/index.css
Due: frontend

test(carousel): add touch handler tests and TestimonialsSection coverage
  frontend/src/components/sections/__tests__/LogosSection.test.tsx
  frontend/src/components/sections/__tests__/TestimonialsSection.test.tsx
Due: none

docs: update test count 1164 → 1172
  README.md
Due: none

fix(nav): prevent logo text wrapping on narrow viewports
  frontend/src/components/common/Navbar.tsx
Due: frontend

chore: remove share page E2E test (page was deleted)
  frontend/e2e/share.spec.ts
Due: none

ci(dependabot): group tiptap packages and add docker commit prefix
  .github/dependabot.yml
Due: none

fix(a11y): resolve aria-allowed-role violation in service cards
  frontend/src/components/layout/Layout.tsx
  frontend/src/components/sections/ServicesSection.tsx
Due: frontend

ci(lighthouse): disable forced-reflow-insight assertion
  frontend/lighthouserc.js
Due: none

fix: resolve forced-reflow and update outdated E2E tests
  frontend/e2e/accessibility.spec.ts
  frontend/e2e/navigation.spec.ts
  frontend/e2e/profile.spec.ts
  frontend/lighthouserc.js
  frontend/src/components/pages/ProfilePage.tsx
Due: frontend

deps: update 9 minor dependencies and sync lockfiles
  README.md
  backend/uv.lock
  frontend/package.json
  package-lock.json
Due: backend

Path conditions:
  frontend: any of: frontend/src, but not: **/__tests__/**, **/*.test.js, **/*.test.ts, **/*.test.tsx, **/*.spec.js, **/*.spec.ts, **/test-utils/**, **/mock/**, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts
  backend: any of: backend, but not: **/__tests__/**, **/*.test.js, **/*.test.ts, **/*.test.tsx, **/*.spec.js, **/*.spec.ts, **/test-utils/**, **/mock/**, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts
