Repository researcherhojin/emelmujiro: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

feat(i18n): complete i18n migration for all remaining components
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/blog/BlogListPage.tsx
  frontend/src/components/blog/__tests__/BlogListPage.test.tsx
  frontend/src/components/common/NotificationPrompt.tsx
  frontend/src/components/contact/ContactForm.tsx
  frontend/src/components/contact/ContactInfo.tsx
  frontend/src/components/contact/ServiceCards.tsx
  frontend/src/components/sections/AboutSection.tsx
  frontend/src/components/sections/BlogSection.tsx
  frontend/src/components/sections/CareerSection.tsx
  frontend/src/components/sections/CareerSummarySection.tsx
  frontend/src/components/sections/LogosSection.tsx
  frontend/src/components/sections/QuickIntroSection.tsx
  frontend/src/components/sections/__tests__/AboutSection.test.tsx
  frontend/src/components/sections/__tests__/BlogSection.test.tsx
  frontend/src/components/sections/__tests__/CareerSection.test.tsx
  frontend/src/components/sections/__tests__/CareerSummarySection.test.tsx
  frontend/src/components/sections/__tests__/QuickIntroSection.test.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
  frontend/src/pages/ContactPage.tsx
  frontend/src/pages/HomePage.tsx
  frontend/src/pages/NotFound.tsx
  frontend/src/pages/ServerError.tsx
Due: frontend

fix(ci): use build-specific tsconfig to exclude test type definitions
  frontend/package.json
  frontend/tsconfig.build.json
Due: none

fix(ci): fix node_modules cache path and lock file hash
  .github/workflows/main-ci-cd.yml
  .github/workflows/pr-checks.yml
Due: none

feat(i18n): migrate remaining hardcoded Korean in data, contexts, and SEO modules
  frontend/src/components/common/Footer.tsx
  frontend/src/components/seo/MetaTags.tsx
  frontend/src/components/seo/SEOHead.tsx
  frontend/src/config/env.ts
  frontend/src/contexts/AuthContext.tsx
  frontend/src/contexts/BlogContext.tsx
  frontend/src/contexts/ChatContext.tsx
  frontend/src/contexts/FormContext.tsx
  frontend/src/data/footerData.ts
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
  frontend/src/utils/seoConfig.ts
Due: frontend

test: add tests for 18 previously untested components and fix i18n mocks
  frontend/src/components/common/__tests__/Footer.test.tsx
  frontend/src/components/common/__tests__/ImageOptimized.test.tsx
  frontend/src/components/common/__tests__/LanguageSwitcher.test.tsx
  frontend/src/components/common/__tests__/Loading.test.tsx
  frontend/src/components/common/__tests__/Navbar.test.tsx
  frontend/src/components/common/__tests__/NotificationPrompt.test.tsx
  frontend/src/components/common/__tests__/OptimizedComponents.test.tsx
  frontend/src/components/common/__tests__/SEOHelmet.test.tsx
  frontend/src/components/common/__tests__/StructuredData.test.tsx
  frontend/src/components/common/__tests__/VirtualList.test.tsx
  frontend/src/components/contact/__tests__/ContactForm.test.tsx
  frontend/src/components/contact/__tests__/ContactInfo.test.tsx
  frontend/src/components/contact/__tests__/ServiceCards.test.tsx
  frontend/src/components/layout/__tests__/Layout.test.tsx
  frontend/src/components/sections/__tests__/CTASection.test.tsx
  frontend/src/components/sections/__tests__/CareerSection.test.tsx
  frontend/src/components/sections/__tests__/CareerSummarySection.test.tsx
  frontend/src/components/sections/__tests__/EducationSection.test.tsx
  frontend/src/components/sections/__tests__/LogosSection.test.tsx
  frontend/src/components/sections/__tests__/QuickIntroSection.test.tsx
  frontend/src/components/seo/__tests__/MetaTags.test.tsx
  frontend/src/components/seo/__tests__/SEOHead.test.tsx
  frontend/src/pages/__tests__/ContactPage.test.tsx
  frontend/src/pages/__tests__/NotFound.test.tsx
  frontend/src/pages/__tests__/ServerError.test.tsx
  frontend/src/utils/__tests__/seoConfig.test.ts
Due: none

feat(i18n): complete i18n migration for admin, blog, share, and error components
  frontend/src/components/admin/AdminDashboard.tsx
  frontend/src/components/admin/__tests__/AdminDashboard.test.tsx
  frontend/src/components/blog/BlogDetail.tsx
  frontend/src/components/blog/BlogEditor.tsx
  frontend/src/components/blog/__tests__/BlogDetail.test.tsx
  frontend/src/components/blog/__tests__/BlogEditor.test.tsx
  frontend/src/components/common/ErrorBoundary.tsx
  frontend/src/components/common/PWAInstallButton.tsx
  frontend/src/components/common/__tests__/ErrorBoundary.test.tsx
  frontend/src/components/pages/SharePage.tsx
  frontend/src/components/pages/__tests__/SharePage.test.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

fix(ci): fix artifact versions, env vars, CSP, sitemap, and Docker config
  .github/workflows/main-ci-cd.yml
  .github/workflows/pr-checks.yml
  frontend/Dockerfile
  frontend/public/_headers
  frontend/public/manifest.json
  frontend/scripts/generate-sitemap.js
Due: none

docs: update CLAUDE.md and README.md with latest project status
  CLAUDE.md
  README.md
  frontend/public/sitemap-index.xml
Due: none

docs: update CLAUDE.md and README.md with CI/CD and security details
  CLAUDE.md
  README.md
Due: none

feat: connect blog, contact pages and reactivate chat system
  backend/api/urls.py
  frontend/src/App.tsx
  frontend/src/components/blog/BlogComments.tsx
  frontend/src/components/blog/BlogInteractions.tsx
  frontend/src/components/blog/BlogListPage.tsx
  frontend/src/components/blog/__tests__/BlogListPage.test.tsx
  frontend/src/components/common/OptimizedComponents.tsx
  frontend/src/components/pages/ContactPage.tsx
  frontend/src/components/pages/__tests__/ContactPage.test.tsx
  frontend/src/contexts/ChatContext.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
  frontend/src/services/websocket.ts
  frontend/src/utils/accessibility.ts
Due: frontend, backend

perf(ci): switch to esbuild minifier and add backend timeout
  .github/workflows/main-ci-cd.yml
  frontend/vite.config.ts
Due: none

chore: switch license from MIT to Apache 2.0
  LICENSE
  NOTICE
  README.md
Due: none

docs: update README.md and CLAUDE.md for v0.9.1
  CLAUDE.md
  README.md
  frontend/package.json
  package.json
Due: none

docs: clarify mock status for blog, contact, chat features
  README.md
Due: none

feat: replace blog, contact, chat with under construction pages
  frontend/e2e/blog.spec.ts
  frontend/e2e/contact.spec.ts
  frontend/lighthouserc.js
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/public/sitemap-index.xml
  frontend/public/sitemap.xml
  frontend/scripts/generate-sitemap.js
  frontend/src/App.tsx
  frontend/src/components/common/UnderConstruction.tsx
  frontend/src/components/common/__tests__/UnderConstruction.test.tsx
  frontend/src/components/common/index.ts
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

refactor: fix XSS, remove dead code, harden backend validation
  CLAUDE.md
  README.md
  backend/api/views.py
  frontend/src/components/sections/CareerSection.tsx
  frontend/src/components/sections/CareerSummarySection.tsx
  frontend/src/components/sections/__tests__/CareerSection.test.tsx
  frontend/src/hooks/__tests__/useApiError.test.ts
  frontend/src/hooks/useAccessibility.ts
  frontend/src/hooks/useApiError.ts
  frontend/src/hooks/usePerformance.ts
  frontend/src/utils/__tests__/accessibility.test.ts
  frontend/src/utils/__tests__/backgroundSync.test.ts
  frontend/src/utils/__tests__/security.test.ts
  frontend/src/utils/accessibility.ts
  frontend/src/utils/backgroundSync.ts
  frontend/src/utils/optimizeImports.ts
  frontend/src/utils/security.ts
  frontend/tsconfig.ci.json
Due: frontend, backend

fix: header cutoff on under-construction pages, update contact phone, fix Vitest 4 compat
  frontend/src/components/common/UnderConstruction.tsx
  frontend/src/components/common/__tests__/LazyImage.test.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/en/contact.json
  frontend/src/i18n/locales/ko.json
  frontend/src/i18n/locales/ko/contact.json
  frontend/vitest.config.ts
  package-lock.json
Due: frontend

fix: downgrade tailwindcss 4.2.1 → 3.4.19 to restore build compatibility
  frontend/package.json
  package-lock.json
Due: none

ci(deps): bump astral-sh/setup-uv from 5 to 7 (#135)
  .github/workflows/main-ci-cd.yml
  .github/workflows/pr-checks.yml
Due: none

ci(deps): bump actions/cache from 4 to 5 (#138)
  .github/workflows/main-ci-cd.yml
  .github/workflows/pr-checks.yml
Due: none

feat(about): add 2026 timeline entry for AI solution specialization
  frontend/src/components/pages/AboutPage.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

docs: update CLAUDE.md, README.md with dead code audit and version sync
  CLAUDE.md
  README.md
  backend/uv.lock
Due: backend

docs(readme): refactor tech stack to categorized inline badges
  README.md
Due: none

docs(readme): clean up roadmap — remove completed items, keep pending only
  README.md
Due: none

chore: unify artifact versions, clean dead code, wire Sentry, fix a11y i18n
  .github/workflows/main-ci-cd.yml
  CLAUDE.md
  README.md
  frontend/lighthouserc.js
  frontend/src/components/blog/BlogInteractions.tsx
  frontend/src/components/chat/EmojiPicker.tsx
  frontend/src/components/common/Footer.tsx
  frontend/src/components/common/__tests__/Footer.test.tsx
  frontend/src/components/layout/Layout.tsx
  frontend/src/components/layout/__tests__/Layout.test.tsx
  frontend/src/hooks/__tests__/useKeyboardNavigation.test.ts
  frontend/src/hooks/useKeyboardNavigation.ts
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
  frontend/src/types/global.d.ts
  frontend/src/utils/__tests__/cacheOptimization.test.ts
  frontend/src/utils/cacheOptimization.ts
  frontend/src/utils/logger.ts
Due: frontend

fix(ci): revert upload-artifact to v7 — v8 does not exist
  .github/workflows/main-ci-cd.yml
  backend/env_example.txt
Due: backend

feat(backend): harden settings for production deployment
  backend/api/validators.py
  backend/config/settings.py
  backend/uv.lock
  frontend/src/services/api.ts
Due: frontend, backend

chore: prepare deployment infra — Docker, env template, README
  CLAUDE.md
  README.md
  backend/.env.example
  docker-compose.yml
Due: backend

docs(readme): update to v0.9.5 — versions, changelog, chat scope
  README.md
  frontend/package.json
Due: none

docs(readme): restructure roadmap with prioritized task dependencies
  README.md
Due: none

refactor(frontend): unify ProfilePage UX with AboutPage design patterns
  CLAUDE.md
  README.md
  frontend/src/App.tsx
  frontend/src/components/common/Footer.tsx
  frontend/src/components/common/__tests__/Footer.test.tsx
  frontend/src/components/pages/AboutPage.tsx
  frontend/src/components/pages/ProfilePage.tsx
  frontend/src/components/pages/__tests__/AboutPage.test.tsx
  frontend/src/components/pages/__tests__/ProfilePage.test.tsx
  frontend/src/components/sections/CTASection.tsx
  frontend/src/components/sections/HeroSection.tsx
  frontend/src/components/sections/ServicesSection.tsx
  frontend/src/components/sections/__tests__/HeroSection.test.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
  frontend/src/setupTests.ts
Due: frontend

fix(frontend): improve Android/Galaxy compatibility and update docs
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  frontend/index.html
  frontend/package.json
  frontend/src/index.css
  frontend/vite.config.ts
  package.json
Due: frontend

chore: include sitemap-index.xml lastmod update
  frontend/public/sitemap-index.xml
Due: none

docs(readme): restore tech stack badges with categorized layout
  README.md
Due: none

docs(readme): switch DB to SQLite, refine roadmap with precise task definitions
  CLAUDE.md
  README.md
Due: none

refactor(frontend): remove PWA support entirely
  CLAUDE.md
  README.md
  frontend/index.html
  frontend/lighthouserc.js
  frontend/package.json
  frontend/public/offline.html
  frontend/src/App.tsx
  frontend/src/__tests__/index.test.tsx
  frontend/src/__tests__/serviceWorkerRegistration.test.ts
  frontend/src/components/common/InstallPrompt.tsx
  frontend/src/components/common/NotificationPrompt.tsx
  frontend/src/components/common/OfflineIndicator.tsx
  frontend/src/components/common/PWAInstallButton.tsx
  frontend/src/components/common/__tests__/InstallPrompt.test.tsx
  frontend/src/components/common/__tests__/NotificationPrompt.test.tsx
  frontend/src/components/common/__tests__/OfflineIndicator.test.tsx
  frontend/src/components/common/__tests__/PWAInstallButton.test.tsx
  frontend/src/components/layout/Layout.tsx
  frontend/src/components/layout/__tests__/Layout.test.tsx
  frontend/src/config/__tests__/env.test.ts
  frontend/src/config/env.ts
  frontend/src/main.tsx
  frontend/src/serviceWorkerRegistration.ts
  frontend/src/utils/__tests__/pushNotifications.test.ts
  frontend/src/utils/__tests__/pwaUtils.test.ts
  frontend/src/utils/__tests__/sentry.test.ts
  frontend/src/utils/pushNotifications.ts
  frontend/src/utils/pwaUtils.ts
  frontend/vite.config.ts
  package-lock.json
Due: frontend

Path conditions:
  frontend: any of: frontend/src, but not: **/__tests__/**, **/*.test.js, **/*.test.ts, **/*.test.tsx, **/*.spec.js, **/*.spec.ts, **/test-utils/**, **/mock/**, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts
  backend: any of: backend, but not: **/__tests__/**, **/*.test.js, **/*.test.ts, **/*.test.tsx, **/*.spec.js, **/*.spec.ts, **/test-utils/**, **/mock/**, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts
