Repository researcherhojin/emelmujiro: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

chore: remove email from .env.production (public repo)
  frontend/.env.production
Due: none

refactor: backend perf, bundle optimization, a11y, and code cleanup
  backend/api/admin_views.py
  backend/api/tests.py
  backend/api/views.py
  frontend/src/assets/logos/ktLogo.svg
  frontend/src/assets/logos/ktLogo.webp
  frontend/src/components/blog/BlogComments.tsx
  frontend/src/components/blog/BlogDetail.tsx
  frontend/src/components/blog/BlogEditor.tsx
  frontend/src/components/blog/MarkdownRenderer.tsx
  frontend/src/components/blog/__tests__/BlogDetail.test.tsx
  frontend/src/components/blog/__tests__/BlogEditor.test.tsx
  frontend/src/components/common/Footer.tsx
  frontend/src/components/common/Navbar.tsx
  frontend/src/components/common/NotificationBell.tsx
  frontend/src/components/common/ServiceModal.tsx
  frontend/src/components/common/Toast.tsx
  frontend/src/components/common/__tests__/ServiceModal.test.tsx
  frontend/src/constants/partners.ts
  frontend/src/contexts/UIContext.tsx
  frontend/src/contexts/__tests__/UIContext.test.tsx
  frontend/src/utils/dateFormat.ts
Due: frontend, backend

chore: clean up scripts and root configs
  .dockerignore
  .env.example
  .gitignore
  docker-compose.yml
  scripts/ports.sh
  scripts/pre-deploy-check.sh
Due: none

feat(blog): add 2 initial blog posts via management command
  backend/api/management/commands/create_blog_posts.py
Due: backend

feat: add testimonials section to homepage
  frontend/src/App.tsx
  frontend/src/components/sections/TestimonialsSection.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

refactor: homepage services, footer modals, profile, blog UX overhaul
  frontend/src/App.tsx
  frontend/src/__tests__/App.test.tsx
  frontend/src/components/blog/BlogListPage.tsx
  frontend/src/components/blog/__tests__/BlogListPage.test.tsx
  frontend/src/components/common/Footer.tsx
  frontend/src/components/common/ServiceModal.tsx
  frontend/src/components/common/__tests__/Footer.test.tsx
  frontend/src/components/common/__tests__/ServiceModal.test.tsx
  frontend/src/components/pages/ProfilePage.tsx
  frontend/src/components/sections/ServicesSection.tsx
  frontend/src/config/env.ts
  frontend/src/contexts/BlogContext.tsx
  frontend/src/contexts/__tests__/BlogContext.test.tsx
  frontend/src/data/footerData.ts
  frontend/src/data/profileData.ts
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

fix: Footer TypeScript error, update README and screenshots
  README.md
  frontend/docs/screenshots/home-dark.png
  frontend/docs/screenshots/home-light.png
  frontend/src/components/common/Footer.tsx
Due: frontend

chore: add TODO for next session, remove duplicate screenshots
  .github/TODO.md
  frontend/docs/screenshots/home-dark.png
  frontend/docs/screenshots/home-light.png
Due: none

chore: remove stale WebSocket CSP entries, add uv.lock to prettierignore
  .prettierignore
  frontend/index.html
Due: none

refactor: homepage layout, testimonials carousel, footer cleanup, TODO update
  .github/TODO.md
  frontend/src/App.tsx
  frontend/src/components/common/Footer.tsx
  frontend/src/components/common/__tests__/Footer.test.tsx
  frontend/src/components/sections/CTASection.tsx
  frontend/src/components/sections/LogosSection.tsx
  frontend/src/components/sections/ServicesSection.tsx
  frontend/src/components/sections/TestimonialsSection.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
  frontend/src/index.css
  frontend/tailwind.config.js
Due: frontend

fix: update LogosSection test for eager loading, update CLAUDE.md
  CLAUDE.md
  frontend/src/components/sections/__tests__/LogosSection.test.tsx
Due: none

feat: add Tailwind Typography, disable throttle in dev, blog table support
  CLAUDE.md
  README.md
  backend/config/settings.py
  frontend/package.json
  frontend/src/components/blog/BlogDetail.tsx
  frontend/tailwind.config.js
  package-lock.json
Due: frontend, backend

fix: restore 100% backend coverage
  backend/api/tests.py
  backend/pyproject.toml
Due: backend

feat: SEO-friendly blog URLs with slug-based routing
  backend/api/tests.py
  backend/api/views.py
  frontend/src/App.tsx
  frontend/src/components/blog/BlogCard.tsx
  frontend/src/components/blog/BlogDetail.tsx
Due: frontend, backend

fix: update BlogDetail tests for slug-based routing
  frontend/src/components/blog/__tests__/BlogDetail.test.tsx
Due: none

fix: update BlogCard test for slug-based link
  frontend/src/components/blog/__tests__/BlogCard.test.tsx
Due: none

refactor: remove About page, add Testimonials to homepage, contact email update
  .github/TODO.md
  CONTRIBUTING.md
  Makefile
  README.md
  backend/api/swagger.py
  backend/config/settings.py
  frontend/.env.production
  frontend/e2e/about.spec.ts
  frontend/e2e/contact.spec.ts
  frontend/scripts/generate-sitemap.js
  frontend/scripts/prerender.js
  frontend/src/App.tsx
  frontend/src/__tests__/App.test.tsx
  frontend/src/components/common/Navbar.tsx
  frontend/src/components/common/StructuredData.tsx
  frontend/src/components/common/__tests__/Footer.test.tsx
  frontend/src/components/common/__tests__/Navbar.test.tsx
  frontend/src/components/contact/__tests__/ContactInfo.test.tsx
  frontend/src/components/pages/AboutPage.tsx
  frontend/src/components/pages/ProfilePage.tsx
  frontend/src/components/pages/__tests__/AboutPage.test.tsx
  frontend/src/components/sections/CTASection.tsx
  frontend/src/components/sections/TimelineSection.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
  frontend/src/utils/constants.ts
  scripts/auto-deploy.sh
Due: frontend, backend

chore: update TODO with CI check, Docker deploy, and profile redesign context
  .github/TODO.md
Due: none

docs: update CLAUDE.md with homepage Testimonials, About removal, slug URLs, contact email
  CLAUDE.md
Due: none

refactor: convert profile page to teaching history, update services & testimonials
  .github/TODO.md
  CLAUDE.md
  README.md
  frontend/src/App.tsx
  frontend/src/__tests__/App.test.tsx
  frontend/src/components/common/Navbar.tsx
  frontend/src/components/pages/AboutPage.tsx
  frontend/src/components/pages/ProfilePage.tsx
  frontend/src/components/pages/__tests__/ProfilePage.test.tsx
  frontend/src/components/pages/profile/CareerTab.tsx
  frontend/src/components/pages/profile/EducationTab.tsx
  frontend/src/components/pages/profile/ProfileHero.tsx
  frontend/src/components/pages/profile/ProjectsTab.tsx
  frontend/src/components/pages/profile/StatsSection.tsx
  frontend/src/components/pages/profile/__tests__/CareerTab.test.tsx
  frontend/src/components/pages/profile/__tests__/EducationTab.test.tsx
  frontend/src/components/pages/profile/__tests__/ProfileHero.test.tsx
  frontend/src/components/pages/profile/__tests__/ProjectsTab.test.tsx
  frontend/src/components/pages/profile/__tests__/StatsSection.test.tsx
  frontend/src/components/sections/ServicesSection.tsx
  frontend/src/components/sections/TestimonialsSection.tsx
  frontend/src/components/sections/TimelineSection.tsx
  frontend/src/data/profileData.ts
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

feat: add enterprise testimonials, fix scroll loop, reorder nav
  .gitignore
  frontend/src/components/sections/TestimonialsSection.tsx
  frontend/tailwind.config.js
Due: frontend

chore: update CLAUDE.md, simplify testimonials to 2 rows (enterprise + 고용노동부)
  CLAUDE.md
  frontend/src/components/sections/TestimonialsSection.tsx
Due: frontend

refactor: hero redesign, teaching history updates, nav/footer label fixes
  CLAUDE.md
  README.md
  frontend/src/components/pages/ProfilePage.tsx
  frontend/src/components/sections/HeroSection.tsx
  frontend/src/data/profileData.ts
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

style: speed up testimonial scroll (60s → 40s)
  frontend/tailwind.config.js
Due: none

docs: update CLAUDE.md (scroll 40s) and TODO.md (mark completed items)
  .github/TODO.md
  CLAUDE.md
Due: none

docs: update homepage screenshots, mark TODO items complete
  docs/screenshots/home-dark.png
  docs/screenshots/home-light.png
  docs/screenshots/home-mobile.png
Due: none

test: add ServicesSection modal tests, update TODO
  .github/TODO.md
  frontend/src/components/sections/__tests__/ServicesSection.test.tsx
Due: none

feat: migrate blog URLs from /blog to /insights
  .github/TODO.md
  .github/workflows/main-ci-cd.yml
  CLAUDE.md
  frontend/nginx.conf
  frontend/scripts/generate-sitemap.js
  frontend/src/App.tsx
  frontend/src/__tests__/App.test.tsx
  frontend/src/components/blog/BlogCard.tsx
  frontend/src/components/blog/BlogDetail.tsx
  frontend/src/components/blog/BlogEditor.tsx
  frontend/src/components/blog/BlogListPage.tsx
  frontend/src/components/blog/__tests__/BlogCard.test.tsx
  frontend/src/components/blog/__tests__/BlogDetail.test.tsx
  frontend/src/components/blog/__tests__/BlogEditor.test.tsx
  frontend/src/components/common/Navbar.tsx
  frontend/src/components/common/NotFound.tsx
  frontend/src/components/common/__tests__/Navbar.test.tsx
  frontend/src/components/common/__tests__/NotFound.test.tsx
  frontend/src/components/pages/SharePage.tsx
  frontend/src/components/pages/__tests__/SharePage.test.tsx
  frontend/src/hooks/__tests__/useLocalizedPath.test.ts
Due: frontend

test(e2e): update Playwright tests for /insights URLs and current nav labels
  frontend/e2e/blog.spec.ts
  frontend/e2e/error-states.spec.ts
  frontend/e2e/homepage.spec.ts
  frontend/e2e/navigation.spec.ts
  frontend/e2e/seo.spec.ts
Due: none

style: refine English service card descriptions
  frontend/src/i18n/locales/en.json
Due: frontend

fix: remove hero em dash, fix E2E nav labels, update README/TODO
  .github/TODO.md
  README.md
  frontend/e2e/accessibility.spec.ts
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

deps: upgrade i18next 25→26, react-i18next 16→17, tiptap 3.21, vitest 4.1.2
  .github/TODO.md
  README.md
  frontend/package.json
  frontend/src/i18n.ts
  package-lock.json
Due: frontend

refactor: remove dead code, stale i18n keys, update README
  README.md
  docs/screenshots/home-dark.png
  docs/screenshots/home-light.png
  frontend/src/__tests__/i18n.test.ts
  frontend/src/components/common/NotFound.tsx
  frontend/src/components/common/__tests__/NotFound.test.tsx
  frontend/src/components/pages/__tests__/SharePage.test.tsx
  frontend/src/data/__tests__/profileData.test.ts
  frontend/src/data/profileData.ts
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

refactor: move screenshots to .github/assets, fix lighthouse/seo/backend refs
  .github/assets/home-dark.png
  .github/assets/home-light.png
  .github/assets/home-mobile.png
  README.md
  backend/api/tests.py
  frontend/lighthouserc.js
  frontend/src/components/common/SEOHelmet.tsx
Due: frontend, backend

fix: CI coverage-v8 not found, eliminate all /about and /blog refs
  backend/api/tests.py
  frontend/src/__tests__/i18n.test.ts
  frontend/src/components/common/__tests__/NotificationBell.test.tsx
  frontend/src/hooks/__tests__/useLocalizedPath.test.ts
  frontend/src/hooks/__tests__/useScrollToSection.test.ts
  frontend/src/hooks/useLocalizedPath.ts
  frontend/src/test-utils/mocks/handlers.ts
  frontend/src/utils/__tests__/analytics.test.ts
  frontend/src/utils/__tests__/urlPrefixLookup.test.ts
  package-lock.json
  package.json
Due: frontend, backend

docs: fix stale /about example in CLAUDE.md i18n routing
  CLAUDE.md
Due: none

fix(ci): regenerate package-lock.json to fix picomatch version mismatch
  package-lock.json
Due: none

fix: SharePage /about → / (missed in previous commit)
  frontend/src/components/pages/SharePage.tsx
Due: frontend

docs: polish README, commit backend uv.lock
  README.md
  backend/uv.lock
Due: backend

docs: align README description with GitHub About
  README.md
Due: none

Path conditions:
  frontend: any of: frontend/src, but not: **/__tests__/**, **/*.test.js, **/*.test.ts, **/*.test.tsx, **/*.spec.js, **/*.spec.ts, **/test-utils/**, **/mock/**, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts
  backend: any of: backend, but not: **/__tests__/**, **/*.test.js, **/*.test.ts, **/*.test.tsx, **/*.spec.js, **/*.spec.ts, **/test-utils/**, **/mock/**, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts
