Repository researcherhojin/emelmujiro: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: 60%
        threshold: 5%
        base: auto
        flags:
          - frontend
          - backend
        paths:
          - frontend/src
          - backend
        
    patch:
      default:
        target: 60%
        threshold: 5%
        base: auto
        
comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false
  
flags:
  frontend:
    paths:
      - frontend/src
    carryforward: true
    
  backend:
    paths:
      - backend
    carryforward: true

ignore:
  - "**/__tests__/**"
  - "**/*.test.js"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.js"
  - "**/*.spec.ts"
  - "**/test-utils/**"
  - "**/mock/**"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"

test(api): exercise the failure_count spam branch in views.py
  backend/api/tests.py
Due: backend

fix(deps): align @tiptap/* to ^3.26.1 and bump parser to 8.61.0
  frontend/package.json
  package-lock.json
  package.json
Due: none

docs(readme): bump TipTap badge to 3.26.1
  README.md
Due: none

deps(deps): bump tiptap to 3.27.1, react-router-dom 7.18.0, playwright 1.61.0
  README.md
  frontend/package.json
  package-lock.json
  package.json
Due: none

fix(deps): patch HIGH vulns — pyjwt 2.13.0, form-data 4.0.6
  backend/uv.lock
  frontend/package.json
  package-lock.json
  package.json
Due: backend

docs(claude): update Gotcha #6 vuln count to 7 after form-data patch
  CLAUDE.md
Due: none

docs(changelog): sync Unreleased deps table + Security to merged state
  CHANGELOG.md
  cspell.json
Due: none

chore(cspell): add Ewha proper noun
  cspell.json
Due: none

docs(npmrc): correct stale legacy-peer-deps rationale
  .npmrc
Due: none

docs(changelog): log .npmrc clarification + cspell additions
  CHANGELOG.md
Due: none

fix(auth): add dedicated login throttle to harden against brute-force
  CHANGELOG.md
  README.md
  backend/api/auth.py
  backend/api/tests.py
  backend/config/settings.py
Due: backend

fix(auth): add dedicated login throttle to harden against brute-force (#341)
  CHANGELOG.md
  README.md
  backend/api/auth.py
  backend/api/tests.py
  backend/config/settings.py
Due: backend

chore(auth): remove unused public registration endpoint
  CHANGELOG.md
  README.md
  backend/api/auth.py
  backend/api/swagger.py
  backend/api/tests.py
  backend/api/urls.py
  frontend/src/components/blog/__tests__/BlogEditor.test.tsx
  frontend/src/components/common/__tests__/Navbar.test.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/contexts/__tests__/AuthContext.test.tsx
  frontend/src/contexts/__tests__/NotificationContext.test.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
  frontend/src/services/__tests__/api.additional.test.ts
  frontend/src/services/__tests__/api.integration.test.ts
  frontend/src/services/__tests__/api.nonmock.test.ts
  frontend/src/services/api.ts
Due: frontend, backend

chore(auth): remove unused public registration endpoint (#342)
  CHANGELOG.md
  README.md
  backend/api/auth.py
  backend/api/swagger.py
  backend/api/tests.py
  backend/api/urls.py
  frontend/src/components/blog/__tests__/BlogEditor.test.tsx
  frontend/src/components/common/__tests__/Navbar.test.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/contexts/__tests__/AuthContext.test.tsx
  frontend/src/contexts/__tests__/NotificationContext.test.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
  frontend/src/services/__tests__/api.additional.test.ts
  frontend/src/services/__tests__/api.integration.test.ts
  frontend/src/services/__tests__/api.nonmock.test.ts
  frontend/src/services/api.ts
Due: frontend, backend

fix(deploy): add Docker bin to PATH so backend actually rebuilds
  CHANGELOG.md
  scripts/auto-deploy.sh
Due: none

fix(deploy): add Docker bin to PATH so backend actually rebuilds (#343)
  CHANGELOG.md
  scripts/auto-deploy.sh
Due: none

fix(deploy): build backend with credsStore-free DOCKER_CONFIG
  CHANGELOG.md
  scripts/auto-deploy.sh
Due: none

fix(deploy): build backend with credsStore-free DOCKER_CONFIG (#344)
  CHANGELOG.md
  scripts/auto-deploy.sh
Due: none

feat(deploy): assert live backend commit to catch stale deploys
  CHANGELOG.md
  backend/Dockerfile
  backend/api/tests.py
  backend/api/views.py
  backend/config/settings.py
  docker-compose.yml
  scripts/auto-deploy.sh
Due: backend

feat(deploy): assert live backend commit to catch stale deploys (#345)
  CHANGELOG.md
  backend/Dockerfile
  backend/api/tests.py
  backend/api/views.py
  backend/config/settings.py
  docker-compose.yml
  scripts/auto-deploy.sh
Due: backend

docs(claude): document Mac mini backend-deploy traps (Gotcha #17)
  CLAUDE.md
Due: none

docs(claude): document Mac mini backend-deploy traps (Gotcha #17) (#346)
  CLAUDE.md
Due: none

feat(seo): emit per-post tags as blog meta keywords
  CHANGELOG.md
  frontend/src/components/blog/BlogDetail.tsx
Due: frontend

test(blog): cover empty-tags keywords fallback in BlogDetail
  frontend/src/components/blog/__tests__/BlogDetail.test.tsx
Due: none

chore(readme): sync axios badge to 1.18.1 [skip ci]
  README.md
Due: none

ci(deps): align composite action cache to v6 (#347)
  .github/actions/setup-node/action.yml
Due: none

docs(changelog): record #347-#354 dependency bumps in Unreleased
  CHANGELOG.md
Due: none

fix(nginx): 301 trailing-slash URLs to no-slash canonical
  CHANGELOG.md
  frontend/nginx.conf
Due: none

fix(nginx): 301 trailing-slash URLs to no-slash canonical (#355)
  CHANGELOG.md
  frontend/nginx.conf
Due: none

deps-dev(deps-dev): bundle dev-tooling bumps (vite/eslint/prettier/parser/@types-node)
  CHANGELOG.md
  README.md
  frontend/package.json
  package-lock.json
  package.json
Due: none

docs: sync Gotcha #6 npm-audit count after dev-tooling lockfile regen
  CHANGELOG.md
  CLAUDE.md
Due: none

docs(claude): correct prerender.js path to frontend/scripts/
  CLAUDE.md
Due: none

docs(readme): sync vite/i18next/dompurify badges after #366-#369
  README.md
Due: none

chore(profile): retitle Ewha and UST teaching-history entries
  CHANGELOG.md
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

ci(readme): auto-heal version badges on main to stop dependabot drift
  .github/workflows/main-ci-cd.yml
  .github/workflows/pr-checks.yml
  CLAUDE.md
  scripts/sync-readme-badges.sh
Due: none

style(frontend): apply prettier 3.9 union-type formatting
  frontend/src/__tests__/i18n.test.ts
  frontend/src/types/global.d.ts
Due: frontend

deps(deps): bump all @tiptap/* to 3.28.0 and eslint to 10.7.0
  frontend/package.json
  package-lock.json
  package.json
Due: none

feat(profile): add LikeLion growth marketing bootcamp guest lecture
  CHANGELOG.md
  README.md
  frontend/src/components/pages/ProfilePage.tsx
  frontend/src/data/profileData.ts
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

feat(frontend): navigate service modal by swipe and horizontal wheel
  cspell.json
  frontend/e2e/homepage.spec.ts
  frontend/src/components/common/ServiceModal.tsx
  frontend/src/components/common/__tests__/ServiceModal.test.tsx
Due: frontend
