Repository researcherhojin/emelmujiro: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: 60%
        threshold: 5%
        base: auto
        flags:
          - frontend
          - backend
        paths:
          - frontend/src
          - backend
        
    patch:
      default:
        target: 60%
        threshold: 5%
        base: auto
        
comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false
  
flags:
  frontend:
    paths:
      - frontend/src
    carryforward: true
    
  backend:
    paths:
      - backend
    carryforward: true

ignore:
  - "**/__tests__/**"
  - "**/*.test.js"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.js"
  - "**/*.spec.ts"
  - "**/test-utils/**"
  - "**/mock/**"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"

ci: suppress actionable CI warnings across all jobs
  .github/actions/setup-node/action.yml
  .github/workflows/main-ci-cd.yml
  .github/workflows/pr-checks.yml
  backend/config/settings.py
Due: backend

ci: disable Codecov auto-search to suppress xcrun/gcov/coverage.py warnings
  .github/workflows/main-ci-cd.yml
Due: none

ci: add plugins: noop to Codecov uploads to suppress plugin warnings
  .github/workflows/main-ci-cd.yml
Due: none

ci: pre-trust Codecov GPG key to suppress untrusted signature warning
  .github/workflows/main-ci-cd.yml
Due: none

fix(scripts): update-test-counts.sh to match current README format
  scripts/update-test-counts.sh
Due: none

docs: update TODO.md with verified actionable items
  .github/TODO.md
Due: none

chore: add i18n dead key script, remove hero.badge, upgrade tiptap 3.22.2
  frontend/package.json
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
  package-lock.json
  scripts/check-i18n-keys.sh
Due: frontend

docs: update README TipTap badge and mark completed TODO items
  .github/TODO.md
  README.md
Due: none

feat: add privacy policy page with bilingual content
  .github/TODO.md
  frontend/scripts/generate-sitemap.js
  frontend/src/App.tsx
  frontend/src/components/common/Footer.tsx
  frontend/src/components/pages/PrivacyPolicyPage.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

test: add PrivacyPolicyPage tests (6 tests)
  frontend/src/components/pages/__tests__/PrivacyPolicyPage.test.tsx
Due: none

fix: rewrite privacy policy to comply with Korean PIPA Article 30
  frontend/src/components/pages/PrivacyPolicyPage.tsx
  frontend/src/components/pages/__tests__/PrivacyPolicyPage.test.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

docs: update TODO and README test counts (1180 frontend + 366 backend)
  .github/TODO.md
  README.md
Due: none

docs: mark README test count update as done, clean TODO
  .github/TODO.md
Due: none

fix: update NOTES.md privacy status and align pre-deploy build command
  NOTES.md
  scripts/pre-deploy-check.sh
Due: none

refactor(scripts): clean up sitemap generator and prerender
  frontend/scripts/generate-sitemap.js
  frontend/scripts/prerender.js
Due: none

docs: add privacy policy to CLAUDE.md, README, and update TODO SEO items
  .github/TODO.md
  CLAUDE.md
  README.md
Due: none

fix(seo): Article mainEntityOfPage, Breadcrumb privacy, 404 noindex
  frontend/src/components/common/NotFound.tsx
  frontend/src/components/common/StructuredData.tsx
  frontend/src/components/common/__tests__/StructuredData.test.tsx
Due: frontend

feat: add year and org type filters to Teaching History page
  frontend/src/components/pages/ProfilePage.tsx
  frontend/src/components/pages/__tests__/ProfilePage.test.tsx
  frontend/src/data/profileData.ts
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

docs: update CLAUDE.md, README, TODO for filter feature and test counts
  .github/TODO.md
  CLAUDE.md
  README.md
Due: none

docs: remove completed filter UI item from TODO
  .github/TODO.md
Due: none

refactor: remove year filter, add 고용노동부(MOEL) as separate org type
  frontend/src/components/pages/ProfilePage.tsx
  frontend/src/components/pages/__tests__/ProfilePage.test.tsx
  frontend/src/data/profileData.ts
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

refactor: merge org types into 4 categories
  frontend/src/components/pages/ProfilePage.tsx
  frontend/src/components/pages/__tests__/ProfilePage.test.tsx
  frontend/src/data/profileData.ts
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

docs: update CLAUDE.md and README for 4-category filter and test counts
  CLAUDE.md
  README.md
Due: none

ci: add i18n unused key check, README consistency and badge version checks
  .github/workflows/pr-checks.yml
Due: none

fix: optimize favicon/logo sizes and correct README descriptions
  README.md
  frontend/public/favicon.ico
  frontend/public/logo192.png
  frontend/public/logo512.png
Due: none

chore: temporarily hide 3 teaching entries and update CLAUDE.md constraints
  CLAUDE.md
  README.md
  frontend/src/components/pages/__tests__/ProfilePage.test.tsx
  frontend/src/data/profileData.ts
Due: frontend

fix: remove dead code, fix race conditions, and repair CI check
  .github/workflows/pr-checks.yml
  README.md
  backend/api/middleware.py
  backend/api/models.py
  backend/api/tests.py
  backend/api/utils.py
  backend/api/views.py
  frontend/src/components/blog/BlogListPage.tsx
  frontend/src/contexts/UIContext.tsx
  frontend/src/contexts/__tests__/UIContext.test.tsx
Due: frontend, backend

fix(ci): handle dynamic i18n template literal keys in unused key check
  .github/workflows/pr-checks.yml
Due: none

fix(ci): add aria-allowed-role to Lighthouse CI warn list
  frontend/lighthouserc.js
Due: none

test: cover ProfilePage All-filter click to reach 100% line coverage
  README.md
  frontend/src/components/pages/__tests__/ProfilePage.test.tsx
Due: none

test: cover all remaining branches for 100% Codecov coverage
  README.md
  frontend/src/components/blog/__tests__/BlogInteractions.test.tsx
  frontend/src/components/common/__tests__/SEOHelmet.test.tsx
  frontend/src/components/pages/__tests__/ProfilePageEdgeCases.test.tsx
Due: none

chore: remove internal strategy doc from git tracking
  .claude/rules/strategy.md
  .gitignore
Due: none

docs: refactor CLAUDE.md and add README drift CI gate
  .github/workflows/pr-checks.yml
  CLAUDE.md
  README.md
Due: none

fix: restore README counts to vitest reality + use real CI gate
  .github/workflows/main-ci-cd.yml
  .github/workflows/pr-checks.yml
  CLAUDE.md
  README.md
  backend/api/tests.py
Due: backend

fix(ci): disable color in vitest run so verify gate's grep can match
  .github/workflows/main-ci-cd.yml
Due: none

docs: note that backend test output is intentionally noisy
  CLAUDE.md
Due: none

deps: bump vite 8.0.3 → 8.0.7 to close dev-server CVEs
  frontend/package.json
  package-lock.json
Due: none

docs: forbid npm audit fix in this repo + sync Vite badge
  CLAUDE.md
  README.md
Due: none

docs: mirror CLAUDE.md operational rules into README Development section
  CLAUDE.md
  README.md
Due: none

docs(readme): restore italic/bold markup in README drift gates to match CLAUDE.md
  README.md
Due: none
