Repository researcherhojin/emelmujiro: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: 60%
        threshold: 5%
        base: auto
        flags:
          - frontend
          - backend
        paths:
          - frontend/src
          - backend
        
    patch:
      default:
        target: 60%
        threshold: 5%
        base: auto
        
comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false
  
flags:
  frontend:
    paths:
      - frontend/src
    carryforward: true
    
  backend:
    paths:
      - backend
    carryforward: true

ignore:
  - "**/__tests__/**"
  - "**/*.test.js"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.js"
  - "**/*.spec.ts"
  - "**/test-utils/**"
  - "**/mock/**"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"

feat: add analytics, Sentry, admin API, httpOnly JWT cookies, and cleanup script
  backend/api/auth.py
  backend/api/authentication.py
  backend/api/serializers.py
  backend/api/urls.py
  backend/api/views.py
  backend/config/settings.py
  backend/uv.lock
  frontend/index.html
  frontend/src/App.tsx
  frontend/src/components/admin/AdminDashboard.tsx
  frontend/src/components/admin/__tests__/AdminDashboard.test.tsx
  frontend/src/components/common/ErrorBoundary.tsx
  frontend/src/components/common/__tests__/ErrorBoundary.test.tsx
  frontend/src/components/sections/CTASection.tsx
  frontend/src/components/sections/HeroSection.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/contexts/__tests__/AuthContext.test.tsx
  frontend/src/main.tsx
  frontend/src/services/__tests__/api.test.ts
  frontend/src/services/api.ts
  frontend/src/utils/analytics.ts
  frontend/src/utils/sentry.ts
  scripts/cleanup-sitevisits.sh
Due: frontend, backend

docs: update CLAUDE.md and README.md with v0.9.10 changes and audit results
  CLAUDE.md
  README.md
Due: none

test: add 28 tests and refactor admin/chat components (D1-D7)
  CLAUDE.md
  README.md
  backend/api/tests.py
  frontend/src/components/admin/AdminDashboard.tsx
  frontend/src/contexts/ChatContext.tsx
  frontend/src/utils/__tests__/analytics.test.ts
Due: frontend, backend

fix: remove unused ChatSettings import to restore ESLint zero-warning policy
  README.md
  frontend/src/contexts/ChatContext.tsx
Due: frontend

docs: refactor README.md — remove completed items and audit details (-302 lines)
  README.md
Due: none

feat: add Cloudflare Worker maintenance page for server downtime
  README.md
  scripts/maintenance-worker.js
Due: none

feat: add auto-deploy webhook and blog coming-soon empty state
  .github/workflows/main-ci-cd.yml
  README.md
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
  scripts/auto-deploy.sh
  scripts/deploy-webhook.js
Due: frontend

docs: update CLAUDE.md and README.md with auto-deploy and maintenance worker
  CLAUDE.md
  README.md
Due: none

ci: add continue-on-error to deploy-mac-mini job
  .github/workflows/main-ci-cd.yml
Due: none

feat: add SSG prerendering, hreflang multilingual SEO, and notification model
  CLAUDE.md
  README.md
  backend/api/admin.py
  backend/api/consumers.py
  backend/api/migrations/0006_add_notification_model.py
  backend/api/models.py
  backend/api/serializers.py
  backend/api/tests.py
  backend/api/urls.py
  backend/api/views.py
  frontend/package.json
  frontend/public/sitemap.xml
  frontend/scripts/generate-sitemap.js
  frontend/scripts/prerender.js
  frontend/src/App.tsx
  frontend/src/__tests__/i18n.test.ts
  frontend/src/components/admin/AdminDashboard.tsx
  frontend/src/components/blog/BlogCard.tsx
  frontend/src/components/blog/BlogDetail.tsx
  frontend/src/components/blog/BlogEditor.tsx
  frontend/src/components/common/Navbar.tsx
  frontend/src/components/common/NotFound.tsx
  frontend/src/components/common/SEOHelmet.tsx
  frontend/src/components/common/UnderConstruction.tsx
  frontend/src/components/common/__tests__/SEOHelmet.test.tsx
  frontend/src/components/pages/ProfilePage.tsx
  frontend/src/components/pages/SharePage.tsx
  frontend/src/hooks/useLocalizedPath.ts
  frontend/src/i18n.ts
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
  frontend/src/main.tsx
Due: frontend, backend

ci: fix prerender build failure and improve deploy workflow
  .github/workflows/main-ci-cd.yml
  .github/workflows/pr-checks.yml
  CLAUDE.md
  README.md
  frontend/package.json
Due: none

ci: cache Playwright browsers in build-frontend job
  .github/workflows/main-ci-cd.yml
Due: none

deps: update @typescript-eslint 8.57.1, framer-motion 12.38.0, msw 2.12.12
  package-lock.json
Due: none

docs: update roadmap — mark A4/B4 done, add ops tasks OP1/OP2
  README.md
Due: none

fix: handle mismatched token length in deploy webhook
  scripts/deploy-webhook.js
Due: none

docs: mark all 1.0 scope items complete
  README.md
Due: none

fix: remove duplicate pt-20 padding on blog pages and allow Cloudflare Insights in CSP
  frontend/index.html
  frontend/src/components/blog/BlogDetail.tsx
  frontend/src/components/blog/BlogEditor.tsx
Due: frontend

fix: graceful hydration fallback when Cloudflare modifies HTML
  frontend/src/main.tsx
Due: frontend

fix: resolve hydration errors, auth request spam, and NCS score update
  frontend/src/contexts/AuthContext.tsx
  frontend/src/contexts/__tests__/AuthContext.test.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
  frontend/src/main.tsx
Due: frontend

docs: remove completed sections from README
  README.md
Due: none

docs: remove deploy guides from public README for security
  README.md
Due: none

fix: replace mailto CTA links with /contact navigation
  frontend/src/components/common/Footer.tsx
  frontend/src/components/common/__tests__/Footer.test.tsx
  frontend/src/components/pages/AboutPage.tsx
  frontend/src/components/pages/__tests__/AboutPage.test.tsx
  frontend/src/components/sections/CTASection.tsx
  frontend/src/components/sections/HeroSection.tsx
  frontend/src/components/sections/__tests__/CTASection.test.tsx
  frontend/src/components/sections/__tests__/HeroSection.test.tsx
Due: frontend

chore: suppress i18next Locize support notice in console
  frontend/src/i18n.ts
Due: frontend

feat: add coming soon empty state for blog, hide search when empty
  frontend/src/components/blog/BlogListPage.tsx
  frontend/src/components/blog/__tests__/BlogListPage.test.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

style: redesign blog page with section-based layout
  frontend/src/components/blog/BlogListPage.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

style: add Construction icon to blog coming soon state
  frontend/src/components/blog/BlogListPage.tsx
Due: frontend

docs: add remaining operational tasks to README
  README.md
Due: none

style: increase blog construction icon size (w-12 → w-20)
  frontend/src/components/blog/BlogListPage.tsx
Due: frontend

docs: update to v1.0 — all scope items complete
  CLAUDE.md
  README.md
  frontend/package.json
Due: none

fix: update google-site-verification meta tag
  frontend/index.html
Due: none

fix: improve SEO — add Article schema, SharePage helmet, fix structured data
  CLAUDE.md
  README.md
  frontend/index.html
  frontend/src/components/blog/BlogDetail.tsx
  frontend/src/components/common/StructuredData.tsx
  frontend/src/components/pages/SharePage.tsx
  frontend/src/components/pages/__tests__/SharePage.test.tsx
Due: frontend

ci: add Sentry DSN to auto-deploy build
  scripts/auto-deploy.sh
Due: none

ci: add Google Analytics tracking ID to auto-deploy build
  scripts/auto-deploy.sh
Due: none

docs: update README — mark Sentry and GA as active
  README.md
Due: none

style: redesign blog UI with premium Apple/Samsung aesthetic
  frontend/src/components/blog/BlogCard.tsx
  frontend/src/components/blog/BlogDetail.tsx
  frontend/src/components/blog/BlogListPage.tsx
  frontend/src/components/blog/BlogSearch.tsx
Due: frontend

refactor: remove dead code, clean up README, update tech versions
  README.md
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
  frontend/src/test-utils/renderWithProviders.tsx
Due: frontend

fix: correct Node/Python badge versions (Node 24, Python 3.12)
  README.md
Due: none

docs: simplify README — remove redundant status/feature tables
  README.md
Due: none

docs: rewrite README in English for open-source context
  README.md
Due: none
