Repository researcherhojin/emelmujiro: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

fix: remove unused variable and fix black formatting in tests
  backend/api/tests.py
Due: backend

test: add 61 backend tests, fix rate limit contamination, coverage 91% → 95%
  .prettierignore
  CLAUDE.md
  README.md
  backend/api/tests.py
Due: backend

fix(ci): add root_dir to backend Codecov upload for correct path mapping
  .github/workflows/main-ci-cd.yml
Due: none

test: add 24 backend tests, coverage 95% → 98%
  CLAUDE.md
  README.md
  backend/api/tests.py
Due: backend

refactor: extract Footer link data into arrays, eliminate CSS duplication
  frontend/src/components/common/Footer.tsx
Due: frontend

test: add 10 backend tests targeting remaining coverage gaps
  backend/api/tests.py
Due: backend

feat: add 61 frontend tests, fix i18n, coverage 87% → 89%
  CLAUDE.md
  README.md
  frontend/src/components/blog/BlogListPage.tsx
  frontend/src/components/blog/__tests__/BlogCard.test.tsx
  frontend/src/components/blog/__tests__/BlogListPage.test.tsx
  frontend/src/components/blog/__tests__/BlogSearch.test.tsx
  frontend/src/contexts/__tests__/AuthContext.test.tsx
  frontend/src/contexts/__tests__/NotificationContext.test.tsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

fix(ci): rewrite coverage.xml paths for correct Codecov mapping
  .github/workflows/main-ci-cd.yml
Due: none

fix: reset Codecov flags and exclude untestable files
  codecov.yml
Due: none

ci: add debug output for coverage.xml path verification
  .github/workflows/main-ci-cd.yml
Due: none

fix(ci): remove --parallel from backend coverage to fix incomplete data
  .github/workflows/main-ci-cd.yml
Due: none

test: add Layout KakaoTalk banner and sentry context tests
  frontend/src/components/layout/__tests__/Layout.test.tsx
  frontend/src/utils/__tests__/sentry.test.ts
Due: none

docs: update test counts to 1095 frontend + 341 backend
  CLAUDE.md
  README.md
Due: none

ci: upgrade GitHub Pages actions to Node.js 24 compatible versions
  .github/workflows/main-ci-cd.yml
Due: none

fix(ci): revert GitHub Pages actions to v4/v5 (v6 does not exist yet)
  .github/workflows/main-ci-cd.yml
Due: none

ci: ignore untestable frontend files in Codecov
  codecov.yml
Due: none

test: add blogPosts and TipTapEditor tests (1095 → 1141)
  CLAUDE.md
  README.md
  frontend/src/components/blog/__tests__/TipTapEditor.test.tsx
  frontend/src/data/__tests__/blogPosts.test.ts
Due: none

test: add 5 backend tests for suspicious email and slug retry
  backend/api/tests.py
Due: backend

docs: correct test counts after reverting broken agent tests
  CLAUDE.md
  README.md
Due: none

test: add 42 frontend tests, coverage 90% → 93%
  CLAUDE.md
  README.md
  frontend/src/components/common/__tests__/Navbar.test.tsx
  frontend/src/components/common/__tests__/NotificationBell.test.tsx
  frontend/src/components/pages/__tests__/SharePage.test.tsx
  frontend/src/contexts/__tests__/NotificationContext.test.tsx
  frontend/src/utils/__tests__/analytics.test.ts
Due: none

test: push 7 files to 95%+, frontend coverage 93% → 94%
  CLAUDE.md
  README.md
  frontend/src/components/blog/__tests__/BlogEditor.test.tsx
  frontend/src/components/pages/__tests__/ContactPage.test.tsx
  frontend/src/components/pages/__tests__/ProfilePage.test.tsx
  frontend/src/components/sections/__tests__/CTASection.test.tsx
  frontend/src/components/sections/__tests__/HeroSection.test.tsx
  frontend/src/utils/__tests__/accessibility.test.ts
  frontend/src/utils/__tests__/logger.test.ts
Due: none

test: push 10 files to 100%, frontend coverage 94% → 96%
  CLAUDE.md
  README.md
  frontend/src/components/blog/__tests__/BlogComments.test.tsx
  frontend/src/components/blog/__tests__/BlogDetail.test.tsx
  frontend/src/components/blog/__tests__/BlogSearch.test.tsx
  frontend/src/components/common/__tests__/Navbar.test.tsx
  frontend/src/components/common/__tests__/NotificationBell.test.tsx
  frontend/src/components/common/__tests__/SEOHelmet.test.tsx
  frontend/src/components/pages/__tests__/SharePage.test.tsx
  frontend/src/contexts/__tests__/NotificationContext.test.tsx
  frontend/src/contexts/__tests__/UIContext.test.tsx
  frontend/src/services/__tests__/api.test.ts
  frontend/src/services/__tests__/websocket.test.ts
  frontend/src/utils/__tests__/sentry.test.ts
Due: none

test: add NotificationContext WS error and Navbar hash path tests
  frontend/src/components/common/__tests__/Navbar.test.tsx
  frontend/src/contexts/__tests__/NotificationContext.test.tsx
Due: none

refactor: remove Navbar dead code, extract NotificationContext wsSend
  frontend/src/components/common/Navbar.tsx
  frontend/src/components/common/__tests__/Navbar.test.tsx
  frontend/src/contexts/NotificationContext.tsx
Due: frontend

docs: update test counts to 1204 frontend + 346 backend
  CLAUDE.md
  README.md
Due: none

test: add UIContext matchMedia guard test (line 127)
  frontend/src/contexts/__tests__/UIContext.test.tsx
Due: none

fix: SEO heading hierarchy, N+1 query, TypeScript errors
  backend/api/views.py
  frontend/src/components/layout/__tests__/Layout.test.tsx
  frontend/src/components/sections/CTASection.tsx
  frontend/src/components/sections/LogosSection.tsx
  frontend/src/components/sections/ServicesSection.tsx
  frontend/src/components/sections/__tests__/CTASection.test.tsx
  frontend/src/components/sections/__tests__/LogosSection.test.tsx
Due: frontend, backend

docs: update test count to 1205 frontend tests
  CLAUDE.md
  README.md
Due: none

docs: update Vitest badge version 4.0 → 4.1
  README.md
Due: none

ci: ignore env.ts and i18n.ts in Codecov
  codecov.yml
Due: none

fix: replace flaky logger production test with stable version
  frontend/src/utils/__tests__/logger.test.ts
Due: none

docs: fix Vitest badge version 4.1 → 4.0 (matches vitest package)
  README.md
Due: none

test: achieve 100% backend coverage and improve frontend coverage
  CLAUDE.md
  CONTRIBUTING.md
  Makefile
  README.md
  backend/api/tests.py
  frontend/package.json
  frontend/scripts/generate-og-image.js
  frontend/src/components/blog/__tests__/BlogSearch.test.tsx
  frontend/src/contexts/__tests__/NotificationContext.test.tsx
  frontend/src/utils/__tests__/logger.test.ts
  package.json
  scripts/check-ports.sh
  scripts/cleanup-sitevisits.sh
  scripts/docker-build.sh
  scripts/kill-ports.sh
  scripts/maintenance-worker.js
  scripts/ports.sh
  scripts/update-test-counts.sh
Due: backend

ci: include consumers.py and routing.py in Codecov coverage
  codecov.yml
Due: none

refactor(api): move uuid import to module level in views.py
  backend/api/views.py
Due: backend

chore: align Python version constraint and vitest versions
  backend/pyproject.toml
  frontend/package.json
  package-lock.json
Due: backend

chore: add .dockerignore, .flake8 config, and cleanup
  .lintstagedrc.js
  backend/.dockerignore
  backend/.flake8
  backend/pyproject.toml
  backend/uv.lock
  frontend/.dockerignore
Due: backend

chore: persist Django logs via Docker volume
  .gitignore
  Makefile
  backend/Dockerfile
  backend/config/settings.py
  docker-compose.yml
Due: backend

fix(test): add missing react-i18next mock to Layout.test.tsx
  frontend/src/components/layout/__tests__/Layout.test.tsx
Due: none

test: achieve 100% branch coverage for BlogInteractions and Navbar
  frontend/src/components/blog/__tests__/BlogInteractions.test.tsx
  frontend/src/components/common/__tests__/Navbar.test.tsx
Due: none

Path conditions:
  frontend: any of: frontend/src, but not: **/__tests__/**, **/*.test.js, **/*.test.ts, **/*.test.tsx, **/*.spec.js, **/*.spec.ts, **/test-utils/**, **/mock/**, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts
  backend: any of: backend, but not: **/__tests__/**, **/*.test.js, **/*.test.ts, **/*.test.tsx, **/*.spec.js, **/*.spec.ts, **/test-utils/**, **/mock/**, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts
