Repository researcherhojin/emelmujiro: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: 60%
        threshold: 5%
        base: auto
        flags:
          - frontend
          - backend
        paths:
          - frontend/src
          - backend
        
    patch:
      default:
        target: 60%
        threshold: 5%
        base: auto
        
comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false
  
flags:
  frontend:
    paths:
      - frontend/src
    carryforward: true
    
  backend:
    paths:
      - backend
    carryforward: true

ignore:
  - "**/__tests__/**"
  - "**/*.test.js"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.js"
  - "**/*.spec.ts"
  - "**/test-utils/**"
  - "**/mock/**"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"

ci: register the uv ecosystem in dependabot for backend Python deps
  .github/dependabot.yml
  CHANGELOG.md
Due: none

deps-dev: align @typescript-eslint plugin and parser to 8.67.0
  CHANGELOG.md
  frontend/package.json
  package-lock.json
Due: none

deps: bump gunicorn to 26.0.0, ipython, coverage, setuptools floor
  README.md
  backend/pyproject.toml
  backend/uv.lock
Due: backend

deps: bump @sentry/react, @types/node, @types/react-dom, knip, postcss-selector-parser
  CHANGELOG.md
  frontend/package.json
  package-lock.json
  package.json
Due: none

ci: deploy drift check so auto-merged commits reach production
  .github/workflows/deploy-drift-check.yml
Due: none

ci: gate the four backend README badges, 14 to 18 checked
  .github/workflows/pr-checks.yml
  CHANGELOG.md
  CLAUDE.md
  scripts/sync-readme-badges.sh
Due: none

test(e2e): cover /privacy in the SEO spec, closing a 4-of-5 gap
  CHANGELOG.md
  frontend/e2e/seo.spec.ts
Due: none

ci: gate spelling with a pinned cspell, and fix the 7 real findings
  .github/workflows/pr-checks.yml
  CHANGELOG.md
  CLAUDE.md
  CONTRIBUTING.md
  cspell.json
  frontend/e2e/error-states.spec.ts
  package-lock.json
  package.json
  scripts/check-commit-msg.sh
Due: none

docs: audit every quantitative claim in all 6 markdown files
  .claude/rules/frontend.md
  CHANGELOG.md
Due: none

docs: record that Lighthouse CI never audits a prerendered document
  .claude/rules/frontend.md
  CHANGELOG.md
  CLAUDE.md
Due: none

docs: recompute the CLAUDE.md size line after the cspell merge
  CLAUDE.md
Due: none

deps: bump sqlparse to 0.6.0 for three HIGH DoS advisories
  backend/uv.lock
Due: backend

docs: record the route-list check and re-audit the markdown claims
  CHANGELOG.md
  CLAUDE.md
Due: none

ci: cross-reference the four hardcoded route lists
  .github/workflows/pr-checks.yml
  cspell.json
  frontend/e2e/seo.spec.ts
  frontend/package.json
  frontend/scripts/check-route-lists.js
Due: none

docs: backfill the missing CHANGELOG entry for the sqlparse CVE bump
  CHANGELOG.md
Due: none

docs: merge the duplicate Security section under [Unreleased]
  CHANGELOG.md
Due: none

feat(profile): add AI NLP bootcamp 5th cohort mentoring to teaching history
  CHANGELOG.md
  README.md
  frontend/src/components/pages/ProfilePage.tsx
  frontend/src/data/profileData.ts
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

docs: compress the npm audit gotcha without dropping a measurement
  CLAUDE.md
Due: none

fix(api): throttle newsletter signups at the configured 3/hour
  .claude/rules/backend.md
  CHANGELOG.md
  README.md
  backend/api/tests.py
  backend/api/views.py
Due: backend

docs: correct two self-counting claims and backfill the CHANGELOG
  .claude/rules/backend.md
  CHANGELOG.md
  CLAUDE.md
Due: none

fix(seo): cover the duplicate-tag path and drop a no-op key fallback
  CHANGELOG.md
  README.md
  frontend/src/components/common/SEOHelmet.tsx
  frontend/src/components/common/__tests__/SEOHelmet.test.tsx
Due: frontend

docs: record the dependabot queue clear and fold three learnings into gotchas
  CHANGELOG.md
  CLAUDE.md
Due: none

ci: file a GitHub issue when the drift check finds production unreachable
  .github/workflows/deploy-drift-check.yml
  CHANGELOG.md
  CLAUDE.md
  cspell.json
Due: none

docs: update the self-referential CLAUDE.md size figure to 45.0 KB
  CLAUDE.md
Due: none
