Repository researcherhojin/emelmujiro: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

fix(deps): bump urllib3 to 2.7.0 to patch CVE-2026-44431/44432
  backend/uv.lock
Due: backend

docs(changelog): record 2026-05-18 → 05-26 dependabot wave + drift fixes
  CHANGELOG.md
Due: none

docs(contributing): refactor to Karpathy-style invariants
  CONTRIBUTING.md
Due: none

docs(cspell): add 'vulns' and 'karpathy' for CHANGELOG refactor
  cspell.json
Due: none

docs(readme): fix Teaching History count 35 → 39
  README.md
Due: none

docs(claude): Karpathy/gstack-style refactor — 39,863 → 31,195 chars
  CLAUDE.md
Due: none

docs: refactor .md files to Karpathy/gstack style (#309)
  CHANGELOG.md
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  cspell.json
Due: none

feat(profile): add Starbucks Korea + KLFCC teaching entries
  README.md
  frontend/src/data/profileData.ts
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

fix(logos): clamp img max-w-40 to prevent ultra-wide overflow
  frontend/src/components/sections/LogosSection.tsx
Due: frontend

fix(profile): remove '5월' from Starbucks teaching entry title
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

docs(cspell): bulk-add project terms + ignorePaths for lockfiles
  cspell.json
Due: none

fix(vitest): import defineConfig from 'vitest/config' instead of 'vite'
  frontend/vitest.config.ts
Due: none

fix(logos): normalize Starbucks + Imunity SVG aspect ratios to 3:1
  frontend/src/assets/logos/imunityLogo.svg
  frontend/src/assets/logos/starbucksLogo.svg
  frontend/src/constants/partners.ts
Due: frontend

fix(partners): rigorous 12/12 row split + strict P-E alternating Row 2
  frontend/src/constants/partners.ts
Due: frontend

docs(changelog): backfill 7 post-PR-#309 commits
  CHANGELOG.md
Due: none

feat(contact): track failed attempts for spam detection
  README.md
  backend/api/admin.py
  backend/api/constants.py
  backend/api/migrations/0012_contactattempt_failure_count.py
  backend/api/models.py
  backend/api/tests.py
  backend/api/views.py
Due: backend

fix(frontend): vitest 4 poolOptions + drop stale eslint-disable
  frontend/src/utils/sentry.ts
  frontend/vitest.config.ts
Due: frontend

chore(tooling): zero cspell backlog + drop dead jsdom docblocks
  CHANGELOG.md
  cspell.json
  frontend/src/components/common/__tests__/SkeletonLoader.test.tsx
  frontend/src/components/common/__tests__/SkipLink.test.tsx
  frontend/src/components/common/__tests__/UnifiedLoading.test.tsx
  frontend/src/utils/__tests__/accessibility.test.ts
Due: none

ci: drop --parallel from affected-code backend test step
  .github/workflows/pr-checks.yml
  CHANGELOG.md
Due: none

docs: rigorous 2026-06-04 verification pass + finish cspell dictionary
  CHANGELOG.md
  CLAUDE.md
  cspell.json
Due: none

fix(frontend): use maxWorkers for vitest 4 pool concurrency
  CHANGELOG.md
  frontend/vitest.config.ts
Due: none

fix: contact spam failure tracking + green CI + zero IDE backlog (#316)
  .github/workflows/pr-checks.yml
  CHANGELOG.md
  CLAUDE.md
  README.md
  backend/api/admin.py
  backend/api/constants.py
  backend/api/migrations/0012_contactattempt_failure_count.py
  backend/api/models.py
  backend/api/tests.py
  backend/api/views.py
  cspell.json
  frontend/src/components/common/__tests__/SkeletonLoader.test.tsx
  frontend/src/components/common/__tests__/SkipLink.test.tsx
  frontend/src/components/common/__tests__/UnifiedLoading.test.tsx
  frontend/src/utils/__tests__/accessibility.test.ts
  frontend/src/utils/sentry.ts
  frontend/vitest.config.ts
Due: frontend, backend

deps: bundle @tiptap/* 3.25.0 + knip 6.15.0
  CHANGELOG.md
  frontend/package.json
  package-lock.json
  package.json
Due: none

docs: sync README TipTap badge 3.23.6 -> 3.24.0
  README.md
Due: none

deps: bundle @tiptap/* 3.25.0 + knip 6.15.0 (supersedes #310–#315) (#317)
  CHANGELOG.md
  README.md
  frontend/package.json
  package-lock.json
  package.json
Due: none

chore(vscode): drop deprecated eslint.packageManager setting
  frontend/.vscode/settings.json
Due: none

fix(nginx): stop .well-known/cdn-cgi 404s from serving the SPA shell
  CHANGELOG.md
  frontend/nginx.conf
Due: none

ci(deploy): force-recreate frontend when nginx.conf changes
  CHANGELOG.md
  scripts/auto-deploy.sh
Due: none

fix(deploy): validate nginx.conf inside running container, not throwaway
  CHANGELOG.md
  scripts/auto-deploy.sh
Due: none

deps: bundle @tiptap/* 3.26.0 + axios 1.17.0 + knip 6.16.1, sync badges
  README.md
  frontend/package.json
  package-lock.json
  package.json
Due: none

ci(codecov): make GPG key pre-trust best-effort, don't hard-fail on key-host outage
  .github/actions/setup-codecov/action.yml
Due: none

chore(cspell): allow mktemp, Keybase, keyserver, elif, hkps, ownertrust
  cspell.json
Due: none

chore(profile): drop upcoming 2026 entries (국회도서관, 충청에너지서비스)
  frontend/src/data/profileData.ts
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

feat(profile): surface 2026 KEITI AI에코혁신랩 teaching entry
  frontend/src/data/profileData.ts
Due: frontend

fix(profile): reclassify 멋쟁이사자처럼 bootcamp as enterprise
  frontend/src/data/profileData.ts
Due: frontend

feat(profile): pre-schedule 2026 UST + 이화여대 teaching entries
  frontend/src/components/pages/ProfilePage.tsx
  frontend/src/data/profileData.ts
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/ko.json
Due: frontend

feat(profile): surface KEITI entry now (class starts 2026-06-09)
  frontend/src/data/profileData.ts
Due: frontend

style(profile): order 2026 teaching entries newest-first
  frontend/src/data/profileData.ts
Due: frontend

docs: log 2026-06 deps/teaching/codecov work + fix Gotcha #6 audit count
  CHANGELOG.md
  CLAUDE.md
Due: none

docs(claude): split CLAUDE.md into path-scoped .claude/rules/
  .claude/rules/backend.md
  .claude/rules/frontend.md
  .gitignore
  CHANGELOG.md
  CLAUDE.md
Due: none

Path conditions:
  frontend: any of: frontend/src, but not: **/__tests__/**, **/*.test.js, **/*.test.ts, **/*.test.tsx, **/*.spec.js, **/*.spec.ts, **/test-utils/**, **/mock/**, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts
  backend: any of: backend, but not: **/__tests__/**, **/*.test.js, **/*.test.ts, **/*.test.tsx, **/*.spec.js, **/*.spec.ts, **/test-utils/**, **/mock/**, frontend/src/setupTests.ts, frontend/src/reportWebVitals.ts
