Repository researcherhojin/emelmujiro: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "60...90"
  
  status:
    project:
      default:
        target: 60%
        threshold: 5%
        base: auto
        flags:
          - frontend
          - backend
        paths:
          - frontend/src
          - backend
        
    patch:
      default:
        target: 60%
        threshold: 5%
        base: auto
        
comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false
  
flags:
  frontend:
    paths:
      - frontend/src
    carryforward: true
    
  backend:
    paths:
      - backend
    carryforward: true

ignore:
  - "**/__tests__/**"
  - "**/*.test.js"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.js"
  - "**/*.spec.ts"
  - "**/test-utils/**"
  - "**/mock/**"
  - "frontend/src/setupTests.ts"
  - "frontend/src/reportWebVitals.ts"

test: Logger 테스트에서 isDevelopment 직접 설정
  frontend/src/utils/__tests__/logger.test.ts
Due: none

fix: 테스트 실패 수정 및 불필요한 workflow 비활성화
  .github/workflows/dependabot-auto-merge.yml.disabled
  .github/workflows/setup-labels.yml.disabled
  frontend/src/components/pages/__tests__/SharePage.test.tsx
  frontend/src/utils/__tests__/logger.test.ts
Due: none

fix: 테스트 실패 최종 수정 및 불필요한 workflow 삭제
  .github/workflows/dependabot-auto-merge.yml.disabled
  .github/workflows/setup-labels.yml.disabled
  frontend/src/components/pages/__tests__/SharePage.test.tsx
  frontend/src/services/__tests__/api.additional.test.ts
Due: none

test: USE_MOCK_API로 인한 실패 테스트 skip 처리
  frontend/src/components/pages/__tests__/SharePage.test.tsx
  frontend/src/services/__tests__/api.additional.test.ts
Due: none

docs: README.md 종합 업데이트 및 누락된 기능 문서화
  README.md
Due: none

feat: 테스트 커버리지 개선 및 주요 기능 구현
  backend/api/consumers.py
  backend/api/routing.py
  backend/config/asgi.py
  backend/config/settings.py
  backend/requirements.txt
  frontend/src/App.tsx
  frontend/src/components/admin/AdminDashboard.tsx
  frontend/src/types/__tests__/types.test.ts
  frontend/src/types/index.ts
  frontend/src/utils/__tests__/constants.test.ts
  frontend/src/utils/__tests__/i18nFormatters.test.ts
  frontend/src/utils/__tests__/pwaUtils.test.ts
  frontend/src/utils/__tests__/webVitals.test.ts
  frontend/src/utils/constants.ts
Due: frontend, backend

fix: TypeScript 타입 오류 및 ESLint 경고 수정
  frontend/src/components/admin/AdminDashboard.tsx
  frontend/src/components/blog/BlogEditor.tsx
  frontend/src/components/sections/BlogSection.tsx
  frontend/src/services/mockData.ts
  frontend/src/utils/i18nFormatters.ts
Due: frontend

feat: SEO \uac15\ud654 \ubc0f Next.js \ub9c8\uc774\uadf8\ub808\uc774\uc158 \ubd84\uc11d
  frontend/docs/next-js-migration-analysis.md
  frontend/package.json
  frontend/public/robots.txt
  frontend/public/sitemap-index.xml
  frontend/public/sitemap.xml
  frontend/scripts/generate-sitemap.js
  frontend/src/components/seo/SEOHead.tsx
  frontend/src/pages/HomePage.tsx
  package-lock.json
Due: frontend

fix: AdminDashboard ESLint \uacbd\uace0 \uc218\uc815 - \ubbf8\uc0ac\uc6a9 \ub9e4\uac1c\ubcc0\uc218\uc5d0 underscore prefix \ucd94\uac00
  frontend/src/components/admin/AdminDashboard.tsx
Due: frontend

fix: TypeScript 타입 오류 및 테스트 실패 수정
  frontend/public/sitemap.xml
  frontend/src/__tests__/integration/BlogFlow.test.tsx
  frontend/src/__tests__/serviceWorkerRegistration.test.ts
  frontend/src/components/admin/__tests__/AdminDashboard.test.tsx
  frontend/src/components/blog/__tests__/BlogCard.test.tsx
  frontend/src/components/blog/__tests__/BlogDetail.test.tsx
  frontend/src/components/blog/__tests__/BlogInteractions.test.tsx
  frontend/src/components/chat/__tests__/AdminPanel.test.tsx
  frontend/src/components/chat/__tests__/ChatWidget.test.tsx
  frontend/src/components/common/__tests__/SkeletonScreen.test.tsx
  frontend/src/components/sections/__tests__/BlogSection.test.tsx
  frontend/src/components/sections/__tests__/CareerSection.test.tsx
  frontend/src/components/sections/__tests__/CareerSummarySection.test.tsx
  frontend/src/components/sections/__tests__/EducationSection.test.tsx
  frontend/src/components/sections/__tests__/QuickIntroSection.test.tsx
  frontend/src/components/seo/__tests__/SEOHead.test.tsx
  frontend/src/contexts/ChatContext.tsx
  frontend/src/contexts/__tests__/BlogContext.test.tsx
  frontend/src/data/__tests__/blogPosts.test.ts
  frontend/src/data/blogPosts.ts
  frontend/src/pages/__tests__/HomePage.test.tsx
  frontend/src/serviceWorkerRegistration.ts
  frontend/src/services/__tests__/api.comprehensive.test.ts
  frontend/src/services/__tests__/api.test.ts
  frontend/src/services/__tests__/websocket.test.ts
  frontend/src/services/websocket.ts
  frontend/src/utils/__tests__/i18nFormatters.test.ts
  frontend/src/utils/__tests__/pwaUtils.test.ts
  frontend/src/utils/__tests__/webVitals.test.ts
  frontend/src/utils/i18nFormatters.ts
  frontend/src/utils/pwaUtils.ts
Due: frontend

fix: Replace fail() with throw new Error() in tests
  frontend/src/services/__tests__/api.comprehensive.test.ts
Due: none

fix: CI/CD 메모리 문제 및 테스트 실패 수정
  .github/workflows/main-ci-cd.yml
  frontend/src/components/sections/__tests__/QuickIntroSection.test.tsx
Due: none

fix: 프론트엔드 테스트 최적화로 CI/CD 타임아웃 해결
  frontend/package.json
  frontend/src/components/chat/__tests__/AdminPanel.test.tsx
  frontend/src/services/__tests__/websocket.test.ts
Due: none

fix: CRA에서 지원하지 않는 Jest 옵션 제거
  frontend/package.json
Due: none

perf: CI 테스트 성능 최적화
  .github/workflows/main-ci-cd.yml
  frontend/src/__tests__/integration/BlogFlow.test.tsx
  frontend/src/__tests__/serviceWorkerRegistration.test.ts
  frontend/src/components/chat/__tests__/ChatWidget.test.tsx
  frontend/src/components/chat/__tests__/ChatWindow.test.tsx
  frontend/src/components/chat/__tests__/EmojiPicker.test.tsx
  frontend/src/components/chat/__tests__/FileUpload.test.tsx
  frontend/src/components/chat/__tests__/MessageList.test.tsx
  frontend/src/components/chat/__tests__/QuickReplies.test.tsx
  frontend/src/services/__tests__/api.comprehensive.test.ts
  frontend/src/services/__tests__/api.integration.test.ts
  frontend/src/services/__tests__/websocket.test.ts
  frontend/src/setupTests.ts
  frontend/src/setupTestsCI.js
Due: frontend

fix: CI 테스트 실패 수정 - pwaUtils 테스트 CI 스킵 추가
  frontend/src/setupTestsCI.js
  frontend/src/utils/__tests__/pwaUtils.test.ts
Due: frontend

fix: webVitals 테스트 CI 스킵 추가
  frontend/src/utils/__tests__/webVitals.test.ts
Due: none

fix: TypeScript 빌드 에러 수정
  frontend/public/robots.txt
  frontend/public/sitemap-index.xml
  frontend/public/sitemap.xml
  frontend/src/hooks/usePerformance.ts
Due: frontend

docs: README.md 대규모 업데이트 및 로드맵 추가
  .github/workflows/main-ci-cd.yml
  README.md
  frontend/public/robots.txt
Due: none

fix: 섹션 컴포넌트 테스트 수정
  frontend/src/components/sections/__tests__/CareerSection.test.tsx
  frontend/src/components/sections/__tests__/CareerSummarySection.test.tsx
  frontend/src/components/sections/__tests__/EducationSection.test.tsx
Due: none

feat: 프로덕션 배포 준비 완료 - 에러 처리 및 최적화
  .npmrc
  DEPLOYMENT_CHECKLIST.md
  README.md
  frontend/bundle-analysis.json
  frontend/craco.config.js
  frontend/package.json
  frontend/public/robots.txt
  frontend/public/sitemap-index.xml
  frontend/public/sitemap.xml
  frontend/scripts/optimize-images.js
  frontend/src/assets/logos/elice.png
  frontend/src/assets/logos/nipa.jpg
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/admin/__tests__/AdminDashboard.test.tsx
  frontend/src/components/chat/__tests__/ChatWindow.advanced.test.tsx
  frontend/src/components/common/__tests__/InstallPrompt.test.tsx
  frontend/src/components/sections/__tests__/CareerSection.test.tsx
  frontend/src/components/sections/__tests__/CareerSummarySection.test.tsx
  frontend/src/components/sections/__tests__/EducationSection.test.tsx
  frontend/src/components/sections/__tests__/QuickIntroSection.test.tsx
  frontend/src/components/seo/MetaTags.tsx
  frontend/src/config/environment.ts
  frontend/src/pages/NotFound.tsx
  frontend/src/pages/ServerError.tsx
  frontend/src/services/__tests__/api.additional.test.ts
  frontend/src/services/__tests__/api.test.ts
  frontend/src/services/api.ts
  frontend/src/services/mockData.ts
  frontend/src/services/websocket.ts
  frontend/src/utils/optimizeImports.ts
  frontend/src/utils/sentry.ts
  package-lock.json
  scripts/pre-deploy-check.sh
Due: frontend

fix: CI/CD 파이프라인 이슈 해결
  frontend/Dockerfile
  frontend/package.json
  frontend/src/components/sections/__tests__/EducationSection.test.tsx
Due: none

feat: SEO 최적화 및 README 업데이트
  README.md
  frontend/package.json
  frontend/src/components/seo/SEOHead.tsx
  frontend/src/utils/seo.ts
  package-lock.json
  package.json
Due: frontend

fix: CI/CD 파이프라인 빌드 에러 수정
  frontend/craco.config.js
  frontend/package.json
  frontend/public/sitemap.xml
  package-lock.json
Due: none

fix: CI/CD 테스트 오류 수정
  frontend/src/components/chat/__tests__/ChatWindow.advanced.test.tsx
  frontend/src/components/common/__tests__/InstallPrompt.test.tsx
Due: none

fix: SkeletonLoader 컴포넌트 완전 구현 및 타입 에러 해결
  frontend/src/components/common/SkeletonLoader.tsx
Due: frontend

chore: 린터 자동 수정 - 미사용 import 제거
  frontend/src/services/__tests__/api.comprehensive.test.ts
Due: none

fix: ContactPage 테스트 실패 해결 및 README 업데이트
  README.md
  frontend/src/components/pages/__tests__/ContactPage.test.tsx
Due: none

refactor: 대규모 코드베이스 리팩토링 및 문서 개선
  CONTRIBUTING.md
  LICENSE
  README.md
  frontend/src/components/common/Footer.tsx
  frontend/src/components/pages/ProfilePage.tsx
  frontend/src/data/footerData.ts
  frontend/src/data/profileData.ts
  frontend/src/services/__tests__/websocket.test.ts
  frontend/src/services/websocket.ts
Due: frontend

docs: README에 향후 개선 로드맵 추가
  README.md
Due: none

fix: 프로필 페이지 경력 사항 시간순 정렬
  frontend/src/components/pages/ProfilePage.tsx
  frontend/src/data/profileData.ts
Due: frontend

fix: GitHub Pages 문의하기 버튼 에러 수정 및 console 문 제거
  frontend/public/sitemap-index.xml
  frontend/public/sitemap.xml
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/pages/ContactPage.tsx
  frontend/src/config/environment.ts
  frontend/src/serviceWorkerRegistration.ts
  frontend/src/services/api.ts
  frontend/src/services/websocket.ts
Due: frontend

refactor: Phase 1 완료 - any 타입 제거 및 TODO 주석 정리
  frontend/src/components/chat/__tests__/ChatWindow.advanced.test.tsx
  frontend/src/components/chat/__tests__/MessageList.test.tsx
  frontend/src/components/common/__tests__/Footer.test.tsx
  frontend/src/components/common/__tests__/InstallPrompt.test.tsx
  frontend/src/components/common/__tests__/OptimizedImage.test.tsx
  frontend/src/services/__tests__/api.additional.test.ts
  frontend/src/services/__tests__/api.comprehensive.test.ts
  frontend/src/utils/__tests__/pwaUtils.test.ts
  frontend/src/utils/__tests__/webVitals.test.ts
Due: none

refactor: ContactPage 컴포넌트 구조 개선 및 테스트 수정
  frontend/src/components/contact/ContactForm.tsx
  frontend/src/components/contact/ContactInfo.tsx
  frontend/src/components/contact/ServiceCards.tsx
  frontend/src/components/pages/ContactPage.tsx
  frontend/src/components/pages/__tests__/ContactPage.test.tsx
  frontend/src/types/index.ts
Due: frontend

fix: AdminPanel 테스트에서 미사용 변수 제거
  frontend/src/components/chat/__tests__/AdminPanel.test.tsx
Due: none

fix: PWA 유틸리티 및 OfflineIndicator 타입 에러 수정
  frontend/src/components/common/OfflineIndicator.tsx
  frontend/src/utils/pwaUtils.ts
Due: frontend

docs: README.md 업데이트 - 현재 테스트 상태 반영
  README.md
Due: none
